[2020-06-09 08:49] ranarn commented on #555
Any update on this?

[2020-06-09 20:49] damccorm commented on #642
Hi @fredrikhr this library is designed specifically for writing PowerShell tasks themselves, which are guaranteed to only run on PowerShell. The library is not meant for PowerShell Core

[2020-06-09 20:49] #642 closed

[2020-06-16 14:06] tillig commented on #621
[It appears this is still an issue.](https://github.com/microsoft/azure-pipelines-task-lib/blob/34e17f6ca02c256bcb4e121880f6d4b7da65eed2/node/mock-answer.ts#L45)

[2020-06-16 20:15] mcafaro opened #644 "Detect if task is running on a Microsoft-hosted agent"
### Environment
azure-pipelines-task-lib version:
^2.9.3

### Issue Description
Is there any reliable way for a task to detect if it is running on a Microsoft-hosted agent? If not, can you please consider adding one? I have a task that has certain capabilities depending on whether it is run on a self-hosted or Microsoft-hosted agent.

I see a number of tasks in the [azure-pipelines-tasks](https://

[2020-06-16 20:30] jessehouwing commented on #644
Sounds like you're not interested in hosted or self hosted agents, but the type of server the agent is connected to.

[2020-06-16 20:35] mcafaro commented on #644
For my particular use-case, I don't actually care what type of server the agent is connected to (which is why `System.ServerType` isn't interesting to me). I'm more concerned with whether the agent is Microsoft-hosted or self-hosted.

[2020-06-20 12:47] knom commented on #630
I'm using
**azure-pipelines-task-lib version: 2.9.5**

This error comes up on Ubuntu 18 as well as Windows..

When will this be fixed?

[2020-06-20 17:36] ropnop opened #645 "tl.setSecret fails with % character in secret value - how to escape?"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 2.9.5

### Issue Description
I am having trouble getting `tl.setSecret` to correctly register a secret value in one of my pipeline tasks. The secret is long, complex password that is pulled from a keyvault and then r

[2020-06-20 17:39] ropnop commented on #645
By the way, I did see some previous closed issues about escaping the `%` character (https://github.com/microsoft/azure-pipelines-task-lib/pull/543), but it looks like there still might be some bugs

[2020-06-20 18:11] ropnop commented on #645
Okay so I turned on system diagnostics and noticed some other strange behavior. My secret is actually being correctly masked in all of the debug messages, but when it is passed to the toolrunner, it is not being masked. This is how I am setting and calling in my code:

[code]
And I see my username/password args escaped in the debug logs as args:
[code]
But when `mytool` is actually exec'd, the tas

[2020-06-22 17:22] james-h-stephens opened #646 "Calls to updateReleaseName in Node results in error "Invalid Version: 2.132""
### Environment
azure-pipelines-task-lib version: 2.9.6

### Issue Description
Calls to the [_updateReleaseName_](url) function result in the error message "Invalid Version: 2.132".
The function is making a call to [`assertAgent`](https://github.com/microsoft/azure-pipelines-task-lib/blob/c532de60cd68ba382b17d574c669333beabe0b9f/node/task.ts#L2088).

![image](https://user-images.githubusercontent.

[2020-06-22 17:28] damccorm commented on #646
Added a pr to fix this

[2020-06-24 05:49] saquibkhan opened #648 "toolrunner _argStringToArray eats up escaped quotes"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version:

### Issue Description
toolrunner _argStringToArray eats up escaped quotes

### Expected behavior
It should no remove escaped quotes

### Actual behavior
toolrunner _argStringToArray eats up escaped quotes

### Steps

[2020-06-30 04:38] temelj opened #649 "Agent.ProxyPassword returns undefined"
https://github.com/microsoft/azure-pipelines-task-lib/blob/7b32ca7fb2d2f6fe966dd2b413b6f38a1a6eeebf/node/task.ts#L1702

I have logs that show that the Agent.ProxyPassword is set initially in the pipeline, but then gets reset and thus failing with a 407 error.

see here: https://github.com/microsoft/azure-pipelines-tasks/issues/13177

Subset from the logs.
[code]

[2020-06-30 05:38] jo285317 commented on #630
I was able to fix this issue by using Node v10.18.0  as opposed to a newer version

[2020-07-01 15:10] Saibamen commented on #623
.

[2020-07-01 18:13] damccorm commented on #611
Yes, we released I guess this issue just never got updated - sorry about that!

[2020-07-01 18:13] #611 closed

[2020-07-02 23:18] temelj commented on #649
Is there anyone looking at issues in the azure pipeline tasks libraries?
Or is the information that I provided not sufficient enough?

[2020-07-04 17:04] lmmarsano commented on #624
Node.js is fundamentally a cooperative multitasking system that runs JavaScript in a single thread.
Pretty much every introduction to Node.js covers this and stresses the importance of not blocking the main thread by keeping synchronous calls to a minimum/avoiding them entirely.
Just from Node.js' own [guides](https://nodejs.org/en/docs/guides/)
- [Overview of Blocking vs Non-Blocking](https://nod

[2020-07-08 15:02] #625 closed

[2020-07-08 19:02] #609 closed

[2020-07-09 18:42] MichaelTsengLZ commented on #630
I installed Node v10.15.1 before running `npm test` which also solved the issue. I wondering whether because AzDo build agent doesn't allow downloading anything.

[2020-07-17 07:19] japj opened #651 "powershell release notes miss 0.10.1 release info"
The PowerShell Release notes miss information on the 0.10.1 release:

0.10.1 contained https://github.com/microsoft/azure-pipelines-task-lib/pull/279/files
Add escaping of closing bracket character

Which if I understand correctly contained the fix for https://github.com/microsoft/azure-pipelines-tasks/issues/6314

I recently ran into the same issue for the MSBuild task with:
- Azure DevOps Server

[2020-07-18 19:14] SebastianSchuetze commented on #630
@MichaelTsengLZ no this issue is as well with my laptop and a Windows 10 VM within my Laptop both with full admin permission as I can see it. So it is not an agent issue.

[2020-07-20 23:30] k32yr04n commented on #630
Any fix for this yet. I'm currently facing same issue with `node v12.17.0` on Windows 10 and the following dependencies:
`"devDependencies": {
    "@types/mocha": "^8.0.0",
    "@types/node": "^14.0.23",
    "@types/q": "^1.5.4",
    "sync-request": "^6.1.0"
  }`

[2020-08-04 00:46] jeffw16 opened #654 "shelljs.ls() could return a string"
https://github.com/microsoft/azure-pipelines-task-lib/blob/ea7cfd92c86568620a761ab092d0bcc4816ed074/node/task.ts#L731

ls() does not just return string[], it could return a string as well.

[2020-08-05 04:04] AdamCoulterOz opened #656 "Custom Task Multi-Input Control?"
Is there a way to specify a multi-input control? e.g. if I want to be able to create a task which allows multiple named service connections to be added? Like list of referenced service connections with an associated name key?

[2020-08-05 21:06] DanielHabenicht commented on #568
Not stale!

[2020-08-09 17:34] jessehouwing commented on #596
This is still pretty much valid.

On Sun, Aug 9, 2020, 19:03 github-actions[bot] <notifications@github.com>
wrote:

[2020-08-10 20:10] vtbassmatt commented on #596
@stephenmichaelf is this tractable for us to take in the lib? If so, we can talk offline about how to staff it.

[2020-08-13 19:03] #634 closed

[2020-08-13 21:03] #635 closed

[2020-08-16 17:03] #617 closed

[2020-08-16 17:03] #606 closed

[2020-08-16 17:03] #539 closed

[2020-08-17 04:09] MalinAan commented on #630
I'm facing the same issue as well (using node v12.4.0 and azure-pipelines-task-lib 2.10.0). It seems like the problem is the buffer size to sync-request.

I had to change line 25 in sync-request/index.js to include max buffer size to make it work.
`var res = spawnSync(process.execPath, [require.resolve('./lib/worker.js')], {input: req, maxBuffer: 50 * 1024 * 1024});`

[2020-08-18 14:27] gcacars opened #658 "Visible rule and underscore values"
I'm facing some problems with expressions in visibility rule that contains underscore in the values, like `STANDARD_HA`.

### Environment
azure-pipelines-task-lib version: 2.9.6

### Issue Description
Values with underscore not pass in the extension validation.

### Expected behaviour
Expression should be validated without errors.

### Actual behaviour
Error: Extension validation failed.

### Step

[2020-08-19 05:20] BethanyZhou commented on #561
Let me know what you think please.

[2020-08-26 16:03] #640 closed

[2020-08-26 22:03] #372 closed

[2020-09-01 14:39] mindlessroman commented on #568
+1 For this - I'm trying to figure out how to use any `mock-answer` functionality but the docs do not help fill this knowledge gap in. I've been trying to suss out some clues from someone else's issue (#469 ) but that is _not_ how someone should try to figure out how this works. @stephenmichaelf - is there any movement on getting more documentation here?

[2020-09-08 05:48] pavan2004it opened #659 "Unable to fetch specific set of variables"
### Environment
azure-pipelines-task-lib version: 2.10.0

### Issue Description
I am trying to fetch specific set of variables based on the scope from tl.getVariables() , for example if i want to get only the variables defined at the release scope or at the scope of various stages like  dev, val or prod .... etc.. , i couldn't find a way to filter the output of the method call , want to know if th

[2020-09-08 08:35] jessehouwing commented on #659
You get only the variables available to that step, merged to a single list. If you want to access to the sources of variables and filter those, you'll need to access the rest api against the release/build/pipeline endpoint.

[2020-09-08 19:29] maxjeffos commented on #630
I'm having this issue, too. In my case I'm using Node 12 and trying to upgrade from azure-pipelines-task-lib@2.9.3 to either 2.9.6 or 2.10.0. In either case, I'm getting this problem (though only in CI and not locally, for some reason - I'm using Node 12 on Mac locally and `circleci/node:lts` in CI (which appears to be Debian 9).

[2020-09-08 20:27] jessehouwing commented on #630
The agent has currently 2 versions it can run:

* Node 6 LTS, which is the version that shipped with TFS 2015u3 / TFS 2017. The 'node' execution handler will run against that node version. A custom build node binary runs with the agent.

* Node 10 LTS, which snipped some time ago. The agent will run using this node version when the execution handler of the task is set to 'node10' or when a special

[2020-09-09 07:13] pavan2004it commented on #659
Thanks for the quick response @jessehouwing i ended up doing just that

[2020-09-09 07:13] #659 closed

[2020-09-14 09:04] #555 closed

[2020-09-14 15:07] tillig commented on #621
Yup, still an issue.

[2020-09-14 15:11] tillig commented on #621
Would it be more accurate to check `hasOwnProperty` and whether the value is not `null`?

[2020-09-14 21:07] mcafaro commented on #644
I am still in need of a feature to detect if my task is running on a Microsoft-hosted agent. The best I have been able to come up with is a brittle heuristic-style approach of checking different environment variables depending on the host OS.

[2020-09-14 22:00] jessehouwing commented on #644
I don't see what difference it makes or what exactly you're after? Are you
trying to detect whether the agent will stick around after the job is done?
What is so special about the hosted agent or your local agent that a custom
capability can't fix?

On Mon, Sep 14, 2020, 23:08 Mark Cafaro <notifications@github.com> wrote:

[2020-09-14 22:28] mcafaro commented on #644
Two reasons:
1) I need to know if the agent is running on Azure
2) I need to know if the agent will stick around after the job is done

For 1, I have decent means of detecting this already through the Azure Instance Metadata service. For 2, I have no good way to distinguish between a private agent running on Azure and a Microsoft-hosted agent. In the case of a private agent, it may stick around an

[2020-09-15 06:19] jessehouwing commented on #644
There is no guarantee a private agent will stick around. The new scaleset
agents clearly won't and I know of quite a few companies who have created
their own single job private agent.

The most reliable solution would be to add a variable to the stage/job or
ai input to the task and prepare for the worst by default.

On Tue, Sep 15, 2020, 00:28 Mark Cafaro <notifications@github.com> wrote:

[2020-09-15 12:55] mcafaro commented on #644
Right. That's why I have to assume the worst case (being they stick around) and treat them differently. A Microsoft-hosted agent I'm guaranteed will go away. A private agent I must assume will not, even if it may.

This doesn't make for a great user experience. But I understand if no one else is asking for this capability you have to prioritize your efforts. Feel free to close this issue if it jus

[2020-09-17 15:12] marcosloic opened #664 "TFX extension create fails with the new version of the library"
- [x] Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 2.11.0
node/v10.22.0

### Issue Description
When trying to create an azure devops extension which has azure-pipelines-task-lib as a dependency, the extension creation fails

### Expected behaviour
The extension

[2020-09-18 12:22] JiriKovar opened #666 "Incorrect variable encoding/decoding when using setVariable + getInput"
### Environment
azure-pipelines-task-lib version: 2.10.1

### Issue Description
When setting a variable with data that contains any of these: https://github.com/microsoft/azure-pipelines-task-lib/blob/40b976302a792bcb76454c81ee943074a0413014/node/taskcommand.ts#L93 The data gets encoded, but is not decoded upon retrieval.

### Expected behaviour
I can retrieve the same data I stored.

### Actual b

[2020-09-22 10:25] nohwnd commented on #648
Yeah, still interested in this being fixed.

[2020-09-25 19:04] #645 closed

[2020-09-27 18:04] #646 closed

[2020-09-28 07:34] molinch commented on #666
Just got the same issue, it's really troublesome and as you said not much we can do about it

[2020-09-29 08:32] russellseymour opened #667 "Error setting resourceFile: "Maximum call stack size exceeded""
### Environment
azure-pipelines-task-lib version: 2.10 & 2.11.1

### Issue Description
I am trying to use the `setResourceFile` method to use the `task.json` file of my task. To do this I am using `__dirname` in the TS file, but this is returning `null` or `/` which means that the tasklib is looking for my task in `/task.json` which it cannot find. It then proceeds to error out with `##[error]Rang

[2020-09-29 17:46] Saibamen commented on #623
                            .

[2020-09-29 20:46] nexsodev commented on #555
Up

[2020-09-30 05:27] kaveaa commented on #664
ran into the same problem, working with 2.10.1 for now

[2020-10-01 06:01] temelj commented on #649
I believe this is still an outstanding issue, however based on some
comments, reproducing it was an issue in order to narrow down the root
cause.

On Thu, 1 Oct 2020, 10:12 github-actions[bot], <notifications@github.com>
wrote:

[2020-10-06 04:10] lmmarsano commented on #624
Needs better adherence to node conventions & more explicit documentation of departures.

[2020-10-09 06:54] molinch commented on #666
@JiriKovar Do you have a workaround? it's screwing our secrets since % becomes %25
So currently we manually change them back, but its defeating the point of automation...

[2020-10-15 15:13] tristanbarcelon opened #674 "Updated version of VstsTaskSdk in powershellgallery"
Is there a version of VstsTaskSdk newer than 0.11.0 published on may 21, 2018? It appears there have been changes/fixes since then that are possibly not in 0.11.0.

![image](https://user-images.githubusercontent.com/5810165/96149426-4eef5f80-0ed7-11eb-880b-0551e74c3cd5.png)

[2020-10-20 15:14] mlecallet opened #675 "Warning when using the find and replace function on azure devops"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version:

### Issue Description
Hello i noticed this warning message when building on a windows azure pipeline:
##[warning]Task 'ReplaceInFilesTextByText' (1.2.0) is using deprecated task execution handler. The task should us

[2020-10-20 15:37] jessehouwing commented on #675
That is something the task author must fix.

You can contact the author of the task to see if they want to release an update targeting the new PowerShell handler.

https://marketplace.visualstudio.com/items?itemName=Samayas.azuredevops-samayas-replaceinfiles

[2020-10-21 16:06] anteloe commented on #291
Hi, is there some official documentation on this? I need to mock a generic service and I always get an `Endpoint not present: serviceEndpoint` error.

Here's my code so far:
[code]

I also tried
[code]

[2020-10-21 16:18] anteloe commented on #291
For those who stumble upon the same situation... I just have inspected the code and found my answer there: [https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/task.ts](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/task.ts)

Be sure to check which functions you call and then just search for those functions in that task.ts file. You will find the actual e

[2020-10-21 19:00] armanik11 opened #677 "Known UI limits on tfs:feed endpoint and list of packages displayed in a pickList"
Does anyone from the pipeline side know what are the known UI limitations on a task input UI (pickList) where we are trying to use tfs:feed endpoint and display a list of packages from a feed which contains 1000s of packages? Does it display first N items, where N is a known number? AFAIK, the REST API itself when called via POSTMAN returns 1000 packages.

Looking for some pointers here if possibl

[2020-10-22 08:05] #651 closed

[2020-10-22 10:25] jessehouwing opened #679 "Correct way to detect the need to use `tl.updateReleaseName`"
Azure DevOps Server 2020 introduced the requirement to use the special logging command to set the release name, prior to that a simple setvariable would do the trick.

In preparation of releasing:
https://github.com/jessehouwing/azure-pipelines-variable-tasks/commit/c003a638af6e2793a9818a9c9eaa2583a06cf720

**How can my task know when to use the old method and when to rely on the new one?**

I see

[2020-10-22 10:31] jessehouwing commented on #674
Indeed looks like that didn't ship. I just updated a task to the latest published and my latest commit wasn't in there.

@vtbassmatt

As a workaround, have pasted the ps1 files from the repo into my tasks `ps_modules` folder and overwrote whatever was there.

[2020-10-22 11:44] Anne56njeri opened #680 "unable to load certificate"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version:
2.8.0
### Issue Description

We have an app config extension that enables one to either pull or push configurations. Currently, the auth type we had integrated was spnKey, we are also trying to integrate certificate

[2020-10-22 14:34] Anne56njeri commented on #680
fingerprint WARNING: can't open config file: /usr/local/ssl/openssl.cnf unable to load certificate  this was the actual error its looking for the .cnf file

[2020-10-26 20:55] vtbassmatt commented on #674
Ack, we're looking into it. In the meantime, copying files in should be fine.

[2020-10-26 20:56] austinfrey opened #682 "Disable "##vso[task.debug]" logs when running locally"
### Environment
azure-pipelines-task-lib version: 2.11.3

### Issue Description

Is it possible to disable the `##vso[task.debug]` logs when using this module locally? I am hoping to use some scripts that run on both local machines and in our build pipelines. Our scripts are working fine in both environments but for local use, it would be nice to turn down the output a bit.

I was hoping maybe an

[2020-10-27 10:30] vtbassmatt commented on #679
I'd recommend checking the agent version yourself.

[code]

[2020-10-27 14:34] austinfrey commented on #682
I patched [this line](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/internal.ts#L294) and used [patch-package](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/internal.ts#L294)

[2020-10-27 14:34] #682 closed

[2020-10-28 10:51] jessehouwing commented on #679
I think the agent supported the command before the server did, so that won't be foolproof... The service already required the command.

[2020-11-02 11:32] jessehouwing commented on #679
It looks like UpdateReleaseName was introduced here:
2.132

That's way before Azure DevOps Server shipped. Meaning that function won't work on Azure DevOps Server 2019 and below, but is required on Azure DevOps Server 2020. And it's now always needed with Azure Pipelines in the service.

Looking at the agent, there are no provisions in the agent's handling of the command to detect the server's cap

[2020-11-02 13:44] vtbassmatt commented on #679
😞

[2020-11-02 14:37] shashban commented on #679
@jessehouwing The set variable approach should still work to update the local job scoped variable.

[2020-11-02 15:00] jessehouwing commented on #679
I know, but my extension is available on the marketplace and can be installed on 2015 to 2020. The extension doesn't know what server it's installed on and who it talks to.

If it were a private extension, that would be no issue, I'd know the server I'd be running against, since it's mine. But the public extensions don't have that luxury.

The task lib nor the agent keep this in mind. The task lib

[2020-11-04 00:24] armanik11 opened #685 "task.exec doesn't return exit code for process as expected but goes to catch block for non-zero exit codes"
I have below code in sample.ts where the exe always returns an exit code of 0 (success), 1 (failure) or 2 (unknown errors). I would expect the validateFunc call to return an exit code properly and land in the next line but instead it goes to the catch block for non-zero exit codes. Any idea what causes that behavior?

try

{

...{some code}

 let exitCode = await validateFunc("sample1", "sample2")

[2020-11-05 09:13] AmrutaKawade commented on #685
we have similar requirement. It is causing this issue https://github.com/microsoft/azure-pipelines-tasks/issues/13819

[2020-11-05 17:41] jessehouwing commented on #685
You can pass a iexecoptions instance to ignore the exit code and output to
stderr.

See
https://github.com/microsoft/azure-devops-extension-tasks/blob/main/BuildTasks/InstallExtension/InstallExtension.ts

On Thu, Nov 5, 2020, 10:14 Amruta Kawade <notifications@github.com> wrote:

[2020-11-05 19:55] armanik11 commented on #685
Thanks @jessehouwing . I'm slightly confused. What I'm expecting is when the tool is done running and returns an exit code, it should respect that and doesn't go to catch block. why does it go to catch block? What's the default behavior in iexecoptions and which setting should i use in iexecoptions to change that behavior?

[2020-11-05 20:00] jessehouwing commented on #685
The default is to fail in a non-zero exit code.

See the online docs:
https://www.github.com/microsoft/azure-pipelines-task-lib/tree/master/node%2Ftoolrunner.ts

If you don't want it to fail, override that behavior by passing an instance of iexecoptions.

[2020-11-05 20:04] armanik11 commented on #685
Thanks. So by fail, the behavior as i understand it that it make it goes to the catch block correct? If I use ignoreReturnCode = true, then it would behave as expected that it will return the exit code and I handle that.

[2020-11-05 20:08] jessehouwing commented on #685
Yes.

On Thu, Nov 5, 2020, 21:04 armanik11 <notifications@github.com> wrote:

[2020-11-05 21:07] armanik11 commented on #685
Hi @jessehouwing ,

If you don't mind, could you please help me with the right syntax for using IExecoptions in my exec call? As I am still learning typescript, I tried below but it fails to build.

  const execoptions: IExecOptions = {
        ignoreReturnCode: true
    };

    return await tl.exec(`${validationToolRoot}\\sample.exe`, validationArgs, execoptions);

Error: error TS2739: Type '{ ig

[2020-11-05 21:20] armanik11 commented on #685
Never mind, I tried below and it passed build. Thanks!

return await tl.exec(`${validationToolRoot}\\sample.exe`, validationArgs, <any> {ignoreReturnCode: true});

[2020-11-05 22:04] armanik11 commented on #685
Hi @jessehouwing , I tried my change above but it still goes to the catch block as seen in my original code block snapshot? any idea what i am missing?

[2020-11-05 22:08] jessehouwing commented on #685
Are you sure the new code got executed?

[2020-11-05 22:10] armanik11 commented on #685
yes, i double checked the version of extension/task that's being used

[2020-11-05 22:12] jessehouwing commented on #685
Step through it in a debugger in that case. This trick should work.

On Thu, Nov 5, 2020, 23:10 armanik11 <notifications@github.com> wrote:

[2020-11-06 16:27] vtbassmatt commented on #666
I'm probably missing something, but I can't seem to repro this. Admittedly my attempt at a repro is simplified and that could explain it - hoping you'll spot what I'm doing wrong. I did also attempt with a secret variable which didn't seem to change anything.

[code]

yields:

<img width="344" alt="image" src="https://user-images.githubusercontent.com/714283/98390094-ef422b00-2022-11eb-90ca-0aefcd

[2020-11-06 16:47] damccorm commented on #666
This should be fixed by https://github.com/microsoft/azure-pipelines-agent/pull/3152. I think the issue only manifests when you get the input via an old version of the task-lib or you don't use the task-lib at all to retrieve it

[2020-11-09 01:13] #654 closed

[2020-11-09 12:23] molinch commented on #666
@damccorm Could you tell us in which version of task lib the issue is solved? From what I see your PR was merged 10d ago.
![image](https://user-images.githubusercontent.com/5130190/98540758-b3130280-228e-11eb-8821-4e626fd8e832.png)

Thanks

[2020-11-09 21:46] damccorm commented on #666
@molinch that pr was on our agent repo - so it will roll out automatically. It will be turned off by default initially, but eventually fully enabled (see https://github.com/microsoft/azure-pipelines-agent/blob/master/docs/design/percentEncoding.md)

[2020-11-10 04:52] AmrutaKawade commented on #685
ignoreReturnCode : true is not working for me as well.

[2020-11-10 05:03] #656 closed

[2020-11-12 18:09] olidor commented on #589
Hi,

I've been able to reproduce using the following agent versions: **2.169.1** and **2.175.2**.

However, it only occurs for some secrets and only when the secret is fetched from a keyvault.
If the secret comes from a pipeline variable, then all is good and no secrets are exposed.

Bellow you can see some scenarios for which I was able to reproduce it or not.

[code]
Should I open a new incident

[2020-11-15 21:03] #596 closed

[2020-11-16 16:05] jessehouwing commented on #658
I also reported this to the product team and the rule on the marketplace is too strict. But I haven't seen a plan to resolve yet.

[2020-11-16 17:43] gcacars commented on #658
Ok, but not makes sense for me to have a marketplace rule in the value of a field. It differs from a task name or extension id...

[2020-11-16 17:59] jessehouwing commented on #658
I think it's some kind of security thing, haven't asked for the reason the
rule exists, bu t I did ask for it to be removed.

On Mon, Nov 16, 2020, 18:43 Gabriel <notifications@github.com> wrote:

[2020-11-18 14:45] chris-codeflow opened #688 "Suggestion: Extend setVariable to allow 'output' variables to be created"
### Environment
azure-pipelines-task-lib version: n/a

### Issue Description
The `setVariable` method only allows job-scoped variables to be created.  Consider adding an `isOutput: boolean` parameter to the method, or create a new method to allow output variables (i.e. adding the [`isOutput=true`](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops&tabs=yaml

[2020-11-21 08:39] AdamCoulterOz commented on #656
Is there going to be a response on this by Microsoft please?

[2020-11-22 18:54] jessehouwing commented on #656
I wouldn't really expect guidance answers here anymore. With YAML the UI has been reduced to a small helper and has lost a lot of focus.

On top of that, this library is about the task handler, but not about the task UI definitions.

A question on stack overflow may work. A formal support request or digging into existing tasks that do what you want.

You can mimic multiple connected services by ad

[2020-11-23 00:54] AdamCoulterOz commented on #656
@jessehouwing, I appreciate the input. The 10 inputs, that is an idea, I might try it.

I agree the focus on anything Azure DevOps has gone down the toilet since the new GitHub shiny has hit the scene. However, tasks are still applicable for YAML independent of the side UI bar. A multi-input control refers to a data structure, regardless if it is expressed as UI or a yaml task reference. So I feel

[2020-11-27 11:58] LockTar opened #689 "How to determine if parameter is given by pipeline?"
### Environment
azure-pipelines-task-lib version:
latest

### Issue Description
How to determine if parameter is given by pipeline?

### Expected behaviour
A new command or overload on `Get-VstsInput` that returns `true` or `false` when a parameter is given in the pipeline or not.

### Actual behaviour
Not possible??? Or describe how...

### Steps to reproduce
1. I have created multiple PowerShell

[2020-11-30 12:26] #680 closed

[2020-11-30 13:33] jessehouwing commented on #689
My recommendation would be explicitly add a boolean flag to the task to explicitly clear it or to signal that the passed in value should be used. The invoker can use [the expression syntax](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/expressions?WT.mc_id=DOP-MVP-5001511&view=azure-devops) `${{ ... }}` or `$[ ... ]` to set that boolean based on some other context data available

[2020-11-30 16:17] DanielHabenicht commented on #568
not stale

[2020-12-01 13:24] ganesh-kashid opened #690 "Azure pipeline extension task test failed with Error: connect ETIMEDOUT <IP>:443"
### Environment
azure-pipelines-task-lib version:  azure-pipelines-task-lib@3.0.6-preview.0

### Issue Description
I am trying to create a Azure pipeline extension task by referring https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops. I am facing below issue post executing "mocha tests/_suite.js". Any help would be greatly appreciated. As soon as works I n

[2020-12-01 13:42] LockTar commented on #689
Hmmm I understand that the agent's don't really support this feature (yet).

This new feature is needed because I've created a new "Update" task that lives besides my already existing "Set" task. This "Update" task came from questions from the community.
I think that creating Booleans for each field is the only way.

So in example:
When my task has the properties:
- Name
- Email

I have to create

[2020-12-01 22:40] jessehouwing commented on #689
I'd probably pick:

- [ ] ClearName
- Name [............................]

That way you only need to set the boolean when you want to explicitly clear it. And can ignore empty values.

[2020-12-01 22:42] jessehouwing commented on #689
And in YAML users could use `clearName = $[ eq(variables.Name, "") ]` if they wanted.

[2020-12-02 08:40] LockTar commented on #689
Hi Jesse,
Good idea! I will implement it that way.

[2020-12-02 08:40] #689 closed

[2020-12-08 06:43] johnnyreilly commented on #688
Hi,

I've just been bumping on this as well.  From the looks of it the change would be made here:

https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/task.ts#L162

Is there a chance we could get this added?

[2020-12-08 09:30] rcomanne commented on #630
Okay, this issue has me a bit puzzled.
I'm trying to test my code locally where I have Node v14 LTS installed, which is 14.15.1, but this is not working when I provide the 14 version number to my run
`tr.run(14);`
It is because the static versions in the getNodePath function is **not** the LTS version.
Also, it will look for the NodeVersion in the task.json file. This function cleary contains a pa

[2020-12-09 05:01] johnnyreilly commented on #688
In the interim I've come up with a workaround which can be used:

[code]

[2020-12-09 17:49] ganesh-kashid commented on #630
Solved by following below steps to bypass the node.exe downloading

Downloaded node.exe from https://nodejs.org/dist/v10.21.0/win-x64/node.exe and saved it in home folder i.e.
"C:\Users<UserName>\azure-pipelines-task-lib_download\node10\node.exe"
Updated "<TaskName>\node_modules\azure-pipelines-task-lib\mock-test.js" and replaced function that trying to download node.exe with the path in step 1.
U

[2020-12-10 18:19] #688 closed

[2020-12-13 17:18] tillig commented on #621
Not stale, and can't seem to get any maintainer feedback.

[2020-12-14 01:32] damccorm commented on #666
This should be fixed

[2020-12-14 01:32] #666 closed

[2020-12-14 16:57] chris-codeflow commented on #688
@damccorm .  I mentioned in a previous post that I would have raised a PR myself but I wasn't sure of the contribution guidelines.   The current contribution guidelines include "Features (things that add new or improved functionality) may be accepted, but will need to first be approved in the form of a suggestion issue.".

This is what I did.  I raised my suggestion issue and was expecting it to b

[2020-12-15 18:22] james-h-stephens commented on #646
While the PR has been open, it was never completed, and seems that bug still exists.

[2020-12-21 13:14] #644 closed

[2020-12-23 22:29] robwillup commented on #658
I experienced the same problem when the value being tested has a `#`. None of the options below work:

`"visibleRule":"lang=C#"`
`"visibleRule":"lang = C#"`
`"visibleRule":"lang=\"C#\""`
`"visibleRule":"lang = \"C#\""`

[2020-12-23 23:26] jessehouwing commented on #658
Got confirmation its a bud in the marketplace, but it's taking awfully long for the Azure Devops team to get the fix out.

If you manually push the task directly using `tfx build tasks upload`, the task will work just fine.

[2020-12-29 00:07] Saibamen commented on #623
r

[2021-01-04 13:52] kcentralsquare commented on #648
Definitely still want this resolved. Please reopen.

[2021-01-04 13:53] kcentralsquare commented on #648
I am also interested in seeing this issue resolved. Please reopen @nohwnd @saquibkhan

[2021-01-05 06:11] #664 closed

[2021-01-06 06:12] #649 closed

[2021-01-08 00:56] shadargee1982 opened #694 "Cannot read property 'retrieveSecret' of undefined"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 3.0.6-preview.0

### Issue Description
Error when calling `tl.getEndpointAuthorization('SYSTEMVSSCONNECTION', false)` from a pipeline task
--> ##[error]TypeError: Cannot read property 'retrieveSecret' of undefined

I

[2021-01-09 02:47] mairaw commented on #675
The author mentioned on the Q&A section of the extension that he has this on his to-do list. This issue should probably be closed here.

[2021-01-11 05:29] #624 closed

[2021-01-11 21:45] shadargee1982 commented on #694
Deleting node_modules and package-lock.json files and rebuilding fixed it.  I guess dependencies were a bit out of sync.

[2021-01-11 21:45] #694 closed

[2021-01-12 14:02] kcentralsquare commented on #648
Hello @nohwnd @ShreyasRmsft @phanikmmsft? This was closed over the holiday break, when I was not monitoring the email address subscribed. Definitely still need this issue resolved.

[2021-01-18 14:20] ShreyasRmsft commented on #648
@kcentralsquare could you open a new one? I am not a maintainer on this repo and do not have permissions to re-open this issue.

[2021-01-21 18:53] mrsteamfist commented on #648
I am also having the same issue:
The test run parameter argument 'TestRunParameters.Parameter(name=\\xxx", value="D:\\a\\1\\s\\out\\xxx")' is invalid. Please use the format below.
     Format: TestRunParameters.Parameter(name=\"<name>\", value=\"<value>\")
When I run:
  - task: DotNetCoreCLI@2
    displayName: Run xxx
    inputs:
      command: 'test'
      projects: '$(System.DefaultWorkingDirect

[2021-01-21 18:59] kcentralsquare commented on #648
@ShreyasRmsft I'm not a maintainer either, nor will I create a new issue just because a bot closed this one. I didn't even create this issue in the first place. Who do we have to tag to get a response from microsoft?

[2021-01-21 19:49] ShreyasRmsft commented on #648
@egor-bryzgalov could you please help re-open this issue?

[2021-01-22 07:02] egor-bryzgalov commented on #648
@ShreyasRmsft yes, sure.

[2021-01-26 20:05] #677 closed

[2021-01-31 19:56] jessehouwing commented on #679
Still open.

[2021-01-31 22:05] #674 closed

[2021-02-04 18:14] trevren11 opened #699 "Error running tests with VS Code"
### Environment
azure-pipelines-task-lib version: 3.0.6-preview.1

### Issue Description
Following the guide [here](https://docs.microsoft.com/en-us/azure/devops/extend/develop/add-build-task?view=azure-devops&viewFallbackFrom=vsts) I get the task setup, then go to run the tests with VS code debug. When it tries to read the json, it reads an extra character (byte value of 65279) even after the fil

[2021-02-09 17:52] sthussey commented on #603
I'm hitting this same issue. Looking through https://github.com/microsoft/azure-pipelines-tasks I don't see anything different they are doing when running `mocha` than I do in my CI pipeline. Could the proper pattern for running expected failure unit tests for a custom task be documented somewhere?

[2021-02-12 14:39] damccorm opened #711 "Move 3.x version out of preview"
The 3.x version of the task-lib has been in preview for a while, and we've been concurrently maintaining both it and the 2.x version. This was necessary for a while since we weren't ready to recommend everyone upgrade their tasks to Node 10, but at this point we should be recommending that to everyone. Therefore, it is probably time to move the library out of preview. I think we need to take the f

[2021-02-15 05:04] #685 closed

[2021-02-15 11:22] egor-bryzgalov commented on #711
Opened a restore branch (copy of the master branch). [Releases/2.x](https://github.com/microsoft/azure-pipelines-task-lib/tree/releases/2.x)

[2021-02-15 13:38] Dany-R commented on #630
Nice one ganesh-kashid.
After a bit of analyzing `mock-test.js` I found out, that (on my Win10 machine) the home directory was `c:\` where an empty directory `c:\azure-pipelines-task-lib\_download\node10\` existed (note the underscore). I copied the manually downloaded `node.exe` there and additionally created an empty file `node10.completed` in the `_download` folder (which tells the script that

[2021-02-18 15:41] bartier opened #716 "How can I mock a pipeline variable in my tests?"
### Environment
azure-pipelines-task-lib version: 2.9.3

### Issue Description
Hello,

I'd like to mock pipeline variables in my tests, as the way I can configure in the UI below:
![image](https://user-images.githubusercontent.com/18057391/108379542-cfef9800-71e4-11eb-8ac6-45fcde44ece2.png)

I'm currently writing my test as the following code (I removed the import and other stuff to focus on the p

[2021-02-18 23:48] bartier commented on #716
I think this relates to a bug where the public variables are not correctly handled when loading the data to run a test. I'll propose a PR to try to fix this.

[2021-02-20 07:39] egor-bryzgalov commented on #711
Closed as done. The 3.1.0 version of the package has been released and backup branch has been created.

[2021-02-20 07:39] #711 closed

[2021-02-22 01:18] ricksbrown opened #718 "Allow NodeJS binaries to be downloaded from a Mirror URL"
### Environment

azure-pipelines-task-lib version: All

### Issue Description

When attempting to use `azure-pipelines-task-lib/mock-test` behind a corporate proxy tests fail because of [this line](https://github.com/microsoft/azure-pipelines-task-lib/blob/578d7074e317355d638bea693b562bce8744731a/node/mock-test.ts#L232) which hard codes the nodejs download url:

[code]

In highly secure environmen

[2021-02-25 08:20] japj opened #721 "rmRF on Windows fails due to 'path is too long', cannot delete published build artifacts"
### Environment
azure-pipelines-task-lib version: 2.9.3 (as part of DeleteFiles 1.166.2)
Related to https://github.com/microsoft/azure-pipelines-tasks/issues/14459

- AzureDevOps Server Dev18.M170.6
  Private Agent:
  - Window Server 2016
  - Agent 2.175.2
  - DeleteFiles 1.166.2

### Issue Description
rmRF fails to delete published build artifacts

### Expected behaviour
Since the files were publ

[2021-02-26 08:15] japj commented on #721
@damccorm the PublishBuildArtifacts task seems to use robocopy to copy the files to a fileshare, so that seems to work correctly for long path content.

Would it be an option to use robocopy to "delete" the files instead of using rd/? (since rd seems to fail in such case)

[2021-03-02 10:59] sudgarre commented on #648
Any updates on this issue ?

[2021-03-05 12:07] Danielovich opened #723 "Document the reference for https://github.com/Microsoft/azure-pipelines-task-lib/blob/master/tasks.schema.json"
There are a lot of unknowns in https://github.com/Microsoft/azure-pipelines-task-lib/blob/master/tasks.schema.json

E.g what is the minimumAgentVersion ?

I also know that you can use dotnet as an execution stategy but it is not documented anywhere.

It's super difficult already to develop and test custom tasks, poor docs makes it no easier.

[2021-03-05 12:09] Danielovich commented on #723
Another point is the $(currentDirectory) variable. Where does it come from ? And can you use other variables ?

[2021-03-07 17:22] #568 closed

[2021-03-08 12:05] Danielovich opened #724 "Debugging paramters and Get-VstsInput"
I am using the powershell SDK.

In the beginning of my script I would like to set some parameters. It works fine by using the Invoke-VstsTaskScript -ScriptBlock { . .\MyTask.ps1 }, the interactive prompt comes up and I can provide the parameters in the prompt.

[code]
But can I somehow set the Get-VstsInput parameters without the interactive prompt ? It's a bit cumbersome to do every time I need t

[2021-03-08 14:04] #690 closed

[2021-03-08 15:38] mindlessroman commented on #568
not stale

[2021-03-08 18:21] DanielHabenicht commented on #568
can you reopen too?

[2021-03-08 19:18] paule96 commented on #568
the docs folder is [here](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/docs/azure-pipelines-task-lib.md). That has the most documentation for the functions of `tl` or `task` (depends on your import?)

But it missing for example the `connectedService` mentioned by @DanielHabenicht.

So it's missing something functions.
Also the mocking stuff mentioned by @mindlessroman isn

[2021-03-08 19:42] DanielHabenicht commented on #568
Yep, that's basically what you can derive from going through the source-code...

[2021-03-10 00:35] mindlessroman commented on #568
Sorry about the `not stale` miss. I got the notification too late. I also don't have the ability to reopen the issue @DanielHabenicht :( - I would if I were able. @stephenmichaelf or someone on the team may be able to revive?

@paule96 those docs you linked are (I believe) taken straight from the source code and do not elaborate much further.

[2021-03-13 22:55] tillig commented on #621
Not stale, still no feedback.

[2021-03-17 06:36] ALM-at-RZL commented on #648
WORKAROUND
Will work with ".NET Core"-Build-Task with Command "test" on on-premise server 2019.0.1. Later not tested. But maybe...

-- "TestRunParameters.Parameter(name=\\\"<name1>\\\", value=\\\"<value1>\\\")" "TestRunParameters.Parameter(name=\\\"<name2>\\\", value=\\\"<value2>\\\")"

[2021-03-20 19:07] ALM-at-RZL commented on #648
After Update from 219.0.1 to 2020.0.1 the behavior has changed.
Will work with ".NET Core"-Build-Task with Command "test" on on-premise server 2020.0.1

`-- "TestRunParameters.Parameter(name=\"<name1>\", value=\"<value1>\")" "TestRunParameters.Parameter(name=\"<name2>\", value=\"<value2>\")"`

[2021-03-29 12:09] Saibamen commented on #623
.

[2021-04-01 14:47] mindlessroman commented on #658
not stale

[2021-04-05 15:12] blesuer opened #744 "Function 'Which' can not find my executable"
Hello azure-pipelines-task-lib contributors.
I build a custom task and tested it with PowerShell. It works perfectly. When I attempt to run in Azure, it fails because the function 'which' is unable to locate the executable that I am trying to run. Is there something that I need to add to tell Azure to locate the exe on my local machine?
Thanks for your help.
Brian

### Environment
azure-pipelines-

[2021-04-11 16:07] EvanCahill commented on #516
Can this be reopened? We are seeing the CopyFilesv2 task take 5+ minutes just to copy two files from the root of the source folder.

[2021-04-13 10:19] springcomp commented on #603
Going back to this issue now, I can confirm this is still not solved.
Would be great to have official guidance for running failure unit tests in Azure DevOps.

[2021-04-16 03:08] #675 closed

[2021-04-16 14:16] BalaMuralibi opened #754 "Vsts SecureFile Ticket is empty to Download secure file"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version:

### Issue Description
Get-VstsSecureFileTicket -Id "guid" is returning blank, Any work around ?
I can't use "secure file task" from classic editor or YAML , secure file name must be passed as param then i can use in

[2021-04-27 10:53] johnnyreilly commented on #711
Is there a CHANGELOG anywhere that details the breaking changes with 3.x?  Is it just node support?

[2021-04-29 08:24] DaniilShmelev commented on #630
Hi everyone!
The root cause of the problem is a known issue with the outdated version of sync-request (https://github.com/ForbesLindesay/sync-request/issues/81).
Updating task-lib version to latest solved the issue in @ElderMael's repository.
If updating task-lib is not an option for you, than the easiest fix would be to modify `sync-request`'s index.js inside node_modules by adding `maxBuffer: 10

[2021-04-29 08:24] #630 closed

[2021-04-29 09:25] DaniilShmelev commented on #699
Hi @trevren11! I see that you closed your PR because your problem has resolved on it's own.
Should this issue be closed, or are there any steps still needed from our side?

[2021-04-29 09:28] DaniilShmelev commented on #718
Hi @ricksbrown! Thanks for your PR, we'll take a look at it!

[2021-04-29 09:36] DaniilShmelev commented on #716
Hi @bartier! Thank your for your PR, we'll take a look at it.

[2021-05-05 19:50] denis-shemenko opened #760 "Misleading error message on task run"
### Issue Description
Was playing around custom release tasks (uploaded via `tfx`)
And all consequent releases were failing with the error message (see "Actual behavior")
According to that message I was trying to build task binaries in a different ways (like x64 only, then AnyCPU again) and was failing again after upload and release re-run.
But then I realized that the very first sentence in the w

[2021-05-06 08:50] ankit-arora12 commented on #648
@egor-bryzgalov @damccorm There is feedback ticket open for this https://developercommunity.visualstudio.com/t/DotNetCoreCLI2-test-task-doesnt-have-ca/1370232. We tried the workaround (\, \\\) but it did not help and we were still able to reproduce the issue. Can you please provide a fix for this?

[2021-05-06 10:29] ALM-at-RZL commented on #648
The workaround above for 2019.0.1 and 2020.0.1 was running on agents in a VM with w2019-Server. Not tested on Linux-VMs - SRY

[2021-05-13 08:25] #699 closed

[2021-05-20 15:41] ckruegerkpmg opened #763 "Find-Match crashes if Onedrive synced file is missing on harddisk - Find-Match : Cannot convert value "4199968" to type "VstsTaskSdk.FS.Attributes" due to enumeration values that are not valid. Specify one of the following enumeration values and try again."
### Environment
azure-pipelines-task-lib version: 0.11.0

### Issue Description
Find-Match crashes if Onedrive synced file is missing on harddisk

### Expected behaviour
Find-Match is working properly

### Actual behaviour
Find-Match : Cannot convert value "4199968" to type "VstsTaskSdk.FS.Attributes" due to enumeration values that are not valid. Specify one of the following enumeration values and

[2021-05-22 07:06] japj commented on #721
Workaround is to:
- use Windows Server 2019 instead of Windows Server 2016 (the 'rd' long path issue is fixed in Windows Server 2019)
- make sure to enable long path support in the kernel

[2021-05-22 07:06] #721 closed

[2021-05-24 06:12] DaniilShmelev commented on #718
@ricksbrown thanks for your contribution! I've merged your PR, these changes will be released in the next couple of days

[2021-05-24 06:12] #718 closed

[2021-05-25 16:51] anatolybolshakov commented on #744
Hi @blesuer I can't reproduce this with these repro steps.
Could you please share your PATH variable content and where cmd.exe is located for you?

[2021-05-26 07:19] estoel81 opened #766 "Not able to set input"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 3.1.2

### Issue Description
TaskMockRunner is not setting the input.

When i try to set the input for the task, it will like:
[code]

### Expected behaviour
That the input is set by the setInput(), so that the task

[2021-05-28 15:25] cima commented on #667
I am experiencing this issue even locally. I have simulated this but I don't seem to spot neight the cause nor solution.

I stepepd down to _.\node_modules\azure-pipelines-task-lib\task.js_ method `getInput(name, required)` [to line](https://github.com/microsoft/azure-pipelines-task-lib/blob/releases/2.x/node/task.ts#L224)
`throw new Error(exports.loc('LIB_InputRequired', name));` where it should

[2021-06-01 07:10] cima commented on #667
I vote for reopening this issue as there is clearly a bug in the code at [internal.ts:203](https://github.com/microsoft/azure-pipelines-task-lib/blob/7f912e21a0efd546b2f0baf4530cf52aa3692405/node/internal.ts#L203) If the translation is missing then you throw localized exception which recursively calls itself where it realizes this translation is missing as well and throws another localized excepti

[2021-06-03 16:13] anatolybolshakov commented on #744
Hi @blesuer is this still actual for you?

[2021-06-03 17:03] blesuer commented on #744
I was able to resolve this on my own. Thanks for checking in. I will close it now. Thanks again.
Brian

[2021-06-03 17:03] #744 closed

[2021-06-03 19:40] officialpatterson commented on #667
@cima did you find a solution to this? I think I might have the same issue

[2021-06-04 08:31] cima commented on #667
There is no solution. You can only avoid to hit the buggy code by catching all eceptions and sanitize your input so the error is never triggered.

My way to spotting what was wrong has been to debug the code locally and stepping until the crash. There I spotted it couldn't find one pipeline task input value. So I added this value to configuration of my pipeline and thus avoided the error reporting

[2021-06-11 07:56] fr4gles commented on #648
We have tried multiple solutions
- `--logger:"console;verbosity=detailed"`
- `--logger:\"console;verbosity=detailed\"`
- `"--logger:\"console;verbosity=detailed\""`
- `--logger:%22console;verbosity=detailed%22`
- `--logger:\\\"console;verbosity=detailed\\\"`
mentioned here:
- https://github.com/microsoft/azure-pipelines-tasks/issues/10712
- https://github.com/microsoft/azure-pipelines-tasks/issues

[2021-06-29 13:28] #648 closed

[2021-07-05 14:02] cima commented on #667
This is absolutely insane. This issue must be reopened. Problem persists and some situations can't be replicated locally where can I debug and put breakpoits. What shall I do to reopen the issue?

[2021-07-09 10:32] SimonAlling opened #775 "`getEndpointAuthorization` does not throw when authorization was not set and is not optional"
### Environment
azure-pipelines-task-lib version: 3.1.4

### Issue Description
Excerpt from the JSDoc comment about [`getEndpointAuthorization` in `node/task.ts`](../blob/bbec8ff7dc74d50a3aecd643fd1e899f3baf3cb6/node/task.ts#L416):

I believe this is incorrect.

### Expected behaviour

The function throws if the authorization was not set and is not optional.

### Actual behaviour

The function doe

[2021-07-22 06:43] AnnaOpareva commented on #716
Hi, @bartier you can mock pipeline variables in your tests with use function like in this test  - https://github.com/microsoft/azure-pipelines-tasks/blob/acc64cc7292c98597908325e53af9f898a896189/Tasks/DotNetCoreCLIV2/Tests/TestCommandTests/publishtestsWithSpaceDir.ts#L61

[2021-07-28 10:08] Saibamen commented on #623
.

[2021-07-28 14:24] tillig commented on #621
Not stale, still no feedback.

[2021-07-28 16:47] mindlessroman commented on #658
not stale

[2021-07-29 09:28] anatolybolshakov commented on #716
@AnnaOpareva this is some kind of a workaround, we need to take a look at [extending](https://github.com/microsoft/azure-pipelines-task-lib/blob/21dac986b4c7478eb2ed8ffbd60e4fad62904438/node/mock-task.ts#L57) of mock-task for this.

[2021-08-04 10:06] #754 closed

[2021-08-04 10:06] #723 closed

[2021-08-04 10:06] #724 closed

[2021-08-04 10:06] #679 closed

[2021-08-05 13:07] officialpatterson commented on #667
I’ll follow this up with more detail later, but I also found that the error can be caused by bad/missing arguments when attempting to use the task.

[2021-08-09 16:35] kuleshovilya commented on #623
Just wanted to confirm that you still see this behaviour in your environment? Quick testing showed that it iterates correctly over the folders.

[2021-08-10 01:06] gattjoe opened #784 "Azure Pipeline defined with YAML vs. Azure Pipeline using Classic Interface"
### Environment
azure-pipelines-task-lib version: Any

### Issue Description

Is there a programmatic way for a custom build/release task to identify whether the pipeline executing the task is an Azure Pipeline defined with YAML vs. an Azure Pipeline using the classic interface? I've studied this [link](https://docs.microsoft.com/en-us/azure/devops/pipelines/build/variables?view=azure-devops&tabs=

[2021-08-10 09:17] SimonAlling commented on #775
Any updates on this?

It may be worth mentioning that corresponding claims (not set and not optional ⇒ throws) are made about [`getEndpointUrl`](https://github.com/microsoft/azure-pipelines-task-lib/blob/bbec8ff7dc74d50a3aecd643fd1e899f3baf3cb6/node/task.ts#L325), [`getEndpointDataParameter`](https://github.com/microsoft/azure-pipelines-task-lib/blob/bbec8ff7dc74d50a3aecd643fd1e899f3baf3cb6/node/t

[2021-08-10 09:44] anatolybolshakov commented on #784
Hi @gattjoe as I see there is no ability to distinguish YAML and classic pipelines.
Could you please elaborate what is the purpose of this? In general creating of such dependency on pipeline type is not a good  practice - since it could lead to unexpected breaking changes in future.

[2021-08-10 11:37] gattjoe commented on #784
I wrote a plugin that supports SLSA, which is a framework intended to codify and promote secure software supply-chain practices. SLSA helps trace software artifacts (e.g. binaries) back to the build and source control systems that produced them using in-toto's Attestation metadata format. You can read more at [slsa.dev](https://slsa.dev) if you are interested.

I don't want to create a dependency

[2021-08-11 13:56] anatolybolshakov commented on #784
@gattjoe could you please create ticket on https://developercommunity.visualstudio.com/search?space=21 to get it triaged properly? This sounds like a reasonable feature for Azure Pipelines, although this repo is mostly for task-lib related issues 😃
Let me close this ticket here since it's not related to the task-lib itself.

[2021-08-11 13:56] #784 closed

[2021-08-11 14:00] gattjoe commented on #784
Will do, thanks for the guidance.

[2021-08-17 14:38] kuleshovilya commented on #621
Hello @tillig . Tried to reproduce the issue and received proper return value, the example you've provided worked for me. But the version that you've used at the time is really old now, could you please update library and try again, whether it will work for you. If not, we'll try to get all the details to reproduce it.

[2021-08-17 15:11] tillig commented on #621
@kuleshovilya [The code causing the issue hasn't changed](https://github.com/microsoft/azure-pipelines-task-lib/blob/45747eb60680c826883d772e3539b88e1b587ed5/node/mock-answer.ts#L43) so I'm not sure how it was resolved, but sure, I can try it again.

[2021-08-18 16:31] tillig commented on #621
@kuleshovilya I have verified that this is absolutely still a problem on the latest library. [Here is a repo that contains a demonstration of the issue.](https://github.com/tillig/azure-pipelines-task-lib-621) You'll see that I can mock `getPlatform` _if and only if_ it's not `Windows` because `Windows` is `0` in the enumeration value, so the simple `!` not check in the mocking system incorrectly

[2021-08-19 07:31] kuleshovilya commented on #623
Hello @Saibamen . Any update on the issue?

[2021-08-19 07:33] Saibamen commented on #623
I don't have time to test it, sorry

[2021-08-19 07:34] kuleshovilya commented on #623
Alright, I'll close the issue for now, if needed you can either reopen the issue or ping me at the email v-ikuleshov@microsoft.com

[2021-08-19 07:34] #623 closed

[2021-08-19 10:32] kuleshovilya commented on #621
@tillig Yes, I can see it now. Although it's not the code that you referencing at fault,this one checks for empty cmd, which is a string value, the faulty check is [below](https://github.com/microsoft/azure-pipelines-task-lib/blob/34e17f6ca02c256bcb4e121880f6d4b7da65eed2/node/mock-answer.ts#L52). We are implementing the fix for it, will notify you when its merged.

[2021-08-20 09:03] kuleshovilya commented on #621
The change has been published to npm. Please check when you can. I'll close ticket for now, please feel free to reopen it if something is wrong or ping me at my email v-ikuleshov@microsoft.com

[2021-08-20 09:03] #621 closed

[2021-08-20 13:56] tillig commented on #621
Verified, this fixes it. Thanks!

[2021-08-23 06:13] ckruegerkpmg commented on #763
Issue is not fixed

[2021-08-31 08:32] babu2082 commented on #690
Does this issue has been addressed, am also into the same scenario.

[2021-08-31 11:02] AnnaOpareva commented on #775
Hello, @SimonAlling.
Thank you very much for your comments. I would like to clarify is it required for you this function to throw an exception if authorization was not set? If so we will add an additional option to it that will allow throwing exceptions instead of just returning an undefined value. If the main concern here is that comment doesn't correspond to the actual behavior we will just upda

[2021-08-31 13:11] #766 closed

[2021-09-01 08:02] jikuja commented on #537
Are there any existing requests on the official channels? Tied to find but the search functionality on https://developercommunity.visualstudio.com/ is really limited.

So true. I'm tired to see the following error messages after setting up tasks that are wrappers around the existing PowerShell Core code base:

The error message should be changed because most of the failing tasks I've used are Powe

[2021-09-01 13:49] SimonAlling commented on #775
Not really, I just expected the function to throw because the comment said it would. I've since moved to `getEndpointAuthorizationParameter` instead, which does throw as stated.

I don't think such an option should be added. Updating the comment might be enough; however, I'm quite surprised that `getEndpointAuthorization` behaves differently from [`getEndpointUrl`](https://github.com/microsoft/azu

[2021-09-02 12:19] AnnaOpareva commented on #775
Hello, @SimonAlling.
Thank you very much for your active participation in refactoring this function and for noticed inaccuracies in the comments. As part of this issue, it seems to us that the main points have been fixed. At the moment we close this issue. Thanks again for your participation. If you have any other comments, be free to write to us and create new issues

[2021-09-02 12:19] #775 closed

[2021-09-03 09:50] SimonAlling opened #791 "`getEndpoint*` functions could have richer type signatures"
### Environment

azure-pipelines-task-lib version: 3.1.9

### Issue Description

TypeScript's powerful abilities aren't being leveraged in the library as of today: `undefined` is always included in the return type of [`getEndpointUrl`](https://github.com/microsoft/azure-pipelines-task-lib/blob/bbec8ff7dc74d50a3aecd643fd1e899f3baf3cb6/node/task.ts#L325), [`getEndpointDataParameter`](https://github.

[2021-09-10 19:50] ngarg-panw opened #792 "TimeoutInMinutes and ContinueOnError values inside the code"
I have a plugin created for Azure DevOps using tihs library.
I am looking to retry the task if it timeout. I know user can configure TimeoutInMinutes in the task and when it times out our plugin shows the following error:  "##[error]The task has timed out."
I want to also capture in the code when this error occurs.
Can someone please let me know if this is supported.

Same for continueOnError, if

[2021-09-14 19:14] AhmedAbdoOrtiga opened #794 "WebPack: TypeError: Cannot read property 'retrieveSecret' of undefined at Object.getInput"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 3.1.9

### Issue Description

I'm trying to use 'azure-pipelines-task-lib/mock-run' to create a test run file run.ts
if I compile my code using tsc, it works fine,
but if I use webpack I get this error 'Cannot read p

[2021-09-15 01:51] wnbittle commented on #667
For those still encountering this issue and looking for a workaround - we (@aaramians and I) did the following while we wait for a fix:
1. npm install this package as-is
2. Make the following edits to the package under node_modules:
    1. Copy the English messages from `lib.json` into the `_locStringCache` object on line 61 of the `internal.js` file
    2. Comment out lines 221-226 of the `intern

[2021-09-16 17:57] cima commented on #667
@wnbittle Please provide snippet of the code orr diff to be commented out as different version has different lines.

[2021-09-17 01:37] wnbittle commented on #667
@cima does [this gist](https://gist.github.com/wnbittle/a999819496789c82625094239916fa53/revisions) give you what you need?

[2021-09-17 20:40] ngarg-panw commented on #792
Any update on the above query?

[2021-09-21 11:59] EzzhevNikita commented on #792
@ngarg-panw To process timeout, you can capture the signal that the agent is sending for task process cancelation when time out happens. [Here](https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/BashV3/bash.ts#L131) is an example of how the bash task is doing this.
Regarding the capture of _continueOnError_ message, this feature is controlled by the agent and couldn't be processe

[2021-09-28 07:07] johnsimons opened #796 "How do I retrieve the timeoutInMinutes set by a user in a task?"
Sorry, this is more a question that I cannot find the answer for.

### Environment
azure-pipelines-task-lib version: 2.7.7

### Issue Description
I would like to access the value enter by a user in a task ui at execution time, is this possible?
<img width="1218" alt="image" src="https://user-images.githubusercontent.com/122651/135039287-8e8071c4-30eb-410a-a3cd-fad08ba5dd9b.png">

[2021-09-28 16:36] anatolybolshakov commented on #796
Hi @johnsimons there is no such ability at the moment - timeout parameter is handled on agent level.

[2021-09-30 11:22] eRez-ws opened #797 "'required' field is practically ignored"
### Environment
azure-pipelines-task-lib version: 3.1.2

### Issue Description
in my task's task.json file, under `inputs` i have `"required": true` parameter in one of the inputs. which is practically ignored
![image](https://user-images.githubusercontent.com/35656848/135446256-4334d62f-9d9f-444a-bb08-0caed96853d6.png)
![image](https://user-images.githubusercontent.com/35656848/135445328-2725f4ef

[2021-10-04 14:42] tatyana-kostromskaya commented on #797
Hi, @eRez-ws could you please clarify if you use classic pipeline editor (UI editor) or YAML pipelines with UI assistant?

[2021-10-05 07:27] tatyana-kostromskaya commented on #797
@eRez-ws, this problem looks like UI problem and it is not related to this lib.
I checked and classic pipeline editor (UI editor) has correct expected behavior: marks empty required field with a red rectangle around it and doesn't allow to save such pipeline.
In YAML editor, if required field is left empty, it shows only warning.

Please create issue on developer community about it: https://develo

[2021-10-05 10:17] #797 closed

[2021-10-11 16:35] ngarg-panw commented on #792
Not right now. Thanks for providing the solution quickly.

Thanks
Niddhi | Principal Engineer
Shiftleft | Prisma Public Cloud Security

<https://www.youracclaim.com/badges/e5b41612-b3b9-42e7-88b7-6b857c9dbe8e/public_url>
<https://www.youracclaim.com/badges/a4408d0d-2cd5-41f7-b762-e95761f32a24/public_url>

On Fri, Oct 8, 2021 at 1:44 AM Nikita Ezzhev ***@***.***>
wrote:

[2021-11-03 11:06] #716 closed

[2021-11-03 17:19] c4rth opened #801 "tasks.schema.json : missing definitions"
### Environment
azure-pipelines-task-lib version: master branch

### Issue Description
Validation errors while editing task.json files from the azure-pipelines-tasks repo

### Expected behaviour
No errors or warnings.

### Actual behaviour
Warning/errors while validating the task.json files from the repo "azure-pipelines-tasks".
rem : Some may not be a problem with the schema.
e.g. :
- execution -

[2021-11-17 09:52] cima commented on #667
@wnbittle Yes [this block](https://gist.github.com/wnbittle/a999819496789c82625094239916fa53/revisions#diff-f059d2987c3edbe40d428808bc0cda7ed46fd51cbf55a66093b6df635c953585L187) is excatly what I meant.

Howerver since the fix is already released it is more advisable to use the fixed version [azure-pipelines-task-lib 3.1.0](https://www.npmjs.com/package/azure-pipelines-task-lib/v/3.1.10) or newer.

[2021-11-17 09:56] cima commented on #667
@russellseymour Does the elimination of stack exceeding solves Your problem or does it lead to a discovery of another problem?

[2021-11-17 13:29] eRez-ws opened #803 "attachment limitations"
### Environment
azure-pipelines-task-lib version: 3.1.2

more question than an issue:
i'm using the `task.addAttachment(type, fileName, filePath);` functionality successfully so far.
however,  i couldn't find any documentation regarding attachments limitation - in size or number.
are there any limitations on that?
if if so - what are they?

cheers, eRez

[2021-11-18 19:11] tatyana-kostromskaya commented on #803
There are no official limitations for this functionality.

[2021-11-24 08:41] tatyana-kostromskaya commented on #803
I'm closing this ticket as it was answered.
If you have any other questions here, please reopen it.

[2021-11-24 08:41] #803 closed

[2021-11-28 08:01] #763 closed

[2021-11-29 07:54] ckruegerkpmg commented on #763
The issue is not fixed!

[2021-11-29 13:58] jessehouwing commented on #763
Lets see if actually providing the fix speeds up the process.

[2021-11-29 14:08] jessehouwing commented on #658
This is fixed now. Can be closed.

[2021-11-29 16:01] ckruegerkpmg commented on #763
thx!

[2021-11-29 18:36] jessehouwing commented on #763
Since the tasks actually don't care about the actual files you package with it, you can grab a copy of the files from my repo and put that in your own custom task if you need them, or use them to patch another task that depends on these changes.

[2021-12-09 12:01] #791 closed

[2021-12-09 18:08] SimonAlling commented on #791
Why was this closed? It should be re-opened.

[2021-12-20 09:02] kripajoym opened #808 "Task.Json triggers validation on invisible only fields"
### Issue Description
 {
  "name": "actions",
  "type": "picklist",
  "label": "Actions",
  "defaultValue": "Select",
  "required": true,
  "helpMarkDown": "Select an Action from the dropdown as per your requirement.",
  "options": {
    "New": "Add",
    "Delete": "Delete"
  }
},

{
  "name": "backEndIPAddress",
  "type": "string",
  "label": "IP Address",
  "required": true,
  "defaultValue": ""

[2021-12-20 11:26] jessehouwing commented on #808
Sounds more like a bug in Azure DevOps itself, in which case you should report it here:
https://developercommunity.visualstudio.com/search?space=21

[2021-12-20 21:40] max-zaytsev commented on #808
@kripajoym it looks like the issue is not related to the task-lib. So close it for now. Please post this question on the dev community (see link above)

[2021-12-20 21:40] #808 closed

[2021-12-21 09:01] #794 closed

[2022-01-06 14:08] BartNetJS opened #810 "Disable ##vso[task.debug] logs"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `azure-pipelines-task-lib@3.1.10` for the project I'm working on.

I like to lower the log level.
Currently I don't see any option to avoid ##vso[task.debug] logs
So I patched the code with a check on SYSTEM_DEBUG

Here is the diff that solved my problem:

[code]

[2022-01-09 22:00] jessehouwing commented on #679
Still open

[2022-01-18 13:11] xpouyat opened #813 "Azure Pipeline task goes to time out then crashes when running Visual Studio 2022 from windows-2022 env"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version:

### Issue Description
When running windows-2022 env to run Visual Studio 2022 with Azure DevOps CmdLine@2 task, the task runs fine but does not detect that Visual Studio 2022 finished the work.
After 58 min, the tas

[2022-01-18 13:17] jessehouwing commented on #813
Try adding my agent screenshot task, my guess is that visual studio has a
modal dialog preventing it from closing.

https://marketplace.visualstudio.com/items?itemName=jessehouwing.agent-screenshot

On Tue, 18 Jan 2022, 14:11 Xavier Pouyat, ***@***.***> wrote:

[2022-01-18 13:18] jessehouwing commented on #813
That's one of the dangers of running `devenv.com` to build the project instead of relying on msbuild.

[2022-01-18 14:07] xpouyat commented on #813
I modified the YML and this is the screenshot I get. Please note that I manually canceled the job when the Visual Studio task was completed (I did not wait for the task to timeout naturally after 58 min. I will post another new screenshot later today when the task timesout)
![8_screenshot](https://user-images.githubusercontent.com/8104205/149952227-05d2b0cb-71db-4b43-b5ae-d23f61987fa7.png)

[2022-01-18 15:09] xpouyat commented on #813
Screenshot is the same if I wait for the task to timeout naturally.

[2022-01-18 15:56] jessehouwing commented on #813
Looks like visual studio is properly killed prior to the screenshot being taken, that's unfortunate.

[2022-01-24 07:28] AndreyIvanov42 commented on #813
I've read the history of the other issues you mention and can definitely tell that the issue is not related to this repository. Thanks!

[2022-01-24 07:28] #813 closed

[2022-02-13 08:01] #801 closed

[2022-02-20 11:43] kriti218 opened #818 "3.2.0 version not published yet"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 3.1.10

### Issue Description
We noticed that #815 had version upgrade of task-lib to 3.2 with shelljs vulnerability fix of upgrading from 0.8.4 to 0.8.5.

Can you please suggest when are we going to have 3.2 as late

[2022-02-21 08:45] kriti218 opened #819 "No release notes for versions post 2.8.0??"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 3.1.10

### Issue Description
I was trying to find out the changes done to this library since 2.9.x version till 3.1.10 to evaluate if any breaking changes are there in azure-pipelines-task-lib or not. At this link h

[2022-02-21 09:34] AndreyIvanov42 commented on #818
@kriti218
Hi,
New version is available on npm

[2022-02-21 09:34] #818 closed

[2022-02-21 09:52] DaniilShmelev commented on #819
Hi @kriti218! We don't maintain the changelog at the moment, but I think it makes sense to do that.
Another option would be to add changelogs to each release, and to recreate the missing github releases.
I've added this item to the backlog, we'll take a look at it once we have enough capacity.

[2022-02-21 09:54] DaniilShmelev commented on #819
AFAIK there are not supposed to be any breaking changes in tasklib since version 2.8.0.
3.x is focused on allowing us to use tasklib with node 10 and typescript 4.
Also, we faced issues if our tasks had both 3.x and 2.x present in node_modules. So make sure to check your package-lock and ensure that either only 2.x or only 3.x is used in the task.

[2022-02-21 10:11] kriti218 commented on #819
@DaniilShmelev Thanks for quick response. Good to know that you have added the ask in your backlog. It is always good to maintain change logs per release i feel.

[2022-02-21 10:19] kriti218 commented on #819
@DaniilShmelev When you say 3.x is to support node 10 and TS 4, i hope it is backward compatible and doesn't make it a mandate to upgrade to node 10 and TS 4? Can you confirm that? This is what your documentation on npm site states:
**Upgrading to Node 10
Upgrading your tasks from Node 6 should be relatively painless, however there are some things to note:

Typescript has been upgraded to TS 4. Ol

[2022-02-21 10:52] jessehouwing commented on #819
Node 6 is currently a deprecated and optional part for the Azure Pipelines
Agent. Consider migrating to Node 10 as an important step to stay
compatible with Azure DevOps Server 2022 and up and Azure DevOps (Service).

Node 6 is past it's support date, no longer maintained and a security
problem waiting to happen.

On Mon, 21 Feb 2022, 11:19 kriti218, ***@***.***> wrote:

[2022-02-21 10:53] DaniilShmelev commented on #819
Usually we update node, typescript and tasklib version all at the same time when we migrate a task, e.g.: https://github.com/microsoft/azure-pipelines-tasks/pull/14064. We don't have any guarantees that it will work on previous typescript or node versions. So in this sense, there is indeed a breaking change.

[2022-02-22 10:06] #667 closed

[2022-03-06 16:01] #658 closed

[2022-03-09 19:37] martinisaksen commented on #630
Another option that doesn't change any source code and mess directly with the agent is to put the following code in your `azure-pipeline.yml` file before the tests run:
_(copy directories works with Linux, but would need to change for other OS)_

[code]

[2022-03-11 14:44] SimonAlling opened #823 "`filePath` inputs can neither be required nor optional"
### Environment
azure-pipelines-task-lib version: 3.2.0

### Issue Description

An input like

[code]

is in fact **not required**: if it's omitted by the user, then it's automatically populated with a value like `/home/vsts/work/1/s/cool-repo` by Azure Pipelines.

Conversely, such an input with `"required": false` is in fact **not optional**, for the same reason. In the implementation,

[code]

w

[2022-03-18 12:43] SimonAlling commented on #823
Thanks for the reply!

Depending on various circumstances, it may be desirable to update the documentation of `getInput`, which currently says:

I'm not sure exactly how, but possibly by adding something like this:

[2022-03-18 13:32] SimonAlling commented on #823
I also suspect that the [`getPathInput`](https://github.com/microsoft/azure-pipelines-task-lib/blob/9448530ccb0861863bbef53a52a41652f28ade66/node/task.ts#L302) documentation might need to be clarified in a similar way, because it also claims:

But in practice (when a task is running in Azure Pipelines), it seems like the value will always be set, as seen from the task lib's perspective.

[2022-03-18 17:02] Banner-Keith opened #824 "Required inputs undefined. Documentation does not match library."
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

## Environment
azure-pipelines-task-lib version: 3.2.0

## Issue Description
Two issues

### 1. Documentation out-of-date
The [documentation](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/node/docs/azure-pipelines-task-lib.md#input-functions) for

[2022-03-21 09:35] anatolybolshakov commented on #824
Hi @Banner-Keith thanks! This could be some possible enhancement to make type validation more straightforward for the case with required value - let us take a look at it in the near time. Feel free to open PR with any of your ideas as well.

[2022-03-21 16:08] Banner-Keith commented on #824
@anatolybolshakov Do you have a preference on the naming convention for the methods? I see either `getInputRequired` or `getRequiredInput` as being reasonable names. I kind of prefer putting Required last so that when you start typing 'getInp' IntelliSense suggests both `getInput` and `getInputRequired`.

I'll open a PR with my ideas and if you or your team see anything you'd like me to change jus

[2022-03-29 06:27] glaenzesch opened #828 "Read out PAT from GitHub Enterprise service connection"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 3.1.2
Azure DevOps Server 2020

### Issue Description
I want to write a task to connect our Azure DevOps Server with GitHub Enterprise. Therefore, I want to use the created service connection to GitHub Enterprise (PA

[2022-04-05 10:47] KonstantinTyukalov commented on #828
Hi @glaenzesch!
We have higher priority tickets at the moment, and we and can't pay enough attention to your question right now.

I can suggest looking at how this is implemented in the `AzureCLI` task - https://github.com/microsoft/azure-pipelines-tasks/blob/master/Tasks/AzureCLIV2/azureclitask.ts#L106

As a workaround, I might suggest setting up a GitHub PAT token as a secret in pipeline. This d

[2022-04-05 15:22] jessehouwing commented on #828
Try writing the retrieved endpoint object to the log as a json string. That way you'll have an idea how the data is actually stored.

The actual secret will be redacted, but that's ok ;)

[2022-04-06 06:25] glaenzesch commented on #828
Hi  @KonstantinTyukalov. Thx for your response. I did already this workaround to get my process working.

Looking forward to a solution when there is time 👍

[2022-04-06 06:28] glaenzesch commented on #828
Hey @jessehouwing. You are right. I did this but it could not be read out so that I can store it an variable to take it as an parameter for other functions.

[2022-04-12 00:38] dmitryserbin opened #830 "Add ToolRunner hide command support"
### Environment
azure-pipelines-task-lib version: 3.2.0

### Issue Description
We need ability to hide `[command]` definition [output](https://github.com/microsoft/azure-pipelines-task-lib/blob/5ebf55f67908c5b16314ccb60a0c6b94dacd8a0a/node/toolrunner.ts#L898) from console when executing ToolRunner. I would like to introduce a new optional parameter to `IExecOptions` to enable this.

Please find wo

[2022-04-12 15:14] anatolybolshakov commented on #830
Hi @dmitryserbin thanks for reporting! Sure, feel free to open a PR with your suggestions

[2022-04-12 22:17] dmitryserbin commented on #830
Sweet, just added one @anatolybolshakov!

[2022-04-13 17:07] #810 closed

[2022-04-18 07:05] txk0705 opened #832 "outdated dependency - minimatch:3.0.4"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues.

### Environment
azure-pipelines-task-lib version: 3.2.0

### Issue Description
minimatch:3.0.4  is out dated and has vulnerabilities requires to update to  latest version. it is no more supported. Outdated library blocks azure task lib installation due to security

[2022-04-25 08:51] MaryanneNjeri opened #833 "Visible Rule doesn't work with forward slash"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: latest

### Issue Description
I have an input whose value is "test/value"
Eg:

{
       "name":  "abc",
       "type":  "radio",
       "label":  "Abc",
       "defaultValue":  "test1/value",
       "required":  true

[2022-04-28 11:27] SvetlanaMaliugina commented on #832
Hi @txk0705. We will take a look at this issue in near time.

[2022-05-23 10:24] alexander-smolyakov commented on #833
Hey @MaryanneNjeri, let me close this ticket since the issue is not related to pipeline task SDK. Feel free to request a reopening if you have any further questions.

[2022-05-23 10:24] #833 closed

[2022-05-25 12:43] microsoft-github-policy-service[bot] opened #840 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-25 19:47] kirill-ivlev commented on #832
Changes were merged.

@mmrazik could you please publish a new version of task-lib?

[2022-05-28 12:49] #824 closed

[2022-05-28 12:51] max-zaytsev commented on #824
This should be available in [3.2.1](https://www.npmjs.com/package/azure-pipelines-task-lib/v/3.2.1)

[2022-05-29 11:01] #819 closed

[2022-06-03 10:49] #840 closed

[2022-06-04 15:26] chayanikaa opened #843 "TaskMockRunner provides no way to assert the results of the task, and cannot find a way to mock modules using MockTestRunner"
### Environment
azure-pipelines-task-lib version: 3.3.1

### Issue Description
I cannot find a way to simultaneously mock a module and also assert the result of a task in my unit test. I would like to mock an external package, and assert the result of the task.

I can assert the result of task using MockTestRunner.stdout/MockTestRunner.succeeded etc, but I cannot mock packages using MockTestRunner

[2022-06-07 05:59] max-zaytsev commented on #843
@chayanikaa Thanks for your question! We are working on more prioritized issues now but will get back to this one soon.

[2022-06-27 01:37] dvasdekis commented on #251
For those dealing with this issue who find this post, the solution for me was here: https://developercommunity.visualstudio.com/t/failed-powershell-task-write-error-output-is-not-v/344686#T-N1325385

Reprinted for posterity, stick your code inside a try-catch block:

try
{
    # do the work
}
catch
{
    $detailedError = $_
    Write-Host "##vso[task.logissue type=error]$detailedError"
    Write-H

[2022-07-01 11:34] SimonAlling commented on #823
I thought the documentation was supposed to be updated.

[2022-07-12 01:05] dmitryserbin commented on #830
Up!

[2022-07-12 07:01] #828 closed

[2022-08-02 05:01] lordozb opened #854 "getEndpointAuthorizationScheme is throwing exception"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 3.1.6

### Issue Description
I am owner of Azure Synapse workspace deployment ADO extension. We are using azure-pipelines-task-lib version 3.1.6 from over last 1 year. Suddenly, the method "_getEndpointAuthorizationS

[2022-08-04 13:04] DenisRumyantsev commented on #854
Here is the `retrieveSecret` method implemented in `task-lib` — [link](https://github.com/microsoft/azure-pipelines-task-lib/blob/35bcc3f831a6a8b7281eff17ac9a290cb9626e74/node/vault.ts#L58).
This method is general for all secrets stored in a vault and is designed to get the value of a secret by the key (name) of a secret.
The `getEndpointAuthorizationScheme` method (implemented here — [link](https

[2022-08-04 13:31] lordozb commented on #854
@DenisRumyantsev The AzureCli task you mentioned, did it work with the MSI service connection?

[2022-08-04 14:48] lordozb commented on #854
Looks the somehow the Case of the returned value is changed. Earlier it was in smallcase now it is in title case.
Anyways, I'll add this fix in my code.
Thanks.

[2022-08-04 14:48] #854 closed

[2022-08-11 17:05] giannisioannou-tomtom opened #857 "Misleading debug logging when process exits due to receiving a signal"
### Issue Description
toolRunner does not cope with child process exiting due to receiving a signal and thus tasks using it log out unhelpful error messages like: `Error: The process '/mnt/azp/_work/_tool/kubectl/1.22.6/x64/kubectl' failed with exit code null.` this is due to the fact that the signal that the process was exited with in the **exec** function of `node/toolrunner.ts` at `cp.on('exit'

[2022-08-13 23:18] DaRosenberg opened #858 "ToolRunner.killChildProcess() unexpectedly sends SIGTERM instead of SIGINT"
### Environment

azure-pipelines-task-lib version: 3.3.1

### Issue Description

The method `ToolRunner.killChildProcess()` is documented as follows:

[code]

However, its implementation forwards without arguments to Node's `ChildProcess.kill()` method ([documented here](https://nodejs.org/api/child_process.html#subprocesskillsignal)) which by default sends `SIGTERM` to the child process unless a

[2022-08-14 09:36] DaRosenberg commented on #858
On second thought it's probably better to have this API mirror that of Node and have the same default, and leave it up to the caller to specify something else if desired.

[2022-08-15 12:14] #832 closed

[2022-08-15 12:32] kirill-ivlev commented on #857
Hi @giannisioannou-tomtom!
Thanks for your request, we've added this feature request to our backlog. We'll take a look at it once we have enough capacity.

[2022-08-15 12:44] giannisioannou-tomtom commented on #857
Thanks for looking into this. I sort of got a branch with the proposed change. Could I get write access to create a PR?

[2022-08-15 13:20] kirill-ivlev commented on #857
We appreciate your contribution, you can just create PR from the forked repo, we will review & merge it.

[2022-08-15 13:26] giannisioannou-tomtom commented on #857
Appologies but there is no mention of a forked repo that I can find, could you share the name of the repo? Or do you mean I need to fork it my self?

[2022-08-22 19:35] MaryanneNjeri opened #861 "Task Input Validation for type multiLine isn't supported ?"
### Environment
azure-pipelines-task-lib version: 3.3.10

### Issue Description
I Am trying to do validation for a multiline type of input. Am using the `isMatch` validation and passing a regex to limit users from entering more than a maximum number of lines in a text. Unfortunately, the validation is not being performed.

### Expected behavior
To show the validation error message when more than t

[2022-08-23 11:41] AndreyIvanov42 commented on #861
@MaryanneNjeri
Thanks for your question. Unfortunately, I don't find any descriptions for input types of tasks and supported options for them. We have only this [scheme](https://github.com/microsoft/azure-pipelines-task-lib/blob/master/tasks.schema.json)

[2022-08-25 19:10] MaryanneNjeri commented on #861
Thank you @AndreyIvanov42 , the task input validation docs also don't indicate how to validate multiline text

[2022-09-14 22:49] promicroNL opened #866 "##vso[task.setvariable has varying results with the same environment variables in different builds"
### Environment
azure-pipelines-task-lib version:  3.3.1

PowerShell task version: 2.200.0

### Issue Description
The results of using Powershell to Write-Host ##vso[task.setvariable is varying  when using the environment variable name, e.g. CONNECTIONSTRING_LOGGINGCONNECTION
When using the original variable name,  ConnectionString.LoggingConnection, it works like a charm.

I stumbled up on to thi

[2022-09-15 12:09] jessehouwing commented on #866
This is more a bug on the agent side. It processes the commands. The
library only logs the request to the console for the agent to pick up.

On Thu, 15 Sept 2022, 00:49 promicroNL, ***@***.***> wrote:

[2022-09-15 12:40] vmapetr commented on #866
Hi @promicroNL  !
Thank you for your report,
Currently, we are working on more prioritized issues at the moment but will get back to this one soon.

[2022-09-15 13:00] promicroNL commented on #866
Thanks Jesse, I also doubted this, but in theory it could also go wrong in the conversion and formatting of this task.
What do you think, also opening an issue at https://github.com/microsoft/azure-pipelines-agent and referring to this one?

[2022-09-15 14:14] jessehouwing commented on #866
Yeah, I thin this should be handled by the agent.

On Thu, 15 Sept 2022, 15:00 promicroNL, ***@***.***> wrote:

[2022-09-21 14:39] max-zaytsev commented on #858
Hi @DaRosenberg, thank you for creating an issue. We're currently working on the more prioritized tickets. We'll take a look at it once we have enough capacity.

[2022-10-06 13:17] #823 closed

[2022-10-08 11:07] qetza opened #870 "Does TFS 2017 with agent 2.144.0 support task.setvariable?"
### Environment
azure-pipelines-task-lib version: 3.1.10

### Issue Description
Hello, i have a user of my task [ReplaceTokens](https://github.com/qetza/vsts-replacetokens-task) which is reporting an [issue](https://github.com/qetza/vsts-replacetokens-task/issues/281) from the `task.setvariable` command.

Is there any incompatibility between TFS2017 and the `task.setvariable`?

### Expected behavi

[2022-10-08 12:18] jessehouwing commented on #870
Not 100% sure if TFS 2017 supported isOutput.

On Sat, 8 Oct 2022, 13:08 Guillaume Rouchon, ***@***.***>
wrote:

[2022-10-11 19:58] dmitryserbin commented on #830
Up!

[2022-10-11 21:01] VeraBE opened #871 "Can't express basic logic in visibleRule"
### Environment
azure-pipelines-task-lib version: 3.2.0

### Issue Description

Some options of our task should only be visible when the underlying tool version is above some value. And currently, we let users chose the version with a picklist that offers Latest, Latest Pre-Release or Exact, when they choose Exact, then another gets visible, where they can write the specific version number. So, fo

[2022-10-13 21:23] kaburkett opened #872 "This script contains malicious content and has been blocked by your antivirus software."
https://github.com/microsoft/azure-pipelines-task-lib/blob/5adadaedd70e68a4130f339e0faf8b8a9a72d273/powershell/VstsTaskSdk/ServerOMFunctions.ps1#L1

[code]

I have no current working theory behind the cause. The agent returns this message during Windows Machine File Copy task. I put in a request for an exemption on this specific script but knowing a theory as to why it became an issue could be hel

[2022-10-14 08:30] LiliaSabitova commented on #872
Hi @kaburkett could you please advise what antivirus software you have and the version of agent?

[2022-10-14 09:26] kaburkett commented on #872
Carbon Black Cloud : Version 3.8.0.398

[2022-10-15 16:59] ismayilov-ismayil commented on #870
Hi @qetza, thanks for contribution! It seems the problem is not related with task.setvariable directly. Can you provide full log of the job?

[2022-10-25 23:41] joshftb opened #874 "Address CVE-2022-37614"
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version:  3.3.1

### Issue Description
[There is a prototype pollution bug in mockery, a prod dependency](https://github.com/mfncooper/mockery/issues/77)
[package.json here](https://github.com/microsoft/azure-pipelines-task-l

[2022-10-27 09:44] ismayilov-ismayil commented on #870
Dear @qetza, we didn't receive update, we are closing this issue, feel free to ask any other questions or let us know if it's still relevant for you

[2022-10-27 09:44] #870 closed

[2022-11-02 09:04] #874 closed

[2022-11-10 11:54] LiliaSabitova commented on #872
Hi @kaburkett, we have checked the script with www.virustotal.com and nothing suspicious was found. We cannot say why your anti-virus considers it as malicious, maybe you could contact the vendor.

[2022-11-10 12:28] kaburkett commented on #872
Thanks for your reply.

I followed a Microsoft article on antivirus agent directory exemptions after my initial post.

I will see if the error is still occurring and report back if I uncover any helpful information for future users of windows file copy task.

[2022-11-16 10:56] kriti218 opened #890 "Mockery security vulnerability fix in 2.1.0 missing in release version 3.3.1"
The version 3.3.1 of azure-pipelines-task-lib is still referring to 1.7.0 version of mockery. Please let us know when are you planning to release another version of library after upgrading mockery version to 2.1.0.
This is a link to advisory https://www.mend.io/vulnerability-database/CVE-2022-37614

[2022-11-16 19:14] johnnyreilly opened #891 "Is there any way to see what's coming with version 4? Changelog"
Hi!

I spend a fair amount building Azure Pipelines tasks and I noticed that there was a new 4 version on npm.  Is there any kind of changelog or similar I could look at?

[2022-11-16 19:53] jessehouwing commented on #891
Mostly: Node 16.

[2022-11-16 20:04] johnnyreilly commented on #891
Ah so node 16 doesn't work with 3.x?

[2022-11-16 20:18] jessehouwing commented on #891
No clue. 4.x is made for node 16.
3.x was made for Node 10

But I've ran my 3.x tasks on node 6 without any issues.

But in order to make use of the new Node 16 features, use 4.x.

I'm still waiting for extension documentation that properly documents the backwards compat story.

[2022-11-16 20:21] johnnyreilly commented on #891
Interesting - a colleague is publishing a task tomorrow targeting node 16, but using 3.x. will see how that goes

[2022-11-16 21:50] jessehouwing opened #892 "v4 throws an error "Cannot read properties of undefined (reading 'retrieveSecret')""
Please check our current Issues to see if someone already reported this https://github.com/Microsoft/azure-pipelines-task-lib/issues

### Environment
azure-pipelines-task-lib version: 4.0.1-preview

### Issue Description
Trying to run the following task:
https://github.com/microsoft/azure-devops-extension-tasks/blob/dev-v4/BuildTasks/TfxInstaller/TfxInstaller.ts

### Expected behaviour
The task ex

[2022-11-16 22:12] jessehouwing commented on #892
Here's the zipfile
[task.zip](https://github.com/microsoft/azure-pipelines-task-lib/files/10026070/task.zip)

To run locally:

node tfxinstaller/tfxinstaller.js

[2022-11-16 22:36] jessehouwing commented on #892
When I switch the import order from:

[code]

to:

[code]

I get a new error:

[code]

[2022-11-16 22:36] jessehouwing commented on #892
When I switch the import order from:

[code]

to:

[code]

I get a new error:

[code]

[2022-11-17 10:56] #872 closed

[2022-11-17 11:50] KonstantinTyukalov commented on #891
Hey!
In version 4.x we wanted to drop support for node 10, but plans changed and now in version 4.x we support both node 10 and 16.

In this case there's no breaking changes between 3.x and 4.x, but we will continue with ver. 4.x

[2022-11-17 12:13] kriti218 commented on #890
Can someone please acknowledge this? It is important to fix this.

[2022-11-17 14:43] Roman-Shchukin commented on #892
It looks like a library version conflict. In the pipeline tasks this is solved as follows https://github.com/microsoft/azure-pipelines-tasks/pull/17222/files#diff-a47a4c679593fd7fd921514d60e0ba669681ce937dab37845f359cddd0a9a22e

[2022-11-17 17:54] jessehouwing commented on #892
I don't really see a difference from how I do it. I've upgraded both Azure pipelines libraries to the latest preview as well as brought my dependencies up to date.

[2022-11-17 22:21] jessehouwing commented on #892
The order of imports really seems to matter:

[code]

works.

[2022-11-17 22:21] #892 closed

[2022-11-21 03:53] kriti218 commented on #890
@Roman-Shchukin  Thank you for the fix. When are you planning to make it release version instead of preview? We dont use preview versions in production.

[2022-11-21 14:33] Roman-Shchukin commented on #890
Release 4.0.2 has just been published. https://www.npmjs.com/package/azure-pipelines-task-lib?activeTab=versions

[2022-11-22 10:56] Roman-Shchukin commented on #890
Hi @kriti218. Does this release work for you?

[2022-11-22 11:02] kriti218 commented on #890
Hi @Roman-Shchukin Cant i upgrade to version 3.3.2 instead of 4.0.2? Does 3.3.2 suffice for the security fixes ?

[2022-11-22 12:51] Roman-Shchukin commented on #890
Yes, ok, we will publish 3th version with these fix, it's real very important. And we are going to finish support for version 3th soon, since version 4th is already stable

[2022-11-23 05:14] kriti218 commented on #890
Ok, makes sense, thanks. I will upgrade to 4.0.2 then.

[2022-11-23 08:24] #890 closed

[2022-11-24 14:01] #857 closed

[2022-11-28 15:02] jessehouwing opened #899 "NPM page docs links are broken"
When I try to click any of the docslinks on the NPM page for this library, I get 404's:

![image](https://user-images.githubusercontent.com/4173387/204310324-21584fc8-2a25-489f-8229-f5d8c12c4641.png)

![image](https://user-images.githubusercontent.com/4173387/204310472-9d013732-7c3e-4614-9c6a-0cc7a3802da2.png)

[2022-11-28 16:37] max-zaytsev commented on #899
@jessehouwing thanks for reporting this! We'll take a look

[2022-11-29 17:16] JamieMagee opened #900 "Remove dependency on `Q` in favor of native Promises"
### Environment
azure-pipelines-task-lib version: 3.4.0

### Issue Description

`azure-pipelines-task-lib` currently has a hard dependency on [`q`][1], a Promise library for JavaScript. This was necessary in the early days of JavaScript, but since ES6/ES2015 the JavaScript standard has had native support for Promises. `q` hasn't published a new release in over 5 years, and has [a note on the GitHu

[2022-11-30 13:38] max-zaytsev commented on #900
Hi @JamieMagee, thanks for reporting this.
We are currently working on higher priority issues. But we'll get back to that soon.