[2015-09-02 22:12] hinzo opened #2 "getPathInput shouldn't call check if the value is not required"
If the value is optional. The call to getPathInput ends up calling checkPath on a null value.

[2015-09-02 22:14] hinzo opened #3 "minimatch should be runtime dependency"
minmatch module is currently set as dev dependency but it's used inside the task lib code. the require need to be removed or the module should be referenced in the dependency section.

[2015-09-03 11:18] bryanmacfarlane commented on #3
agreed

[2015-09-03 11:26] bryanmacfarlane commented on #2
I think it's doing the right thing.  If check is not supplied, it's null.
export function getPathInput(name, required, check) {
...

    if (check) {
        checkPath(inval, name);
    }

$ node

undefined

do test
undefined

undefined

[2015-09-03 11:28] #2 closed

[2015-09-03 16:20] hinzo commented on #2
@bryanmacfarlane

The issue is when required is false (optional) and the value doesn't exist. So, "inval" is null.  In this case checkPath is called on a null value when it shouldn't be called in the first place.

getPathInput("something_not_present", false, true) <-- throws exeption

The code need to look like this:

    if (inval && check) {
        checkPath(inval, name);
    }

[2015-10-08 13:32] blsmithers opened #6 "Updating task lib through vsoagent-installer"
I feel like this is something I'm doing wrong but I can't quite figure this out, apologies. I have updated the vsoagent-installer:

sudo npm install vsoagent-installer -g

and the output indicates vso-task-lib@0.4.5

I then execute vsoagent-installer on my agent which pulls in the new scripts. For vso-task-lib the package.json indicates a version of 0.4.5 but the related change to lib/vsotask.js i

[2015-10-08 14:34] bryanmacfarlane commented on #6
Which specific change are you looking for?  I can investigate

[2015-10-08 14:37] blsmithers commented on #6
https://github.com/Microsoft/vso-task-lib/pull/1

[2015-10-08 14:52] bryanmacfarlane commented on #6
And you're installing the latest version of the agent?

[2015-10-08 14:56] blsmithers commented on #6
Here's the command I used and the output

$ sudo npm install vsoagent-installer -g
npm WARN engine xmlbuilder@2.2.1: wanted: {"node":"0.8.x || 0.10.x"} (current: {"node":"0.12.7","npm":"2.11.3"})
/usr/local/bin/vsoagent-installer -> /usr/local/lib/node_modules/vsoagent-installer/bin/install.js
vsoagent-installer@0.2.29 /usr/local/lib/node_modules/vsoagent-installer
├── iniparser@1.0.5
├── svchost@

[2015-10-08 15:00] blsmithers commented on #6
After the update to the agent I'm checking for the change in the file:
/usr/local/lib/node_modules/vsoagent-installer/node_modules/vso-task-lib/lib/vsotask.js

I also run vsoagent-installer on my agent and check file <agent>/node_modules/vso-task-lib/lib/vsotask.js  and it too doesn't show the change

[2015-10-14 17:43] pascalberger commented on #3
This was fixed by #5

[2015-10-27 14:39] kjrb commented on #3
Hi,
Would it be possible to publish the fixed version to npm? I am using vso-task-lib and as a workaround I have to import minmatch in my package to avoid error in vso-task-lib.The npm version does not have minmatch in dependencies.

[2015-10-27 16:07] blsmithers commented on #6
Bryan do you have an update on this by any chance?

[2015-11-04 19:08] halkeye commented on #3
Seconding the new npm release.
Especially 'cause with the current directory structure, you can't npm install the git branch.

[2015-11-16 14:18] blsmithers commented on #6
It still appears the public version of this package at npmjs.org does not have the most recent changes. Should I pull this package from another source?

[2015-12-01 06:30] bryanmacfarlane commented on #6
Latest the agent uses (4.8) was publish and has the changes.  5.1 was also published with more changes for a future agent.  If you install a new copy of latest agent (0.3.x) it should have

[2015-12-01 06:30] #6 closed

[2015-12-01 06:31] bryanmacfarlane commented on #3
published

[2015-12-01 06:31] #3 closed

[2015-12-02 20:32] jkeech opened #10 "Generated npm package has ///<reference> to non-existent files, causing build breaks"
For instance, lib/toolrunner.js and d.ts/vso-task-lib.d.ts both have the following at the top of the file.

[code]

Then, when I try to build a custom task using TypeScript that references this npm package, I get compile errors.

I should be able to install the npm package and build against it successfully.

[2015-12-02 21:16] jkeech opened #11 ".d.ts file being generated with the wrong module names"
The vso-task-lib.d.ts file is being generated with

[code]

but the folder structure of the npm module is acutally vso-task-lib/**lib**/taskcommand.js. This means the generated .d.ts file should contain

[code]

in order for the module to be loaded by NodeJS via require('vso-task-lib/lib/taskcommand'). I think this should be a small fix to the gulpfile as part of the configuration of the dts gener

[2015-12-12 02:22] TingluoHuang commented on #11
We fixed this recently. Pull master and try it now. :)

[2015-12-21 08:15] bfcamara opened #22 "toolrunner failing in Win7 with ENOENT when running a command globally installed with npm-g"
I am experiencing an issue which I think it is related with this [node issue 2318](https://github.com/nodejs/node-v0.x-archive/issues/2318)

I have a build definition with one step only with the task Npm and configured to do do just `npm --version`. When I run a build in my Win7 I'm getting an error

`return code: 1`

After some debugging, here is the error that is being bubbled in the promise rej

[2015-12-21 14:34] TingluoHuang commented on #22
This is a known issue with Shelljs.
https://github.com/shelljs/shelljs/issues/238
modify shelljs code under your node_modules folder like this: https://github.com/shelljs/shelljs/pull/239

[2015-12-23 13:39] TingluoHuang commented on #22
In my latest PR for vso-task-lib, i implement Which() on windows platform until Shelljs fix there which().

[2015-12-23 13:40] TingluoHuang commented on #10
This should be fixed right now.

[2016-01-29 14:17] mvvsubbu opened #32 "tl.exec not showing error message in child process as errors"
Using tl.exec method to invoke a jar which in turn performs some operations and logs errors in failure cases. tl.exec method is logging all the messages to output stream even though child is writing error stream.

Java script calls jar the following way:
var cmdArgs = "-jar vmOpsTool-1.0.jar" + cmdArgsForAction + commonArgs;
        util.log("Invoking command to perform vm operations ...\n");

[2016-01-29 14:21] mvvsubbu opened #33 "tl.exec on ubuntu automation agent not showing child process out"
Invoking child as:
var cmdArgs = "-jar vmOpsTool-1.0.jar" + cmdArgsForAction + commonArgs;
        util.log("Invoking command to perform vm operations ...\n");
        return tl.exec("java", cmdArgs, <any> {failOnStdErr: true})
            .then((code) => {
                tl.debug("Exit code: " + code);
                tl.exit(code);
            })
            .fail( (err) => {
                tl

[2016-02-26 09:28] mvvsubbu commented on #33
This issue is not occurring after migrating vsts-task-lib from 0.5.6 to 0.5.10

[2016-02-26 09:28] #33 closed

[2016-02-26 09:28] mvvsubbu commented on #32
This issue is not occurring after migrating vsts-task-lib from 0.5.6 to 0.5.10

[2016-02-26 09:35] mvvsubbu commented on #32
Adding some more data.. This issue is happening only on windows agent

[2016-02-26 10:01] mvvsubbu commented on #32
As this is related to windows agent. I am closing the issue here instead I will open in windows agent

[2016-02-26 10:01] #32 closed

[2016-03-04 06:49] qetza opened #48 "Support complex input types"
Hi,

Currently those functions only support normal variables getting their value through environment variable. It would be great that they also support secret variables like Get-TaskVariable in Microsoft.TeamFoundation.DistributedTask.Task.Internal.

Thanks

[2016-03-06 04:08] ericsciple commented on #48
My understanding is that secret variables should be passed into tasks via inputs. If that's not sufficient, can you provide more details about your scenario?

[2016-03-06 08:11] qetza commented on #48
Hi,
A simple example is for tasks like those:
- https://github.com/qetza/vsts-replacetokens-task/
- https://github.com/colindembovsky/cols-agent-tasks/tree/master/Tasks/ReplaceTokens

Those tasks help replace tokens with variable values, if we had to ask the users to supply secret variables as parameters it would be unusable.

[2016-03-12 12:57] jessehouwing commented on #48
We also use pre-defined variable names and variables with a specific prefix in a number of our internal tasks. We simply query all available build variables, iterate through them and act on them based on their name.

We currently use the script I blogged about here:
http://blog.jessehouwing.nl/2016/03/access-all-available-build-variables.html

[2016-03-12 22:32] ChristopherHaws opened #54 "Exec ToolRunner against remote servers"
I was wondering if it is possible to provide a ToolRunner with remote machine information so that exec runs the tool on remote machines. It looks like this functionality exists for PowerShell tasks via `Invoke-RemoteDeployment` which is part of the module `Microsoft.TeamFoundation.DistributedTask.Task.Deployment.RemoteDeployment`.

If this hasn't been implemented yet, I would propose that an optio

[2016-03-18 14:21] jessehouwing opened #55 "Sample requested: How to parse the output from a tool as XML or JSON"
currently using:

[code]

This gives me access to the stdout (and ignores silent:true for some reason), but I'd like to pass it a string or stream or something to capture the output and allow me to parse it while piping it.

Something like:

[code]

An example of such functionality would be nice :).

[2016-03-18 15:59] jessehouwing commented on #55
Looks like this will work, not sure if it's the best way to do it:

[code]

[2016-03-21 07:38] pascalnaber commented on #48
Because we need to configure an n-amount of variables for deployment to Azure, we use a naming convention for variables. We can't know on forehand what and how many variables we should use, its dynamic. When iterating over all variables and checking the names based on the naming convention, we are now able to use variables from VSTS to deploy dynamic to Azure.
Because there is sensitive informatio

[2016-03-21 20:31] chrisrpatterson commented on #48
We are considering adding a checkbox so there is an explicit option for the user to grant access to their secrets to a task. Ideally the reflection hack that Jesse put together would not work but that was an artifact of the custom PowerShell host that we are trying to move away from.

[2016-03-22 07:31] qetza commented on #48
Hi Chris,
Having a opt-in option would be an good workaround.
Also it would be good to have an easy access to the list of variables as Jesse has done. Maybe something like OctopusDeploy where you have an OctopusParameters hashtable filled with all relevant values.

[2016-03-22 13:27] jessehouwing commented on #48
@chrisrpatterson it's only a reflection hack because calling a generic method from powershell isn't easy. The API is otherwise public API and would look quite clean if I had written it in C# instead. So ideally it would look cleaner, but API wise it is supposed to work from a API consumer perspective.

[2016-03-22 13:28] jessehouwing commented on #48
@chrisrpatterson I'd love this to be part of a permission system. As a sysadmin I would want to review these types of tasks with more rigor than tasks that do not have access to secrets.

[2016-03-22 13:48] bryanmacfarlane commented on #48
@qetza

We had an dictionary input for tasks - we could do that.

The anti-pattern we are trying to avoid is folks publishing tasks where when you drag them on, you also have to know what secret variables to set.  It makes the system fall apart - even though it's fine for your custom tasks.

By adding a check box, we are encouraging the fragile pattern.

The problem seems to be a collection of dat

[2016-03-22 14:06] jessehouwing commented on #48
If at the same time you fix the recursive expansion of variables, I'll
return my tasks :)

[2016-03-22 15:07] bryanmacfarlane commented on #48
Deal
https://github.com/Microsoft/vsts-agent/commit/a16213a84a02e6024f35774e71b03496288eff15

[2016-03-28 16:41] apucacao opened #59 "Cannot find module "...""
Hello,

I was testing my node task to make sure it worked on the hosted agents, and was getting a "Cannot find module 'vso-task-lib'". I was using relative paths (`var tl = require('../../../../node_modules/vso-task-lib');
`) and that worked on my local agent, but not on the hosted one.

I have 2 questions:

1. I found an article that recommended that the task lib be installed in the task folder;

[2016-03-30 05:41] ericsciple commented on #59
1) Yes. https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/vsts-task-lib.md
2) Yes.

[2016-03-30 05:41] #59 closed

[2016-04-03 09:43] MasashiTeruya opened #62 "VSBuild and PublishSymbols fail after upgrade to TFS 2015 Update 2 RTM in Japanese locale."
CI build failed in my environment after I upgrade TFS 2015 Update 1 to TFS 2015 Update 2.

logs:
2016-04-02T21:41:21.6214276Z C:\Windows\System32\WindowsPowerShell\v1.0\powershell.exe -NoLogo -Sta -NoProfile -NonInteractive -ExecutionPolicy Unrestricted -Command ". ([scriptblock]::Create('if (!$PSHOME) { $null = Get-Item -LiteralPath ''variable:PSHOME'' } else { Import-Module -Name ([System.IO.Pat

[2016-04-03 11:21] MasashiTeruya commented on #62
I quickly tested and found encoding was the problem. ConvertTo-Json cannot parse wrong encoding one.
By default encoding is not UTF8 in Japanese environment...

BAD

ConvertFrom-Json : ':' または '}' ではなく無効なオブジェクトが渡されました。 (473): {
  "loc.messages.PSLIB_ContainerPathNotFound0": "繧ｳ繝ｳ繝・リ繝ｼ縺ｮ繝代せ縺瑚ｦ九▽縺九ｊ縺ｾ縺帙ｓ: '{0}'",
  "loc.messages.PSLIB_EndpointAuth0": "'{0}' 繧ｵ繝ｼ繝薙せ 繧ｨ繝ｳ繝峨・繧､繝ｳ繝医・雉・ｼ諠・ｱ",
  "loc.me

[2016-04-03 20:14] ericsciple commented on #62
I'll get a patched version of the tasks into the releases/m95 branch of the tasks vso-agent-tasks. I'll add some unit tests to prevent regressions if the encoding of the files change.

Thank you for the investigation/fix.

[2016-04-04 09:41] jessehouwing commented on #48
@bryanmacfarlane I've been looking for the ability to provide lists and dictionaries in a couple of my tasks. Being able to supply the dictionary keys from a datasource would be a lovely addition. One of my tasks shows a textbox to enter key-value pairs for Check-in Notes. At the moment I've resorted to having my users enter Json.

[2016-04-06 10:50] zulalay opened #64 "Error: Cannot find module 'vsts-task-lib'"
Hey guys.
Everything worked fine untill today. And now when i add Cordova Command to my build steps i get
Set workingFolder to default: D:\agent\tasks\CordovaCommand\1.2.0

module.js:338
throw err;
Error: Cannot find module 'vsts-task-lib'
at Function.Module._resolveFilename (module.js:336:15)
at Function.Module._load (module.js:278:25)
at Module.require (module.js:365:17)
at require (module.js:38

[2016-04-07 11:45] Jonlondon commented on #64
Hi, I got the same issue.

[2016-04-07 14:35] chrisrpatterson commented on #64
Where did the CordovaCommand task come from?  They should be including that module in their package.

[2016-04-08 05:13] ericsciple commented on #62
Also, as a workaround, a variable can be set on the definition: set `system.preferpsoverps3` to `true`.

[2016-04-08 18:18] gravufo opened #66 "Unable to load vsts-task-lib on TFS2015 Update 2 build agent"
Hi,

I'm trying to run an extension in Typescript and it fails with the following error:

`##[debug]load strings from: C:\TFS2015\tasks\BuildNumberGenerator\1.0.19\node_modules\vsts-task-lib\lib.json`

`##[debug]load loc strings from: C:\TFS2015\tasks\BuildNumberGenerator\1.0.19\node_modules\vsts-task-lib\Strings\resources.resjson\en-US\resources.resjson`

`Unhandled: Cannot read property 'match'

[2016-04-18 14:03] LiohAu opened #69 "Can this lib be used on TFS 2015 on-prem ?"
I have just tried to upload a new version of the Xcode task available here : https://github.com/Microsoft/vso-agent-tasks/tree/master/Tasks/Xcode and I am getting the following error during builds :

[code]

So I guess that the TFS 2015 Update 1 that we are using is probably missing that library. How can I install (update?) it on our TFS server ?
I also noticed that the reference to this library i

[2016-04-18 14:34] jpricketMSFT commented on #69
All tasks should work on both VSO (Team Services) and TFS on-prem.

Have you installed the .net agent or cross platform agent? The js tasks were designed to run on the cross platform agent. It uses npm to download dependencies. The instructions for installing the cross platform agent can be found here: https://github.com/Microsoft/vso-agent

Thanks,
Jason

[2016-04-18 14:49] bryanmacfarlane commented on #69
Correct.

Tasks package up this lib so it doesn't have anything to do with the server/service version.

https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/vsts-task-lib.md

For example, [our tasks](https://github.com/Microsoft/vso-agent-tasks) pull down the lib and link it into the tasks at build time.

[2016-04-18 14:49] #69 closed

[2016-04-18 14:51] bryanmacfarlane commented on #64
This is an issue in the cordova task.  It's the one that can't find the task lib via it's proxy. It's not an issue with the lib that the consumer can't find it.

[2016-04-18 14:51] #64 closed

[2016-04-18 14:52] ericsciple commented on #69
Generally you shouldn't take a task from the master branch of vso-agent-tasks repo and upload it to your on-premise TFS instance. releases/m89 contains the tasks that shipped with shipped Update 1 and there's no guarantee that taking the task from master will work with your older TFS version. It is not supported.

[2016-04-18 14:53] LiohAu commented on #69
I installed the cross platform agent (and the tfx client also).

Then I cloned the vso-agent-tasks repo, and used "tfx build tasks upload ." in the Tasks/Xcode folder.
So basically I have the TFS 2015 Update 1 tasks except the Xcode one which is the last version available.

[2016-04-18 14:54] ericsciple commented on #69
Yes. That's not supported.

Aside from that, the reason it can't find the lib is because you didn't build the task. The lib is packaged with the task during the build process.

And the the nodejs lib can be used on Windows agent as well as the cross platform agent.

[2016-04-18 14:55] bryanmacfarlane commented on #66
Tasks package up this lib so it doesn't have anything to do with the server/service version.

https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/vsts-task-lib.md

For example, our tasks pull down the lib and link it into the tasks at build time.

[2016-04-18 14:55] #66 closed

[2016-04-18 14:55] LiohAu commented on #69
@ericsciple shouldn't "tfx build tasks upload ." build the task before uploading (also what does building means for node.js things, is there a sort of compilation?) ?

[2016-04-18 14:58] ericsciple commented on #66
You can add a `platforms` section to set handler preference on a specific OS https://github.com/Microsoft/vso-agent-tasks/blob/master/Tasks/MSBuild/task.json

[2016-04-18 14:59] bryanmacfarlane commented on #11
reopen if it's still an issue.  Ting suggested it's fixed

[2016-04-18 14:59] #11 closed

[2016-04-18 15:01] bryanmacfarlane commented on #55
It will with one caveat - you would have to handle data bridging the data chunk.

I just coded up on("stdline") which gives it to line by line instead of chunk by chunk.  I just need to test it.

[2016-04-18 15:05] LiohAu commented on #69
When looking at that wiki : https://github.com/Microsoft/tfs-cli/blob/master/docs/buildtasks.md it does not show any kind of "building" command it's only "create" and then "upload".

@bryanmacfarlane @jpricketMSFT : I assume that the packaging of a task should be made at some point by the package.js file since the package.json file does not contains the vsts-task-lib which is referenced by the ext

[2016-04-18 15:10] bryanmacfarlane commented on #69
That's because tfx is not a build tool.  It's a runtime tool to create and upload.

Xplat tasks are written in typescript by calling the typescript compiler.  We don't dictate what your build tool is.  We happen to use gulp.  some folks use grunt.  some folks use npm.  Some folks write a shellscript to call tsc.  If you use gulp as well, you're free to copy some of our build script.  In the end, y

[2016-04-18 15:42] LiohAu commented on #69
Ok thanks for the explanation.
With your help and the contribute.md page I could build the tasks and upload the good one (with the node_modules inside)

One more thing : when uploading this new task, since in this specific case I didn't bump the version, is there a way to tell the agents to remove the one they probably have cached ? For now I deleted/re-created the agent, but it's not really conve

[2016-04-18 15:53] bryanmacfarlane commented on #69
No.  The id and version is the identifier of a task.  If it's different it should have a diff version

You should never pick up tasks from master.  They are unreleased.  We have release branches

You should publish built tasks

[2016-04-18 16:08] gravufo commented on #66
Thanks @ericsciple that's exactly what I was looking for!

As for the original request, @bryanmacfarlane does not really answer my question/issue. Why is it so difficult to make documentation that **clearly** shows us how to use the lib and package our tasks correctly?

My task has a node_modules that contains the lib when I package it. That package was installed using `npm install --save vsts-tas

[2016-04-19 08:06] LiohAu commented on #69
I took the m98 branch, Xcode task works perfectly which is not the case with the master branch one (but I'll open another issue for that in the appropriate place)

[2016-04-20 05:14] ericsciple commented on #62
Here's the patch: http://go.microsoft.com/fwlink/?LinkId=786947

The zip contains a readme.txt and a ps1 script to upload the patched tasks.

[2016-04-22 14:01] gravufo opened #71 "Add helper to vsts-task-lib to access the WebApi from vsts-agent in a build task"
As the title says, it would be very helpful to have helper functions in the vsts-task-lib or vsts-agent to call WebApi functions without having to authenticate (since the agent is already authenticated).

This would prevent us from hard coding credentials in the code or in the build definitions.
It also would fix the issue with typescript build tasks requiring to have basic auth in order to authen

[2016-04-22 17:46] bryanmacfarlane commented on #71
Great.  Working on this next week. I'll hand back an object with the auth token already set.

[2016-04-24 00:52] cicorias opened #72 "Packaging this lib causes tfx-cli to fail when running `extension create`"
Since `vsts-task-lib` contains some files that aren't acceptable to the `file --mime-type` command, packaging fails.

In order to bypass this error, it requires 2 environment variables to be set:

[code]

This allows the `tfx extension create --manifest-globs vss-extension.json` command to run w/ out error.
- the error is shown below:

![image](https://cloud.githubusercontent.com/assets/1080406/14

[2016-04-27 01:55] ericsciple opened #73 "tl.exit does not exit"
Here's the code, it doesn't actually exit:
[code]

[2016-04-27 04:09] ericsciple opened #74 "Custom format error details to avoid leaking secrets"

[2016-04-27 14:31] ericsciple opened #75 "Add minimatch to ps lib"

[2016-05-06 11:06] jessehouwing opened #78 "Please support `tl.GetVariables`"
it's easy to access a single variable, but accessing lists(of) variables and doing matching against variable names is hard. I could query the environment, but then it's hard to distinguish between values stored in the environment and which ones have been added through the build system.

A simple comma delimited list of variables would be welcome. It could simply be one more environment variable wh

[2016-05-08 15:48] gregjhogan opened #79 "Get-VstsEndpoint for Azure RM Endpoint missing subscription info"
The subscription name/id is missing for an Azure RM Endpoint, looks like it should be `$Endpoint.Data.SubscriptionId` based on [this](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/Common/VstsAzureHelpers_/InitializeFunctions.ps1#L73) task?

code in custom task
[code]

output
[code]

[2016-05-08 23:35] ericsciple commented on #79
Are you on Update 2 (1.95)? It looks like Data wasn't added (within agent code) until 1.97.

[2016-05-08 23:40] ericsciple commented on #79
I've updated the docs now.

[2016-05-08 23:59] gregjhogan commented on #79
Are you referring to TFS Update 2?  I am using VSO and the endpoint was just created yesterday, so that shouldn't be the problem.

[2016-05-09 00:04] ericsciple commented on #79
Strange. Are you sure you grabbed a high enough version of the vsts-task-sdk? I know 0.6.2 has the required logic.

[2016-05-09 01:51] gregjhogan commented on #79
I ran npm install vsts-task-sdk yesterday, but got version 0.5.4.  Turns out I had npm configured to use a proxy server which it couldn't connect to, and npm installed an old version it had cached on my machine with no indication it failed to connect to the internet ... ugh :(  Now I have 0.6.2 installed and everything is good (Data contains SubscriptionId and SubscriptionName).  Sorry, my bad.

[2016-05-09 01:51] #79 closed

[2016-05-09 02:02] ericsciple commented on #79
Cool, thanks for the confirmation. Interesting proxy problem as well, good to know :)

[2016-05-18 17:36] jpricketMSFT opened #82 "tl.which on Windows should attempt to find the files in this order .exe .bat .cmd"
Apache ANT task has 3 scripts to run ANT: ant.bat for Windows, ant shell script for _nix, and ant.cmd for OS/2 apparently. Unfortunately, the ant.cmd is in a format that Windows cannot run (it has a /_ */ style comment at the top). And this is exactly the one that gets picked by tl.which on Windows. Changing the order to check for .bat first should fix the problem.

[2016-06-01 03:55] AshwiniChalla commented on #82
Similar problem with gradle.

[2016-06-03 00:59] ericsciple commented on #73
Function has been removed

[2016-06-03 00:59] #73 closed

[2016-06-03 01:00] ericsciple commented on #78
@jessehouwing can you help me understand the use case?

[2016-06-03 01:02] ericsciple commented on #62
Fixed in 2.1

[2016-06-03 01:02] #62 closed

[2016-06-03 08:34] jessehouwing commented on #78
I have a bunch of VSTS tasks that can manipulate and validate variables. A colleague of mine has a bunch of tasks that use a postfix/prefix system to perform multiple actions with the given group of variable values.

There are a bunch of original powershell host tasks that make use of the ability to query all variables.

It's also very helpful when debugging, knowing which variables have and have

[2016-06-03 19:02] ericsciple commented on #78
@bryanmacfarlane - thoughts? If we move forward on this one, it seems like we would want to set two lists: one for public variables and one for secret variables.

[2016-07-01 09:28] prmittal opened #97 "Writing to process.stderr does not show output in red in build logs"
In build logs, any output written to process.stdout and process.stderr show up as the same. There should be some differentiation there.

[2016-07-01 14:36] ericsciple commented on #97
https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/Docs/ErrorsWarningsAndTaskResult.md#external-commands-and-stderr

[2016-07-01 14:36] #97 closed

[2016-07-01 14:37] ericsciple commented on #97
The behavior is consistent with powershell.exe

[2016-07-04 21:58] juangelos opened #99 "Object reference not set to an instance of an object"
Exact Repro Unknown: the bug occurs when using the ExtractFiles Task from vsts-tasks, cfr.
https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/ExtractFiles/extractfilestask.ts#L225

LOG:

Debugged it and traced the execution until line https://github.com/Microsoft/vsts-task-lib/blob/master/node/lib/toolrunner.ts#L366
which outputs into our log.

Problem seems to bee some weird condition caus

[2016-07-19 12:07] fredgate commented on #71
Yes great idea. Is the auth token now available ?

[2016-07-19 12:09] bryanmacfarlane commented on #71
The auth token is available.  I need to add a convenience method to hand back the web api object.

[2016-07-19 12:11] nigurr commented on #82
Addressed here: https://github.com/Microsoft/vsts-task-lib/pull/104

[2016-07-22 09:59] fredgate commented on #71
What is actually the convenient way to call TFS API from a typescript task using the uath token of the agent ?
How to get the auth token ? How to call TFS API ?
I want to trigger a release from a build.

[2016-07-22 15:49] fredgate opened #106 "Can not import powershell module"
I have a installation of TFS2015 Update 3 on premise.
I have a agent installed on another machine in version 1.95.3.

I write a simple powershell task that work. I need to improve it.
If in the powershell script I add the line
  `Import-Module "Microsoft.TeamFoundation.DistributedTask.Task.Internal"`
then my build fails with the message :
  `The specified module 'Microsoft.TeamFoundation.Distribut

[2016-07-24 21:11] ghowlett2020 opened #107 "using PowerShell3 execution causes "Cannot process command because of one or more missing mandatory parameters""
Hi,

I have a task using the following input...

[code]

and in my PowerShell script have the corresponding Params

[code]

If i use "PowerShell" the task runs fine - however when i use "PowerShell3" i get the error as per the subject "Cannot process command because of one or more missing mandatory parameters"

Do i need a different type when using Powershell3? I have installed the ps module as pe

[2016-07-24 21:41] ericsciple commented on #107
You need to use [Get-VstsInput](https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/Docs/FullHelp/Get-VstsInput.md) to get the input, and Get-VstsEndpoint to get the endpoint.

I'm working on docs right now. Better getting started docs coming soon.

[2016-07-25 10:10] ghowlett2020 commented on #107
Many thanks - using Get-VstsInput works.

+1 for those documents :-)

[2016-07-25 13:50] fredgate commented on #106
It seems that with Powershell3 execution, the import of module Microsoft.TeamFoundation.DistributedTask.Task.Internal is not necessary.
Can anyone confirm ?

[2016-07-25 14:03] fredgate commented on #71
I am writing a powershell task. I want trigger a release from a build. I have a on premise TFS 2015 Update 3 server.
I can get the projects of my collection with the following code :

[code]

And it works great !
But now how to trigger a release ? There is no client for release part in Microsoft.TeamFoundation.Core.WebApi.dll. I do not find in others DLLs, but may be I miss it.

Else I could direc

[2016-07-25 15:37] #107 closed

[2016-07-25 15:41] ericsciple commented on #106
Confirmed. That DLL is for the closed source legacy PowerShell task SDK. The PowerShell3 lib in this repo is the recommended path forward.

I'm working on changes now for better documentation, samples, and a better getting started experience. I'm planning to add a section for "Coming from the legacy PowerShell execution handler".

[2016-07-25 15:41] #106 closed

[2016-07-25 15:42] ericsciple commented on #99
@jasholl to confirm - i think this was fixed

[2016-07-25 15:50] #10 closed

[2016-07-25 16:02] ericsciple commented on #71
@GitHubSriramB can you speak to the DLL question?

@fredgate See [this example](https://www.visualstudio.com/en-us/docs/build/scripts/index#use-the-oauth-token-to-access-the-rest-api) how to authenticate to the REST API. The example is targeted at folks writing ad-hoc scripts, not custom tasks. But the same idea applies. Rather than using `$env:SYSTEM_ACCESSTOKEN`, use `(Get-Endpoint -Name SystemV

[2016-07-25 17:31] jasholl commented on #99
Yes, this is fixed with 610dbefbf97fb06c36c0238e69eb1aec2eecd1b2

[2016-07-25 17:32] #99 closed

[2016-07-25 20:45] shashban commented on #71
@fredgate - Can you see if https://www.nuget.org/packages/Microsoft.VisualStudio.Services.Release.Client helps you with triggering of the release.

[2016-08-11 12:50] adriaanthomas opened #112 "ToolRunner.exec does not work on Windows when both toolPath and arguments contain spaces"
Use case and traces: Microsoft/vsts-tasks#2253

It looks like this is caused by nodejs/node#7367.

Manually patching the build agent fixes this (javascript resulting from https://github.com/Microsoft/vsts-task-lib/blob/master/node/toolrunner.ts#L232, slightly rewritten to remove typescript-specific syntax):

[code]

(clearly wrapping args in double quotes is a hack, this is just to prove the point

[2016-08-11 16:13] bryanmacfarlane commented on #112
Can you repro an issue with the task-lib with lib >= 0.8 (we're currently on 0.9.x)

[2016-08-11 16:21] bryanmacfarlane commented on #112
I confirmed the task-lib >= 0.8 does not have the issue.  The issue is the gulp task is shipping 0.7 (old) version of the task lib.

[code]

The key is the path intact with spaces needs to get into process argv with spaces and without double quotes.  We will update the gulp task to use 0.9

[2016-08-11 16:25] adriaanthomas commented on #112
You're faster than I am. Does your Gulp path also have spaces? Because that is the only way to fully reproduce this. Your test code only covers the argument, not the path that is passed to `child_process.spawn` as the first argument.

[2016-08-11 16:54] adriaanthomas commented on #112
To be specific, I don't see this error addressed yet:

[code]

This would be explained by the nodejs bug I linked above...

[2016-08-11 17:21] bryanmacfarlane commented on #112
Hmmm.  With new lib.  node 4.4.6
I'll dig more to see why new lib is not susceptible (or doesn't appear to be).

test.sh just does
[code]

[code]

[2016-08-11 17:25] adriaanthomas commented on #112
It looks like you're running this on a Mac, where there is no issue. It only fails on Windows.

[2016-08-11 17:27] bryanmacfarlane commented on #112
Yeah - that was my next step.  I'm OOF on laptop/wifi.  Will try when I'm back in office.

If that is the case then because toolPath is known to be a path, we can quote if not already quoted.  Then gulp would have to pickup latest task-lib.

I'll try and produce private in the morning when @ desk.

[2016-08-11 17:45] bryanmacfarlane commented on #112
quoting messes up on osx so if we do the workaround, might have to be win only.  will validate in a.m.

[2016-08-11 17:51] bryanmacfarlane commented on #112
I'll add unit tests as well.  Good thing is we run them on all platforms.

[2016-08-25 13:32] sandorfr opened #124 "Retrieve an input with unexpanded variables"
I wonder if there is an undocumented way to retrieve a task input without variable being expanded.

The use case is that I have a JSON input. Users might use variable to adjust that json values, but variable must be escaped during replacement. (more details [here](https://github.com/geeklearningio/gl-vsts-tasks-file-patch/issues/4))

There are several ways to perform this :
- Performing the replac

[2016-08-30 08:38] hiyadav opened #127 "Debug method being called from getInput in Task.ts in vsts-task-lib"
I am taking an inline script as an input in AzureCLI Task, and the inline script is being shown in the console, which is not required.
The method "getInput" in task.ts in vsts-task-lib calls the function "debug" which calls further more function and the input line is printed to the console after string.trim done in "getInput" method. Because of this, inline script input is shown in the console ( t

[2016-08-30 11:17] bryanmacfarlane commented on #127
Yes - we absolutely need it.  It only prints if system.debug = true which is not the default

Before we did this, every script littered their tasks with debug statement but inconsistently between tasks

Free debug tracing and consistent debug for troubleshooting is a key principle of both libs

[2016-08-30 11:17] #127 closed

[2016-08-30 12:44] hiyadav commented on #127
the system.debug variable in the variables tab in build definition is set to false. and as soon as the input string exceeds one line, the rest of the input for that particular variable(inlineString) is printed to the console.
@bryanmacfarlane
![image](https://cloud.githubusercontent.com/assets/20859325/18089425/8cf0a300-6edd-11e6-801e-6bc76c5183a6.png)

[2016-08-31 04:38] bryanmacfarlane opened #128 "removes symlink file with missing source using rmRF"
Test is commented out until product bug is fixed

[2016-08-31 04:39] bryanmacfarlane commented on #124
Nope.  No way right now via the lib as the variables are expanded way before it gets to the lib.

[2016-08-31 04:39] #124 closed

[2016-08-31 04:40] bryanmacfarlane commented on #78
fixed in new agent and new lib

[2016-08-31 04:40] #78 closed

[2016-08-31 16:22] sandorfr commented on #124
@bryanmacfarlane  Will this be taken under consideration. Since you closed it immediately, it looks like a no.

[2016-08-31 18:38] bryanmacfarlane commented on #124
It's something that we will think about with upcoming feature work.  But, it can't be fixed in the lib because that data is replaced upstream way before it gets to the lib.

[2016-08-31 18:42] ericsciple commented on #124
@sandorfr i'm curious if a dictionary input would be an alternate solution for your issue? not full json, but a single-level dictionary.

[2016-09-01 18:56] jquince opened #133 "Localization tl.loc does not have access to field names"
Given this field def
{
            "name": "uploadProxyUser",
            "type": "string",
            "label": "Proxy Username",
            "defaultValue": "",
            "required": false,
            "helpMarkDown": "" ,
            "groupName":"scan"
        }

I see that "loc.input.label.uploadProxyUser": "Proxy Username", is in the resource file.

but tl.loc("loc.input.label.uploadProxyUs

[2016-09-08 18:53] ericsciple opened #139 "Tool runner should call chcp.com 65001 on Windows"
Nice to have

[2016-09-08 18:54] ericsciple commented on #128
https://github.com/Microsoft/vsts-task-lib/pull/131

[2016-09-08 18:54] #128 closed

[2016-09-13 19:27] madhurig commented on #54
@ChristopherHaws: We don't have this ability in the ToolRunner but we released an SSH task that helps with deployments on Linux. Take a look to see if this meets your needs: https://blogs.msdn.microsoft.com/visualstudioalm/2016/07/30/ssh-build-task/

Thanks,
Madhuri

[2016-09-13 19:36] ChristopherHaws commented on #54
I don't think that the use cases are the same. What I am talking about is making it so that people who are creating custom build tasks don't have to jump through hoops to execute commands on remote Windows machines. Currently it is possible with PowerShell via WinRM, however building tasks in Node.JS that are platform agnostic is extremely difficult. The only way I have been able to do it with the

[2016-09-27 13:03] cpaton opened #147 "Get-VstsVssCredentials fails reporting Required: 'SystemVssConnection' service endpoint URL"
Hi

I am using v0.7.1 of the vststasksdk PowerShell module in an on-prem TFS 2015 Update 2 installation.  The `Get-VstsVssCredentials` cmdlet is failing reporting

From looking at the code it appears the module is expecting ENDPOINT_\* environment variables to be set but they aren't.  Is this expected to work with the on-prem version of TFS or is this module incompatible with update 2?

Thanks

[2016-09-27 15:44] ericsciple commented on #147
`Initialize-Inputs` yanks it out of the env var. you can edit the file on disk and add tracing to see if it was there to begin with. i think it should be

[2016-09-27 19:28] cpaton commented on #147
Sorry should have added that before.  I have printed out all of the environment variables in my script before importing the VSTSTaskSDK module and there aren't any entries starting with ENDPOINT_, INPUT_ or SECRET_.  This what lead me to think that maybe there is some incompatibility with the version of TFS/VSO agent we have and this module.

[2016-09-27 20:24] ericsciple commented on #147
the agent loads the lib before invoking your script

[2016-09-27 20:24] ericsciple commented on #147
accidentally closed

[2016-09-27 21:45] cpaton commented on #147
After looking around I think this is related to the agent version.  Our TFS installation provides the closed source v1.9.5 agent, I guess this module is designed to work with the [v2 open sourced agent](https://github.com/Microsoft/vsts-agent).  Is that correct?

The [handlers](https://github.com/Microsoft/vsts-agent/blob/master/src/Agent.Worker/Handlers/Handler.cs) which run the build steps in th

[2016-09-27 22:10] ericsciple commented on #147
The module works with a 1.95+ agent and you can access the endpoints too, with the exception of the `Data` property (change in handler in 1.97).

Can you confirm whether you calling `Import-Module VstsTaskSdk`? If so, don't do that. It's already loaded before your script is invoked. You can edit the `Initialize-Inputs` function within the module scripts to add tracing and confirm whether the endpo

[2016-09-28 05:00] colindembovsky opened #148 "Add "setVariable(name: string, value: string, isSecret?: boolean)" method to mock-run.ts"
In [mock-run.ts class](https://github.com/Microsoft/vsts-task-lib/blob/master/node/mock-run.ts) there is a method to setInput() method. It would be great to have a setVariable method for mocking variables during test. The method should take:
- **name**: name of the variable to add
- **value**: value of the variable
- **isSecret**: optional boolean that sets the variable as a secret if set to true

[2016-09-28 12:48] cpaton commented on #147
Thanks for the information - I am gradually understanding this in more detail.

My PowerShell script is being invoked by a custom build task which uses the `PowerShell` handler.  This is done to be able to import the agent modules and get access to the $distributedTaskContext variable.  For example to import Microsoft.TeamFoundation.DistributedTask.Task.TestResults and publish NUnit results via th

[2016-09-29 18:35] colindembovsky opened #149 "Unable to assert within TaskMockRunner"
I have a [task](https://github.com/colindembovsky/cols-agent-tasks/blob/tests/Tasks/ReplaceTokens/replaceTokens.ts) does a regex replace based on tokens in a file (getting values from the variables in the build). To test, I’ve pulled in [mock-fs](https://github.com/tschaub/mock-fs) to fake a file. The problem is that I can’t see a way to validate that the replacement actually happened, either in t

[2016-09-29 21:11] ericsciple commented on #112
todo: add middle-man process to tl.exec when on Windows

[2016-09-29 21:12] ericsciple commented on #112
..then fix gulp task

[2016-10-04 14:51] cwoolumtechnossus opened #153 "Debugging Task Tests"
I'm trying to debug my unit tests for a task I'm writing. I'm working with VS Code and I can get the test to run but never hit any debug points. Is there a recommended configuration for doing this?

[2016-10-04 15:03] bryanmacfarlane commented on #153
I had success setting breakpoints in the javascript (instead of the typescript) but that was with running the task interactively.  Haven't tried with tests ... maybe different since it's running another mocha tool in between?  I'll try it out later.  Tracing / logging is always an option.

[2016-10-04 15:07] cwoolumtechnossus commented on #153
I think the testing framework is eating the errors I’m hitting because tracing/logging doesn’t seem to work. What configuration are you using to run the debugger?

From: Bryan MacFarlane [mailto:notifications@github.com]
Sent: Tuesday, October 04, 2016 8:04 AM
To: Microsoft/vsts-task-lib <vsts-task-lib@noreply.github.com>
Cc: Christopher Woolum <Christopher.Woolum@technossus.com>; Author <author@n

[2016-10-05 15:53] DanRigby opened #154 "XamarinTestCloud Task - Supplying a value for "Optional Arguments" results in a task failure"
Supplying a value for "Optional Arguments" on the Xamarin Test Cloud task in VSTS results in a build failure with the error message:
`Unhandled: testCloudRunner.argString is not a function`

[2016-10-05 15:56] ericsciple commented on #154
@madhurig fyi

[2016-10-05 15:57] ericsciple commented on #154
@DanRigby can you open an issue on the [tasks repo](https://github.com/Microsoft/vsts-tasks). This sounds like a bug in the task, not the task lib.

[2016-10-05 15:57] #154 closed

[2016-10-05 15:57] DanRigby commented on #154
@ericsciple You're right. I opened this on the wrong repo (I had both open in tabs). Sorry about that.

[2016-10-05 16:06] madhurig commented on #154
https://github.com/Microsoft/vsts-tasks/issues/2783

[2016-10-20 11:10] aL3891 opened #159 "Use powershell commands in script task"
Hello, sorry for the perhaps noobish question but is it possible to use the powershell sdk commands inside a regular script task and not write a complete custom task?

What I want to do in the end is loop though a parameters.xml file and look up the parameters in there against the running release definition. I've seen that this can be done with environment variables, but that does not include secr

[2016-10-20 14:39] ericsciple commented on #159
No. With the current design ad-hoc scripts don't get access to secret variables.

I believe there are a few tasks on the gallery that do token replacement within files.

[2016-10-20 19:04] aL3891 commented on #159
Allright, thank you for the info :)
I will look and see if I find one and perhaps look at writing a custom one.

[2016-10-20 19:04] #159 closed

[2016-10-21 10:00] aL3891 commented on #159
I ended up using this Task, I think that's the one you were referring to @ericsciple
https://marketplace.visualstudio.com/items?itemName=qetza.replacetokens

[2016-10-31 11:28] gregpakes opened #164 "What is the correct way to debug your scripts in PowerShellOnTargetMachines?"
I have a series of Powershell modules that I am executing with PowerShellOnTargetMachines.

I am trying to see the debug statements within the VSTS build log, but I am having a real hard time getting them to come through.

I understand that Write-Host is not recommended for automation, so my question is, what should I use? I have tried Write-Debug, Write-Verbose and made sure the preferences are s

[2016-10-31 14:58] ericsciple commented on #164
sorry for the redirection, closing this issue and reopening original issue in vsts-tasks repo https://github.com/Microsoft/vsts-tasks/issues/2983

[2016-10-31 14:58] #164 closed

[2016-11-02 21:27] ericsciple commented on #112
fixed by PR https://github.com/Microsoft/vsts-task-lib/pull/157

[2016-11-02 21:27] #112 closed

[2016-11-02 21:43] ericsciple commented on #149
sorry for the late response. if you run your test script using [mock-test](https://github.com/Microsoft/vsts-task-lib/commit/27ba0aaeace0c4d33fb4e914db6bfa081c827857), that exposes helper functions that can be used to assert the correct things came back across process boundary via stdout.

[2016-11-02 21:45] ericsciple commented on #149
here is an [example](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/ShellScript/Tests/L0.ts)

please re-open if needed

[2016-11-02 21:45] #149 closed

[2016-11-02 21:46] ericsciple commented on #22
it sounds like this was fixed

[2016-11-02 21:46] #22 closed

[2016-11-19 12:49] jessehouwing opened #176 "How to log "Succeeded With Issues" from TypeScript"
In the Powershell SDK there is an option to set the result to `SucceededWithIssues`. I can't find an equivalent option for the Typescript SDK nor can I find documentation whether logging a warning will have this result.

[2016-11-23 02:27] ericsciple commented on #147
@cpaton sorry i lost track of this issue. yes the [commands emitted over STDOUT](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md) can be used to publish test results.

it looks like the `results.publish` command isn't documented for some reason. the commands dont change much, it may be there in older agents as well.

[2016-11-23 02:36] #147 closed

[2016-11-23 02:40] #75 closed

[2016-11-23 02:44] ericsciple commented on #176
@jessehouwing error issues and warning issues do not influence task result

[2016-11-23 02:49] ericsciple commented on #176
it sounds like the only option currently is to write the [`task.complete` command](https://github.com/Microsoft/vsts-tasks/blob/master/docs/authoring/commands.md) manually

[2016-11-29 16:55] bthomsons opened #180 "VSTest task fix for dll search seems to be missing from on premise Team Foundation 2015 Update 3"
I have an on premise instance of Team Foundation 2015 Update 3 but I am missing this fix from Feb 2016:

https://github.com/Microsoft/vsts-tasks/commit/fe096977af951100cfaf16e2568e4e08cc0a149b

The version of the VSTest task is 1.0.32 and looking in VSTest.ps1 in the folder \agent\tasks\VSTest\1.0.32\ I have this:

[code]

I would be expecting this:

[code]

This is my version of TFS

![image](htt

[2016-11-29 17:00] #180 closed

[2016-11-30 20:28] ericsciple opened #182 "1x fallback for endpoint fns"

[2016-12-02 18:58] jessehouwing opened #183 "Hard to intercept output when redirecting StdErr"
I tried to execute an executable (`tfx`) and in case of an error capture the error message. This turns out to be very difficult.

[code]

Doesn't redirect anything to `myStream`, it turns out thet when failOnStderr is `false` output is instead redirected to StdOut.

But when I capture stdOut, the error message isn't added to my buffer:

[code]

Turns out this may have to do with the fact that I di

[2016-12-02 19:33] jessehouwing commented on #183
Found another way which seems to be the easiest:

[code]

It doesn't let me intercept the message (so I can remove the "ERROR:" part from it, but at least I get to inspect what I want.

[2016-12-02 21:47] ericsciple commented on #183
tool runner emits stderr and stdout events that can be listened to.

also, it seems like it may be better for the lib to write to whatever stream it was given. that would give the user the flexibility to use the same stream if they want. the only thing that concerns me, i'm not sure offhand whether that would introduce any challenges due to stdout buffering.

[2016-12-02 21:57] jessehouwing commented on #183
I've had very inconsistent results with the events as well, especially
since they act on buffers and not on lines. Plus they seem to influence the
standard behavior.

On Dec 2, 2016 10:47 PM, "ericsciple" <notifications@github.com> wrote:

[2016-12-06 16:08] apucacao opened #185 "Accessing secret variables from release task"
Hello,

We have built a VSTS extension that adds UI to the work item dialog, and a task to update some state in our application.

The rollout task reads a few inputs like `release.releaseId` and `System.TeamProjectId`. It also expects the user to set some variables so that the task can make authenticated calls to VSTS. One such call fetches the work items associated with a release via the Release

[2016-12-06 16:21] apucacao commented on #185
I forgot to mention that we're using `vsts-task-lib` version 0.5.11.

[2016-12-06 16:49] ericsciple commented on #185
you can use getEndpointAuthorizationParameter('SystemVssConnection', 'AccessToken') to access the job token

i believe a 2x agent (2.105.7 would be a good backstop - i.e. TFS 2017 RTM agent) is required in order access secret variables.

if using the job token is not good for your scenario, then i would suggest switching to an input instead of relying on user to set a specific variable. then the u

[2016-12-06 17:11] apucacao commented on #185
Thanks @ericsciple, I can try that. One question though: how do I pass the job token along with request to VSTS? Do I need to set a header? Currently we're using basic authentication.

[2016-12-06 17:18] ericsciple commented on #185
i think you can pass it as the password. you may need to pass some dummy value for the username (e.g. abc). also i would recommend using bearer instead of basic since it does not require basic to be enabled for tfs on-prem installations.

also, i'm not familiar with the details, but you could also see what the [nuget task](https://github.com/Microsoft/vsts-tasks/blob/0d4a83fa08f99008eee500860b944f

[2016-12-06 17:18] ericsciple commented on #185
...if you use the nuget task as a go-by, look for `getSystemAccessToken`

[2016-12-08 08:57] Red-Folder opened #186 "mergeResults for CodeCoveragePublisher.publish"
Is it possible to provide a mergeResults option for CodeCoveragePublisher.publish (similar the TestPublisher.publish)?

### Use Case
I have a simple Web Application using Asp.Net Core & React

I am using xUnit, OpenCover & OpenCoverToCoberturaConverter to produce a Cobertura coverage report for the Asp.Net code.

I am using Jest to produce a Cobertura coverage report for React.

I can publish both

[2016-12-12 09:19] dotnetnate opened #187 "Get-VstsEndpoint returning masked credentials"
I'm not sure if this intended behavior, but I need to be able to read the credentials from the endpoint information and have had little luck doing so.

I'm making the following call (I've attempted w/ and w/o -Require)
`$endpoint = Get-VstsEndpoint $ConnectedServiceName `

and when serializing to JSON, it yields:

`auth: {"parameters":{"username":"********","password":"********"},"scheme":"Usernam

[2016-12-12 12:11] bryanmacfarlane commented on #187
That is not how it gets deserialized.  It doesn't yield that.

You are logging the json.  It's the log that's masking the secret.

[2016-12-12 12:11] #187 closed

[2016-12-12 12:13] bryanmacfarlane commented on #185
You need to set the bearer header

https://github.com/Microsoft/vsts-node-api/blob/master/api/handlers/bearertoken.ts

If you use node api, you can construct it with that auth handler.

[2016-12-12 12:13] #185 closed

[2016-12-12 13:07] dotnetnate commented on #187
That's not the only way it was verified. I have a user name and password variable, which are originally assigned from task inputs. Everything works correctly when that takes place. If I assign the contents of username/password from the endpoint to those variables the connection fails. Moreover, calling Write-Host on each variable with the input assignment shows the expected contents in the lof, wh

[2016-12-12 15:53] ericsciple commented on #187
auth.parameters is a string->string dictionary

dumping the endpoint to a file may help illuminate what is going on. when using convertto-json, you may need to specify a higher depth, e.g. `-depth 99`.

the secrets in the output logs are scrubbed by the logger - i.e. replaced with "********"

[2016-12-17 11:21] jessehouwing commented on #176
Then i'd like a sdk update to add PartiallySuccessful :)

[2016-12-21 05:58] vincentdass opened #189 "Values are 'undefined' for variable names with space"
Values are undefined for variable name with space.
![image](https://cloud.githubusercontent.com/assets/20121508/21378917/108c33a6-c770-11e6-8490-b201949547b4.png)
During task execution, tl.getVariable('system debug true') or tl.getVariables(); provides 'undefined' as variable value.
![image](https://cloud.githubusercontent.com/assets/20121508/21378965/68706150-c770-11e6-8069-e10a4a82af0c.png)

[2016-12-21 06:56] ericsciple commented on #189
i think you're on an older version of the lib. this is fixed in master: https://github.com/Microsoft/vsts-task-lib/blob/master/node/task.ts#L352

although i'm not sure which release it was fixed in. it doesnt seem to be documented in the release notes.

[2016-12-21 15:53] #189 closed

[2016-12-21 16:12] ericsciple commented on #186
@nigurr do you know about the status of these commands? are these still used by the in-the-box tasks or are the agent `##` commands used now instead?

[2016-12-22 03:47] nigurr commented on #186
@ericsciple publishing is still an agent command similar to test reports.

@Red-Folder currently we don't have plans for this.

[2016-12-22 03:47] #186 closed

[2016-12-28 12:07] jessehouwing opened #190 "tl.which finds shell script before `.cmd`"
When trying to find an executable on Windows, tl.which will find the extensionless shellscript version before finding the matching `.cmd`. When calling into Node this requires us to always add:

[code]

which is pretty useless... extensionless files can't be executed by default... Windows always searches in a fixed order. Is there any way to have tl.which prefer `tool.cmd` over `tool.`?

Wouldn't

[2016-12-28 16:11] ericsciple commented on #190
yes on windows it should match windows. i think it's fixed in a later shelljs which we were planning to move to, but there are subtle differences in other shelljs functions we consume in the newer versions.

[2016-12-28 21:15] jessehouwing opened #191 "step-by-step node is no longer working"
To fix replace:
[code]
with
[code]

[2017-01-06 14:45] PeterStaev opened #193 "Variables set by setVariable are not visible in the Finalize build phase"
I'm using [this](https://marketplace.visualstudio.com/items?itemName=jessehouwing.jessehouwing-vsts-variable-tasks) extension to transform some variables in a better format. The developer is using `tl.setVariable` to set those variables (for example [here](https://github.com/jessehouwing/vsts-variable-tasks/blob/master/vsts-variable-set/vsts-variable-set.ts#L11)). Those variables work fine in the

[2017-01-06 22:06] Gaikotsu2 opened #194 "Set-VstsTaskVariable Writes Secret Variable Value to Log"
When using the following code in my custom task, the value of the Secret variable is written to the logs.
`Set-VstsTaskVariable -Name test_pass -Value <password> -Secret;`

The output is as follows:
`##vso[task.setvariable variable=test_pass;issecret=True]<password>`

I would expect the output to be something like this
`##vso[task.setvariable variable=test_pass;issecret=True]`

This might only hap

[2017-01-06 23:15] ericsciple commented on #194
the agent scrubs it in memory at runtime before it makes it to the log file

[2017-01-07 18:17] #194 closed

[2017-01-15 19:01] jessehouwing opened #195 "Tasks should be able to provide an "upgrade.ps/ts/js""
I have a few tasks that are now a year old. I have a much better idea now of what I want these to do than before. I'd like to do a bit of refactoring, but there are a few issues:

* Some of my tasks have long names, this causes long name issues on windows. I'd like to change the Task Name and remove "jessehouwing-" from them. But have the tasks stay in working state.
* Some tasks in the same exten

[2017-01-17 16:49] mclark1129 opened #196 "Unable to get ServicePrincipal EndpointAuthorization using TypeScript API"
I may just be missing something obvious in the documentation, but I cannot seem to get the unprotected values for endpoint authorization using the TS API.  I am using the `ServicePrincipal` auth scheme and I would like to use the `serviceprincipalid`, `serviceprincipalkey` and `tenantid` in order to request an OAuth token from Azure AD.  However, the only values I can seem to get from the dictiona

[2017-01-18 14:06] rvf148 opened #197 "Provide a working sample of setting Invoke-VstsTaskScript environment variables"
Hi,

How do i use Invoke-VstsTaskScript?
I allways get
`PS C:\Users\Administrator\Documents\Tasks\PSTask> C:\Users\Administrator\Documents\Tasks\PSTask\TestDummyTask.ps1
##vso[task.setvariable variable=System.Culture;issecret=False]nl-be
##vso[task.debug]VstsTaskSdk 0.8.0 commit
##vso[task.debug]Caught exception from task script.
##vso[task.logissue type=error]Cannot convert the "Microsoft.TeamFou

[2017-01-18 15:22] ericsciple commented on #197
Here is a sample task: https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/VSBuild

one min, i'll find one that uses endpoints...

[2017-01-18 15:30] ericsciple commented on #197
Here is an example of how to get the selected endpoint input: https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/ServiceFabricDeploy/deploy.ps1#L26

And then working with it, you will need to know what properties you need from the endpoint. Either .Auth.Scheme or .Auth.Parameters (dictionary) or .Auth.Data (dictionary)

[2017-01-19 02:08] ericsciple commented on #193
This is currently by design (and not related to the task lib repo). Docs about labeling [are here](https://www.visualstudio.com/en-us/docs/build/define/variables)

"Apply a version control label during the build process ... Predefined, agent scope: No"

Labeling happens server side. After a build, the variables aren't sent back up to the server.

`##vso[build.updatebuildnumber]build number` might

[2017-01-19 08:49] PeterStaev commented on #193
I understand. And yes, this is how I overcome the problem currently - I set the custom format to the build number as the extension uses `updateBuildNumber` and then for the labeling I use `$(Build.BuildNumber)` .

[2017-01-21 19:33] CoolDadTx opened #198 "Powershell Hashtables no longer work when using SDK"
I have a build task written in Powershell that uses the Hashtable feature from PS to pass data between functions. All the data is within the task itself. If I don't pull in the SDK but stick with PS proper then everything works. When I bring I the SDK then at runtime PS reports an error saying "Cannot convert the "System.Object[]" value of type "System.Object[]" to type "System.Collections.Hashtab

[2017-01-26 05:16] ericsciple commented on #190
it would be good to change this in 2.x before removing preview

[2017-01-26 19:21] ronwang01 opened #199 "String.prototype.endsWith is not compliant with ES6 standard"
NodeJs has an ES6 endsWith implementation that is very different from the one in extensions.ts.

Having this library with Node will cause some TLS handshaking to fail due as Node expect endsWith to return true when suffix is an empty string.

`if (!hostSubdomain.endsWith(suffix))`
[https://github.com/nodejs/node/blob/master/lib/tls.js#L136](https://github.com/nodejs/node/blob/master/lib/tls.js#L13

[2017-01-27 02:07] ronwang01 commented on #199
I have attempted a fix to unblock node tls handshaking issue.
#200

[2017-01-27 13:21] sandorfr commented on #124
@ericsciple dictionary input would be a great addition, but it wouldn't solve this specific issue.

[2017-01-27 13:23] sandorfr commented on #124
@bryanmacfarlane since vsts agent is now open sourced, I was wondering if a pull request adding the ability to retrieve unescaped variables would be accepted.

[2017-01-27 20:39] ericsciple commented on #124
That approach would put the burden on each task author to solve, and lead to inconsistent approaches.

If a one-level dictionary input doesn't solve, then this sounds like something that might better be solved by allowing functions to be inlined in the task inputs (burden on agent to evaluate).

[2017-02-05 15:18] ericsciple commented on #198
I am unable to repro. I'm on PSVersion 5.1.14393.693

Here is my task script:
[code]

Here is the output:
[code]

Can you clarify whether you are using the "PowerShell3" handler? Also whether you are importing the VstsTaskSdk (should not do that, handler does it before calling your script)?

[2017-02-05 15:23] ericsciple commented on #48
Updating the title since getting secret variables was added to task lib (and agent too since it has to pass to the task).

The remaining discussion is about more complex input types.

[2017-02-06 02:22] CoolDadTx commented on #198
Yes I'm using Powershell3 handler. I don't have an implicit import for VstsTaskSdk. I replicated this issue on 2 different machines using the same script. In my case I was enumerating the hashtable using a foreach but I believe the call was failing at entry to the function. Michael Taylor - Microsoft MVP, MCAD
http://www.michaeltaylorp3.net

    On Sunday, February 5, 2017 9:19 AM, ericsciple <not

[2017-02-06 03:55] ericsciple commented on #198
What version of PowerShell?

I'm confused, are you saying you used the exact script I pasted? Or some other other script involving a foreach? Note, the script I pasted was my entry script that task.json points to. If you can send the smallest possible repro to ersciple would be great (at microsoft com).

[2017-02-06 03:56] ericsciple commented on #198
..forgot to mention. if you can zip the task folder and send. or might have better luck pasting here rather than fighting outlook attachment filters.

[2017-02-07 11:42] sburgess123 opened #202 "How to access Machine Group tags"
We use these tags to define server roles that then control which target servers a deployment task is executed on. In the on premise shipped 'WindowsMachineFileCopy' powershell task for example, this tag info is extracted using the cmdlets available through the hosted powershell run by the agent e.g.:

Get-EnvironmentResources -EnvironmentName $fetchedEnvironmentName -TaskContext $distributedTaskCo

[2017-02-08 01:16] CoolDadTx commented on #198
I'm using PS 5.1. I went back to the original extension that I was trying to use hashtables with and switched back to them along with using the newest VSTS SDK. The extension is working now. I'm not sure why it was having issues with the hashtable before. The only thing I changed originally to cause it to fail was start using the VSTS SDK.
I'll assume my problem is resolved until I can replicate t

[2017-02-08 01:59] #198 closed

[2017-02-09 14:22] jabbera opened #203 "npm powershell package out of date"
The current published version is 0.6.4. Please update.

https://www.npmjs.com/package/vsts-task-sdk

[2017-02-09 15:32] ericsciple commented on #203
it's on the powershellgallery now. [this doc](https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/Docs/Consuming.md#where-to-get-it) details where to get it.

the description on npmjs should be updated

[2017-02-09 21:55] ILMTitan opened #204 "Documentation for task.cp is wrong."
In, vsts-task-lib/node/docs/vsts-task-lib.md, the documentation for task.cp is a copy of the documentation for task.which.

[2017-02-09 22:51] ericsciple commented on #204
this had me worried the doc generation process has a bug, but it looks like the comments are wrong [in the source code](https://github.com/Microsoft/vsts-task-lib/blob/master/node/task.ts#L916).

[2017-02-10 19:36] igorguga commented on #191
And for people who had done the typings commands (like me), it's necessary to delete typings.json file and typings folder.

[2017-02-10 20:14] igorguga opened #205 "Error running step-by-step node on Windows"
Trying to run the sample in windows and getting this error:

##vso[task.debug]agent.workFolder=undefined
##vso[task.debug]loading inputs and endpoints
##vso[task.debug]loading INPUT_SAMPLESTRING
##vso[task.debug]loaded 1
undefined
##vso[task.debug]Absolute path for pathSegments: C:\ProgramData\Oracle\Java\javapath/echo = C:\ProgramData\Oracle\Java\javapath\echo
##vso[task.debug]Absolute path for p

[2017-02-13 15:59] aumanjoa commented on #197
any updates on this? I have the same issue
Is it possible to add a working example to this thread how to connect to the TFS

[2017-02-13 19:53] ericsciple opened #206 "Verbose pipeline getting dropped when running ad hoc script from PowerShell task"
Fixed by PR: https://github.com/Microsoft/vsts-task-lib/pull/201

[2017-02-13 19:53] #206 closed

[2017-02-13 19:56] ericsciple commented on #206
(affects AzurePowerShell task)

[2017-02-14 05:56] ericsciple commented on #205
I'll try and go through this tomorrow. As a go-by, all of the in-the-box tasks [are here](https://github.com/Microsoft/vsts-tasks). Instructions to build the repo is in the readme, so you can see the final layout for each task (under _build dir).

[2017-02-14 06:04] ericsciple commented on #195
Major version locking is supported now on VSTS and shipping with TFS 2017 Update 1. So if you bump the major version, there is a notification in the build definition UI and you can provide a small markdown description.

Keep in mind, moving across major version is an explicit choice for the end-user, so they need to stop and read the description and understand what they would gain by moving to new

[2017-02-14 06:06] ericsciple commented on #196
the logger scrubs secrets. it's just a UI thing. you can dump the value to a file to verify.

[2017-02-14 06:06] #196 closed

[2017-02-14 06:38] jessehouwing commented on #195
Not really... We did a major version upgrade with one of the Ranger tasks
that's used in most Ranger pipelines. Manually adjusting 35 builds and
release pipelines is a big chore.

When a task remains functionally the same, an upgrade script can take care
of such upgrades automatically. Or at least offer that.

If the upgrade encounters issues it could point them out to the user.

On Feb 14, 2017 0

[2017-02-15 19:32] aumanjoa commented on #197
@ericsciple  any suggestions? I dont get this working :( I am simply trying to get this line working

`  $versionControlServer = Get-VstsTfsService -TypeName 'Microsoft.TeamFoundation.VersionControl.Client.VersionControlServer'`

but always get this error:

even when I try it on the agent

[2017-02-15 19:36] rvf148 commented on #197
Hi,

Put the assembly needed for the class in the root of your task. (Don't
forget dependencies)
Get it from nuget team foundation extended client, extract needed assemblies

Regards,
Raf

On Wed, Feb 15, 2017 at 8:32 PM, aumanjoa <notifications@github.com> wrote:

[2017-02-15 21:05] aumanjoa commented on #197
Hi @rvf148

thanks for the replay.
The Assemblies are already part of the agent. Can I not reuse thouse? I thought this is the benefit using this lib function.

[2017-02-15 21:27] rvf148 commented on #197
No, that would create a dependency on the agent. Microsoft includes the
dependecies with each Task.

Regards,
Raf

Op 15 feb. 2017 10:05 p.m. schreef "aumanjoa" <notifications@github.com>:

[2017-02-16 00:35] ericsciple commented on #197
that's correct, it's best to bundle the sdk with your task for reasons [listed here](https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/Docs/UsingOM.md#bundle-the-sdk-with-your-task)

[2017-02-16 18:56] jessehouwing commented on #195
Another reason I'd like this is because I want to deprecated one of my extensions in favor of another one. I'd like to offer my users an option to switch over with the least amount of effort on their end.

[2017-02-17 07:09] ericsciple commented on #204
PR: https://github.com/Microsoft/vsts-task-lib/pull/207

[2017-02-17 07:11] ericsciple commented on #199
removing in this pr: https://github.com/Microsoft/vsts-task-lib/pull/207

[2017-02-17 07:14] ericsciple commented on #176
in master, will go out w/ the next package (2.0.2-preview). i have some cleanup changes going into that version as well and trying to figure out whether i need one more fix for 2.0.2-preview. should be soon.

[2017-02-17 07:14] #176 closed

[2017-02-17 07:24] ericsciple commented on #133
it's not in the lib today. i think a function like `locLabel(inputName: string)` would make sense and would need to fallback to the value in the task.json, then inputName.

[2017-02-17 09:37] jessehouwing opened #208 "High severity vulnerability found on shelljs@0.3.0"
✗ High severity vulnerability found on shelljs@0.3.0
- desc: Command Injection
- info: https://snyk.io/vuln/npm:shelljs:20140723
- from: vsts-snyk-task@0.0.0 > vsts-task-lib@2.0.1-preview > shelljs@0.3.0
Fix: None available. Consider removing this dependency.

Tested 259 dependencies for known vulnerabilities, found 1 vulnerability, 1 vulnerable path.

[2017-02-17 14:48] aumanjoa opened #209 "Get-VstsTfsService - workspace.get not working correctly on TFS 2015"
Hi Team,

I have written a small powershell task to download specific TFS version control parts:

function Get-SourceControleWorkspace {
    [CmdletBinding()]
    param(
        [string]$tfsLocation,
        [string]$localFolder,
        [string]$agentName,
        [string]$automationChangeset
        )

    Trace-VstsEnteringInvocation $MyInvocation
    try {

        #important to store the Asse

[2017-02-17 14:49] aumanjoa commented on #197
thanks so much that helped.

But needed to open a other issue. https://github.com/Microsoft/vsts-task-lib/issues/209 it seems the dlls not wirking with TFS2017 and TFS2015 in the same way

[2017-02-17 22:30] ericsciple commented on #204
in master. will go out with 2.0.2-preview

[2017-02-17 22:30] #204 closed

[2017-02-17 22:30] ericsciple commented on #199
in master. will go out with 2.0.2-preview

[2017-02-17 22:30] #199 closed

[2017-02-21 21:55] whitesource-yossi commented on #71
Hi,
Does vso-task-lib has a method to hand over the webapi with the token? Is this issue still open?
Thanks

[2017-02-23 19:33] jessehouwing opened #210 "How to package native node dependencies in cross platform extensions"
I'm trying to include `7zip-bin` in an extension. By using `npm install --force` I'm able to force the packaging of all 3 versions (linux, mac and win). The main package then auto-resolves to the right native module for me to use.

But I can't get it to work on the linux agent for a number of reasons:

 * The executables don't get copied to the task folder on the agent
 * I suspect they won't have

[2017-02-25 00:53] ILMTitan opened #211 "mock-task writeFile should be testable."
Currently mock-task.writeFile() does nothing, and is therefore untestable. There should be a way to test that a file was written to a location, similar to how mock-task.cp() is testable.

[2017-03-04 06:26] ILMTitan opened #212 "IExecOptions.silent = true causes MockTestRunner to return 0 executions."
If you run a command with `IExecOptions.silent = true`, the `MockTestRunner` will not think the tool has run. This is because the `MockToolRunner` swallows the `[command]` string with the silent option set. Even if it does not send to whole command to the output, `MockToolRunner` should still send `[command]` so it can be counted.

[2017-03-08 09:52] ILMTitan commented on #211
I understand now that it is using TaskMockRunner.registerMockExport. I am going to close this issue.

[2017-03-08 09:52] #211 closed

[2017-03-12 20:31] hrboyceiii commented on #206
@ericsciple this was very hard to discover given it's undocumented.  If I had not cross referenced the changes to AzurePowerShell Task in the other repo I wouldn't have found the "fix".

What's the recommendation here?  We have a number of tasks that either dot source scripts or otherwise reference files and the verbose output is/was dropped.  It's unfortunate that the colored formatting is also n

[2017-03-13 12:04] jessehouwing opened #216 "Feature request: Mask string"
I'm trying to integrate the AppInsights Node SDK into a build task to get some feedback from my tasks.
I want to ensure that I do not accidentally stream secrets from users of my extension to my AppInsights account.

To help me achieve this I need to scrub error messages and traces.

At the moment the Task SDK doesn't have this feature.

[2017-03-13 12:08] bryanmacfarlane commented on #216
There isn't - in our model, tasks output logging and it's the agent that holds the secrets and masks them in the logging process.

We could consider adding a lib method for this.  We would have to port that logic to TS.

You can create or morph this into a feature request (enhancement)

[2017-03-13 12:13] bryanmacfarlane commented on #210
We're starting to tackle some of these same problems here: https://github.com/Microsoft/vsts-task-tool-lib

But more on the extraction side.  It's an interesting question whether we should provide solutions in the task-lib layer which the tool-lib calls.  We're doing a layered tool lib approach since the vast majority of folks aren't writing tool installers.

What are your scenarios?

[2017-03-13 12:14] bryanmacfarlane commented on #191
Thanks.  I'll fix today.

[2017-03-13 12:49] jessehouwing commented on #210
I wanted a single way to handle archives on all platforms. And this seemed a convenient venue not package that handled both the installation, packaging and local resting if the binaries.

The current limitations got in the way and the archives created by 7z are not being recognized by the vsts marketplace endpoint (complains about a bad zip format).

[2017-03-14 23:52] ILMTitan opened #218 "Unexpected arguments passed to args.slice when windowsVerbatimArguments flag is set."
If you have a `runTool.cmd` file on the path, and you try to call it like `task.tool('runTool').exec({windowsVerbatimArguments:true})`, the unhelpful error "Unexpected arguments passed to args.slice when windowsVerbatimArguments flag is set." is thrown.

[2017-03-15 02:15] ericsciple commented on #218
@ILMTitan can you try `tl.which` and pass full tool path

[2017-03-15 03:40] ILMTitan commented on #218
@ericsciple That will work, as does `task.tool('runTool.cmd')...`. `_isCmdFile()` only looks at the extension of the unresolved tool path, which causes this error case to trigger.

[2017-03-16 18:12] viertaxa opened #219 "Uploading test results using PowerShell API"
What is the process to publish a test result using the Powershell API?

I see that using a Node task I can use
`let tp: tl.TestPublisher = new tl.TestPublisher(testRunner);`

Looking through the Powershell API documentation, I don't see an equivalent.

Thanks!

[2017-03-16 18:32] dutronlabs opened #220 "npm deprecation on tsc package"
Following the vsts-task-lib node installation instructions, it appears tsc is deprecated and typescript should be used. Is this the case?

[code]

[2017-03-17 02:02] hrboyceiii opened #221 "Get-VstsEndpoint returns null Subscription data from AzureRM Endpoint on TFS2015.3"
First, I appreciate the help on this as it has hit us at an inconvenient time...

We're developing a bunch of tasks that automate Azure ARM deployments.  We migrated to the PowerShell3 handler and VstsTaskSdk over the summer and it has served us well. No issues up until trying to integrate with a high-profile customer on TFS2015.3 (agent version 1.95.3).

We reference VstsAzureHelpers_ from the Vs

[2017-03-17 02:06] hrboyceiii commented on #221
Some additional information...Older tasks that were created before VstsAzureHelpers_ and this SDK use Azure PowerShell directly and call the "legacy" Get-ServiceEndpoint commandlet to retrieve endpoint information.  These tasks *work* against TFS 2015.3 -- so I know that the endpoint information is valid.  I hope that helps.

[2017-03-17 10:02] cpaton opened #222 "Accessing ServiceEndPoints from PowerShell"
Our build scripts are stored as PowerShell files within our source repository.  We have written a custom build task that allows us to specify the path to the script to run for a given build definition which uses the PowerShell3 handler.  This works well apart from ServiceEndPoints.  Different builds require access to different end points e.g. one build may need an issue tracker end point and anoth

[2017-03-22 09:08] BerendWouters commented on #191
I one up this, because this still isn't fixed in the docs.

[2017-03-22 23:40] ILMTitan opened #227 "Mock-ToolRunner fails to emit stdline."
ToolRunner will emit to the event 'stdline'. Mock-ToolRunner does not. Tasks that rely on the 'stdline' event are untestable.

[2017-03-23 19:26] ericsciple commented on #221
The [Data property](https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/Docs/FullHelp/Get-VstsEndpoint.md) requires a 1.97 agent or higher.

[2017-03-23 19:28] ericsciple commented on #221
I think the agent version that shipped with TFS 2015.3 was v1.95.x.

[2017-03-24 13:45] hrboyceiii commented on #221
@ericsciple Thanks for replying. I guess we missed that in the documentation.  I was told by Premier support that you must use the version of the agent that ships with TFS, so I'm assuming there's no workaround for getting the data property on 1.95.3 -- or using 1.97 with TFS2015.3?

Thanks again for the help.

[2017-03-24 13:47] ericsciple commented on #221
For Windows agents on TFS 2015 that is correct.

[2017-03-24 13:50] ericsciple commented on #221
Actually I think a newer 1x agent may work (2x Windows agent not supported against TFS 2015). If they don't have many agents, it might be worthwhile to try.

[2017-03-24 13:54] ericsciple commented on #221
https://`<account>`.visualstudio.com/_apis/distributedtask/packages/agent?api-version=1

[2017-03-24 13:58] hrboyceiii commented on #221
@ericsciple I will talk with the customer; they are in process of migrating a lot of their infrastructure right now and currently still on XAML builds; would we be able to test one machine (2 agents) using this version and leave others at 1.95.3? Risks?

Thanks again.

[2017-03-27 10:46] tlisiecki opened #228 ""The environment block used to start a process cannot be longer than 65535 bytes" on Windows Server 2012"
Hi guys,

I have encountered a problem recently which I can`t get resolved anyhow.

I have a Release definition for one of my projects which consists of 16 artifacts. Additionally there are multiple variables configured per Environment in release definition.
It was all working fine until one day random VSTS tasks started to fail with an error:
The environment block used to start a process cannot b

[2017-03-30 18:22] ericsciple commented on #228
This looks like a .NET limitation. I don't have a good solution right now other than if there is some variables that can be reduced.

[2017-03-31 00:54] ILMTitan opened #230 "Uncaught Exception Handler double registered."
The Uncaught exception handler is double registered when running tests. It seems to be because it is registered in both task.ts and mock-task.ts.

[2017-04-02 22:37] ericsciple commented on #190
PR: https://github.com/Microsoft/vsts-task-lib/pull/231

[2017-04-03 03:04] ericsciple commented on #139
The hesitations that I have about this are: It doesn't fix some tools, and I'm not sure how high of a percent that it does fix. It makes the shell weird for anyone manually testing (not e2e, but calling script directly). For instances it breaks more.com.

More importantly than doing something that may not work (and likely cause confusion), I'm thinking this would be good to cover in a document abo

[2017-04-03 03:06] ericsciple commented on #208
getting closer with this pr: https://github.com/Microsoft/vsts-task-lib/pull/231

[2017-04-03 06:42] ericsciple commented on #139
And it causes csc.exe to crash when chcp is 65001! (was causing unit tests in this repo to fail for me)

[2017-04-04 19:27] ericsciple commented on #218
working on something that i think will fix this...

[2017-04-04 19:28] ericsciple commented on #230
will remove from mock-task.ts in next commit

[2017-04-04 19:28] ericsciple commented on #190
in master now, releasing soon.

[2017-04-04 19:29] #190 closed

[2017-04-04 20:58] ericsciple commented on #193
@PeterStaev thanks for confirmation. I'll fwd this thread along to appropriate folks. We might be missing some scenario guidance in our docs. It feels like questions about this come up in issues a lot.

[2017-04-04 20:59] #193 closed

[2017-04-04 20:59] ericsciple commented on #230
PR https://github.com/Microsoft/vsts-task-lib/pull/235

[2017-04-04 21:00] ericsciple commented on #218
should be fixed by this PR https://github.com/Microsoft/vsts-task-lib/pull/235

[2017-04-04 21:00] #230 closed

[2017-04-04 21:00] #218 closed

[2017-04-05 01:11] ericsciple commented on #222
No not currently. When the build job is constructed (server side), the associated endpoints are added to the job message sent down to the agent. Today there is no just-in-time way to get endpoints.

I'll fwd this along to appropriate folks so they can consider the scenario.

[2017-04-05 01:12] ericsciple commented on #222
I've fwd'd the issue along. Closing the issue here since it is a server limitation (feature request) and not an issue with this repo.

[2017-04-05 01:12] #222 closed

[2017-04-05 01:27] ericsciple commented on #209
does the build identity have access to get the sources? https://www.visualstudio.com/en-us/docs/build/troubleshooting#team-foundation-version-control-tfvc

[2017-04-13 09:01] ds-ms opened #237 "Support for continue on error in tl.rmRF"
https://github.com/Microsoft/vsts-task-lib/blob/master/node/task.ts#L1036

Support for continue on error has been removed, but the comments still say it supports it. Do you guys plan on adding this functionality?

[2017-04-14 15:25] ericsciple commented on #237
@ds-ms Thanks, I'll fix the source comments. I don't have any plans to add continue on error.

[2017-04-14 15:25] #237 closed

[2017-04-15 01:00] ericsciple commented on #82
rewrote which: PR https://github.com/Microsoft/vsts-task-lib/pull/231

[2017-04-15 01:00] #82 closed

[2017-04-28 20:26] aloisdeniel opened #241 "Tasks with gyp built dependencies"
I'm currently trying to write my own VSTS extension with its custom task. This task depends on [sharp](https://www.npmjs.com/package/sharp) that has to be build at `npm install` time through **gyp**. But the `node_modules` seem to have to be included into the `.vsix` before upload of the extension so I didn't find any solution for this (*maybe pre-compiling the module for all agent architectures a

[2017-05-01 15:41] ericsciple opened #242 "Enable importing multiple resource files"
Scenario: common module shared by multiple tasks.

[2017-05-01 15:45] ericsciple commented on #241
@aloisdeniel yes tasks are generally self contained so they work in internet-restricted or internet-disconnected scenarios.

I wonder if there is a potential workaround to bundle the module with your task in raw form, and then the first time your task runs, you npm install from the raw folder.

[2017-05-23 07:10] hkamel opened #245 "Debugging- Pass endpoint authorization value through env variables"
I'm looking for a way to pass the endpoint authorization information to a task through environment variable for debugging purposes.

[code]

for the simple endpoint parameters I'm able to use
$ export MyCustomEndPoint="CustomEndpointName"

Now when getting authorization information, it's always null. how can i pass/mock this value?
[code]

[2017-05-23 13:37] arjgupta opened #246 "clarification needed on how vsts-task-lib parses multipe consecutive backslashes"
I am using the vsts-task-lib for node to execute a tool (msdeploy.exe) along with an argument string. I know that the task lib processes the argument string before finally executing. But, in my case, If the argument string that I pass contains a substring like so (double quotes included): **“ ‘ \\\\foo\bar’ “**
then the final argument string that is executed by the tool contains : **“ ‘ \foo\bar’

[2017-05-23 14:11] ericsciple commented on #246
it's probably the command line tool you are calling. let's sync over skype

[2017-05-23 16:48] jessehouwing commented on #245
When you run the build in debug mode `system.debug`=`true`, then the values required by the endpoint are listed in the section where the build initializes. You need a whole number of environment variables. E.g., my VSTS variables tasks lists these parameters when initlializing:

[code]

Setting the values for these environment variables prior to running the build should do the trick.

Unfortunatel

[2017-05-24 14:56] ericsciple commented on #246
OK so `tl.exec('foo', '"\\some\share\path"')` or `.line('"\\some\share\path"')`

changes the arg to `"\some\share\path"` due to the .line escaping logic when inside quotes.

Inside a quoted portion of a string, `.line` is squashing all consecutive backslashes. This causes incorrect manipulation of UNC paths.

[2017-05-24 15:00] ericsciple commented on #246
The workaround today is: Call `.exec` and pass the args as an array of strings instead of a single string. (Or call `.tool` and then use `.arg` instead of using `.line`).

I'm not sure whether this should be fixed in 2.x, or whether that will cause a significant regression. So the question is whether to fix this in 2.x or 3.x.

Another option is to follow the same rules that node uses to split an

[2017-05-27 12:52] hkamel commented on #245
Thanks @jessehouwing. Passing the value directly this way will not work you should pass a JSON string represent the endpoint value like below

`$ export ENDPOINT_AUTH_EP1 = '{ "Parameters": { "UserName": "Some user", "Password": "Some password" }, "Scheme": "Some scheme" }'`

This instruction is well document for the PowerShell task here https://github.com/Microsoft/vsts-task-lib/blob/master/power

[2017-05-27 12:52] #245 closed

[2017-05-31 20:58] TingluoHuang commented on #228
the limitation is scope to Full Desktop .net, which PowerShell is using
.net core doesn't have this limitation, .net core can launch process with any size of environment block.
We will need add tracing to the build agent, tells us the detail size for the environment block.

[2017-05-31 21:52] bryanmacfarlane commented on #228
Is that specific task passing large blocks of data over inputs / envvars?  While we can have the generic 65K limit, we should identify areas where it's being abused (aka large inline code blocks as inputs when it's not designed for that).

[2017-05-31 22:09] ericsciple commented on #228
@tlisiecki do you have lots of endpoints associated with your definition? Endpoints feels like the most likely culprit to me (cert embedded in auth params). Or as Bryan mentioned, is it erroring due to any specific task that takes an input where you may be putting a lot of data into the text box (e.g. powershell task with inline script input).

The tracing Ting is adding will help confirm.

If end

[2017-05-31 22:39] bryanmacfarlane commented on #227
This is a task-lib issue right?  Is there a need to create issue here as well?

[2017-05-31 23:53] ILMTitan commented on #227
Correct, it is an issue with vsts-task-lib. If adding the issue to more
places will get it taken care of, I would be in favor of that.

On Wed, May 31, 2017 at 3:39 PM, Bryan MacFarlane <notifications@github.com>
wrote:

[2017-06-01 07:36] mmajcica opened #248 "Documentation question"
Hi,

I do see in the PS documentation Invoke-VstsTool cmdlet listed as a part of the SDK. However, if I browse the repo I can't find the source code of it?
Has this been deprecated?

In order to invoke a tool on the build server, what is the best cmdlet to use?

Thanks

[2017-06-01 07:38] tlisiecki commented on #228
Hi Guys,
Thanks for your input, much appreciated.

A short description to give you more details on the environment:
The release definition is used to deploy our software to Azure (in this particular case mostly DB and AppSrvices). The release variables used to configure the software are partially set in release itself (per vsts environment) and partially dynamically sourced from Azure resource gro

[2017-06-01 14:46] WP0 commented on #228
We've also just started seeing this in our Release pipelines as well.   We have 19 artifacts in our pipeline which each consume more than 1k worth of variables.  More than 25k are consumed by the deployment variables alone and our total is also hovering around 40k and the environment block grows with each 'Azure Powershell' task that executes in our pipeline.

The errors show up in the logs but th

[2017-06-02 01:39] ericsciple commented on #228
@tlisiecki @WP0 thanks for the details!  @TingluoHuang was able to identify the problem and we think we understand a fix now.

[2017-06-02 07:01] tlisiecki commented on #228
That`s some great news :) !
Thanks for the efforts you put into solving this case. Really looking forward for that fix :)

[2017-06-02 12:49] WP0 commented on #228
Awesome, thanks for looking into this for us!

[2017-06-06 03:16] ericsciple commented on #228
i think this PR will solve the issue you are seeing: https://github.com/Microsoft/vsts-agent/pull/1004

it's merged into master. i'll not sure when the next agent is releasing from master, since we're getting close to the tfs 2017 update 2 release... will update the issue once i know more.

[2017-06-06 17:36] #209 closed

[2017-06-06 17:38] ericsciple commented on #248
the vsts prefix is added at export time time. it's simply invoke-tool in the source code

[2017-06-06 17:38] #248 closed

[2017-06-06 17:38] tlisiecki commented on #228
Many thanks @ericsciple @TingluoHuang. Hope that helps when released.

[2017-06-12 18:46] mmajcica opened #251 "Writing Warning and Error messages"
I am building a custom build task that will dialog with our deployment system. At the certain point, in case the deployment fails, I retrieve a message like this from our system:

[code]

The problem is, if I try to use a Write-Error or Write-Warning, the message is not displayed in the build console. In case of Write-Verbose it is all good. Meanwhile if I do Write-Output, half of the message is d

[2017-06-12 19:21] ericsciple commented on #251
what version of TFS? or are you on VSTS? which task execution handler are you using? powershell or powershell3?

[2017-06-12 19:34] mmajcica commented on #251
Sorry for missing the info. PS3 handler, TFS 2017.1, Agent 2.112.0.

[2017-06-12 19:42] ericsciple commented on #251
In the snippet you pasted, it looks like you may need to add quotes, i.e. `write-error "ooops an error"`

I haven't heard of any issues with Write-Error and Write-Warning not showing up. Any chance the WarningPreference/ErrorPreference is set to something other than Continue/Stop?

Also I'm a bit confused about the issue with Write-Output. Do you have a small repro I can try to illustrate the beha

[2017-06-12 20:01] mmajcica commented on #251
Just for completeness,  I'm using SDV version '0.7.1'. I'll prepare you some examples first tomorrow morning as now it is very late at my side. Can you just stick the text I posted in a $variable and try to print it out with a Write-Warning $text  from a task?

Thanks

[2017-06-12 22:29] ericsciple commented on #251
Here is my entire powershell3 handler script:
[code]

This works as expected for me. Note, the last Write-Host is never called because the error action preference is stop by default. If I add `-ea continue` to the write-error command, then last write-host is output as well.

![image](https://user-images.githubusercontent.com/12102068/27058063-066a70ee-4f9d-11e7-8d10-bb28dcfcf4af.png)

[2017-06-13 05:53] mmajcica commented on #251
It works for me also if I do output a single line of text. If the text I'm trying to output is a multi line text as the one I let you the example above, especially if it contains text as Write-Error, it fails to be written. I'll work on an example and post it ASAP.

Thanks

[2017-06-13 09:33] mmajcica commented on #251
I found the reason why of this behavior. First, if the variable containing the message to output as a warning, has a New Line character in it, only the chars till the new line char will be shown in build console. Meanwhile if you try to print the same in the PS console, tabs and new line chars are correctly printed out.
I am for now printing it out in the following way:

[code]

Also my string con

[2017-06-13 09:33] #251 closed

[2017-06-22 09:00] tlisiecki commented on #228
Hi @ericsciple, @TingluoHuang

Agent version 2.119.1 appeared as available yesterday, so I upgraded one o my build hosts to that version.
Unfortunately I am still experiencing the same error :(

The log below is from a "Azure SQL Database Deployment" Task. It is a 9th task in this release and it is meant to import a dacpac.

What is interesting is that in the same release the same task in on 6th a

[2017-06-22 15:08] ericsciple commented on #228
OK we have a fix in the task lib now and I can build a private copy of that task if you want to try it before it rolls out to production.

I'm a bit surprised that the 119.1 agent didnt fully mitigate. Does your release have a ton of environment variables (totaling 65k+)? This could be caused by lots of artifacts, but it still feels unlikely to me. Can you add a Command Line task immediately prior

[2017-06-22 15:09] ericsciple commented on #228
@tlisiecki

[2017-06-22 15:10] ericsciple commented on #228
if you are concerned about pasting any of the log info publicly, feel free to send to ersciple and we can discuss offline (at microsoft com).

[2017-06-23 10:45] tlisiecki commented on #228
Will do, thanks :)

[2017-06-23 11:39] kardinal3000 opened #255 "Unable to find type [Microsoft.TeamFoundation.DistributedTask.Agent.Interfaces.IServiceManager]."
Hello guys,
Before update TFS 215 to  Tfs 2017 we have used this script [http://blog.jessehouwing.nl/2016/03/access-all-available-build-variables.html](url) Thanks for that, it worked for us very well.

But with new version of build agent 2.212 stopped working.

So, could you please help to resolve this
I`v seen that new agent has the new structure and I found this

Maybe we should use it.

[2017-06-23 14:47] ericsciple commented on #255
The powershell3 handler has a function to get all variables.

The powershell handler never supported the feature. The method your are using relies on reflecting over internal types. If you want to continue down that path, I believe the namespace may have changed. The type you are looking for might be named `Microsoft.TeamFoundation.DistributedTask.Agent.LegacyHost.Interfaces.IServiceManager` now.

[2017-06-23 14:47] #255 closed

[2017-06-23 16:06] ericsciple commented on #228
The agent fix should have largely mitigated the issue.

PR https://github.com/Microsoft/vsts-task-lib/pull/254 is the proper fix. However, the fix in the lib requires that task authors opt-in to the new version of the task lib. I'll go through all tasks in master in the [vsts-tasks](https://github.com/microsoft/vsts-tasks) repo and move them forward to the new lib.

[2017-06-23 17:09] bryanmacfarlane commented on #228
The task owner and/or RM needs to figure out what was blowing up the size of the environment block.  It's still not clear.

Each task owner should own adopting the new lib and testing at the same time.  We can't just push all forward.  I want the owner of each to validate.

[2017-06-23 18:02] mortezag opened #256 "A function which returns whether it is running in Build or Release definition"
Could you add a function which returns whether the task in running in Build or Release definition?

[Related issue in vsts-tasks repo](https://github.com/Microsoft/vsts-tasks/issues/4568 )

[2017-06-23 18:05] ericsciple commented on #256
the workaround right now (solution?) is check the `system.hostType` variable

[2017-06-23 18:16] mortezag commented on #256
Thanks Eric. I have already followed the workaround/solution you mentioned in the other thread, and it works for me. I am creating this issue per bryanmacfarlane suggestion.

[2017-06-23 18:48] ericsciple opened #257 "Add patternRoot parameter to Select-Match (ps lib)"

[2017-06-24 03:00] ericsciple commented on #257
PR https://github.com/Microsoft/vsts-task-lib/pull/258

[2017-06-26 15:29] ericsciple commented on #257
will be in the next release

[2017-06-26 15:29] #257 closed

[2017-07-02 22:22] calebcartwright opened #262 "Question: what is the .vsts-ci.yml file used for?"
I noticed a [.vsts-ci.yml](https://github.com/Microsoft/vsts-task-lib/blob/master/.vsts-ci.yml) file in this repository, and I am wondering if it does what it seems like (i.e. is to VSTS what a .travis.yml file is to Travis-CI)

Does the VSTS build (and/or release) system support defining the build in a yaml file in the same repo as the rest of the content? If so is there any documentation on this

[2017-07-03 02:34] bryanmacfarlane commented on #262
Yes.  We're self hosting by building this repo using it.  It is getting ready for an early internal preview and we hope to have an early public preview soon.

Here's a link showing our general direction:  https://youtu.be/lkPnv5H2ANI  (that video is a bit old but will give you an idea)

[2017-07-03 15:00] thevintik opened #263 "Get-VstsVssHttpClient assembly load fails for Microsoft.TeamFoundation.Build.WebApi clients"
Hi,

I am trying to instantiate Microsoft.TeamFoundation.Build.WebApi.XamlBuildHttpClient (from assembly [Microsoft.TeamFoundation.Build2.WebApi](https://www.nuget.org/packages/Microsoft.TeamFoundationServer.Client/)) via Get-VstsVssHttpClient function, and I get "Cannot convert the ... value of type System.String to type System.Type" error.

I found similar [Issue 97](https://github.com/Microsoft

[2017-07-03 15:11] ericsciple commented on #263
Makes sense. When building the candidate DLL paths, I think we can special-case this and add:
[code]

Another workaround for you would be to pre-load the DLL before calling Get-VstsVssHttpClient. The function tries the load the type before attempting to automatically find the assembly (convenience).

[2017-07-03 21:05] thevintik commented on #263
I would suggest to special-case the whole namespace Microsoft.TeamFoundation.Build.WebApi.* (e.g. Microsoft.TeamFoundation.Build.WebApi.BuildHttpClient is in the same assembly)

[2017-07-04 00:11] calebcartwright commented on #262
Thanks Bryan, that is exciting news!

[2017-07-04 05:21] TsuyoshiUshio opened #264 "Unit testing starts to fail when I upgrade to 2.0.5."
I upgrade vsts-task-lib to 2.0.5. Then My unit testing starts to fail.
It works for the old version.

In this case, I mock "bash" execution.  I mock like this.

[code]

However, it fails like this. It seems we can mock the which method for the task. however,
we have additional `which` that is escapes from the mocking.

[code]

I suspect, this change
https://github.com/Microsoft/vsts-task-lib/commi

[2017-07-04 05:27] TsuyoshiUshio commented on #264
It works properly until 2.0.3-preview.

[2017-07-04 06:25] TsuyoshiUshio opened #265 "MockTestRunner fail only for exec() but ok for execSync()"
I'm writing a task. However I found an weird behavior.
When I use MockToolRunner, unit test fails when I use exec() command.

[code]
[code]
However, If I changes it to execSync(), it doesn't happen. Just pass the all unit test.

I'm using `^2.0.3-preview`. I don't use 2.0.5 for the other issue.
https://github.com/Microsoft/vsts-task-lib/issues/264

[2017-07-04 13:16] bryanmacfarlane commented on #265
I'll take a look at this ...

[2017-07-04 13:20] bryanmacfarlane commented on #242
I don't get it.  Each common module would have it's own resource file (1) and each task would have it's own resource file (1)

[2017-07-05 04:33] TsuyoshiUshio commented on #265
Thank you. If you want to reproduce this, please use this repo. (Master)
https://github.com/TsuyoshiUshio/KubernetesTask

Also, if you have any question, please let me know.

[2017-07-05 14:34] ericsciple commented on #228
Closing this issue since this is fixed in the lib.

I've opened a PR in the vsts-tasks repo as a reference for each team and sent emails to respective M1s. https://github.com/Microsoft/vsts-tasks/pull/4660

[2017-07-05 14:34] #228 closed

[2017-07-05 14:36] ericsciple commented on #221
Multiple agents can be installed on the same machine. However they should not share the same _work folder.

[2017-07-05 14:36] #221 closed

[2017-07-08 07:18] TsuyoshiUshio commented on #265
Hi @bryanmacfarlane , I create a sample project for reproducing this issue. It might be much easier to investigate.

https://github.com/TsuyoshiUshio/vsts-task-lib-reproduce

[2017-07-14 09:31] jessehouwing opened #269 "Proxy support"
Based on discussions int he internal ALM Champs channels:

It would be lovely if the SDK and the Agent would work together to expose web proxy information that is important for that agent. This allows task developers to correctly pass that information to the tools they execute or set the required environment variables.

My idea would be that it'd be possible to configure a Service Endpoint with th

[2017-07-14 12:48] bryanmacfarlane commented on #269
We already started support in the lib.

https://github.com/Microsoft/vsts-task-lib/pull/268

It's not going to be a service endpoint.  It's configured via agent config as it's an agent concern.

[2017-07-18 12:37] chelnak opened #270 "Add support for retrieving secure file variables to the PowerShell SDK"
It would be great if we could access SECUREFILE_* variables via the sdk. The main function for this would be to obtain the download ticket for a secure file and pass it to a custom helper function.

I can see that the correct env variables are being added to the vault hashtable here:

https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/VstsTaskSdk/InputFunctions.ps1#L360

but there d

[2017-07-20 13:36] Aedalus opened #274 "Error: Cannot find module 'vsts-task-lib/task'"
Following the Typescript task documentation, I was able to get a task running locally by calling `node index.js`

However once I've built and published it to my VSTS account, I get the following error when I try to use it in a pipeline:

[code]

`vsts-task-lib` is definitely listed as a dependency in my package.json, and I would expect it to be pulled down for the task. Is there anything I need to

[2017-07-20 14:24] ericsciple commented on #274
you need to publish a self contained task folder. the agent doesnt run npm install to restore your dependencies.

[2017-07-21 22:14] Aedalus commented on #274
Ah. I've got it working now, and it makes sense with the way it is designed, but I did find the wording on this step-by-step page a bit ambiguous: https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/stepbystep.md

`Create a .gitignore and add node_modules to it. Your build process should do npm install and typings install. No need to checkin dependencies.`

While I understand now that

[2017-07-21 22:14] #274 closed

[2017-07-21 22:16] bryanmacfarlane commented on #274
If you want to do a PR to make it clearer that would be great

Get Outlook for iOS<https://aka.ms/o0ukef>

________________________________
From: Alexander Higgins <notifications@github.com>
Sent: Friday, July 21, 2017 6:14:34 PM
To: Microsoft/vsts-task-lib
Cc: Subscribed
Subject: Re: [Microsoft/vsts-task-lib] Error: Cannot find module 'vsts-task-lib/task' (#274)

Ah. I've got it working now, and

[2017-08-11 21:01] t-jakurl opened #277 "ToolRunner should respect empty string args"
To un-deprecate a package in npm you're supposed to leave the message string blank.

When this is done in the npm task it throws an error since it expects a message, but it doesn't receive one. To repro this bug, create a build with two consecutive npm custom command tasks. The first command should be "deprecate <pkg>@<version> "message" ", the second should be "deprecate <pkg>@<version> "" ".

Th

[2017-08-17 03:01] sandorfr opened #278 "Typescript task lib incompatible with @types/node 8.0.23"
The task lib breaks with most recent node typings with such kind of error:
[code]

Reverting to `@types/node` `8.0.19` solves the build error.

[2017-08-17 10:33] bryanmacfarlane commented on #278
The agent uses node 6.x to run tasks.

[2017-08-18 01:03] sandorfr commented on #278
That makes a lot of sense. Sorry and thank you :)

[2017-08-18 01:03] #278 closed

[2017-08-21 16:41] gougeman opened #280 "Powershell functions for accessing secure files from secureFile library"
The powershell library needs an equivalent to SecureFileHelpers for use from powershell tasks. It should include methods for authenticating, downloading secure files to a temp location, etc.

[2017-08-25 15:19] CoolDadTx opened #282 "findMatch type definition file generates error when strictNullChecks is enabled"
I'm new to writing VSTS tasks with typescript but I've used TS in web apps. I might be missing something here but I'm using findMatch to find some files. Using the MSbuild task as an example I'm passing null as the defaultRoot parameter. Based upon the documentation it'll default if you pass null so that is what I'm doing. But with strictNullChecks turned on it reports an error because null cannot

[2017-08-28 18:45] Aedalus opened #283 "NPM install results in 'File [...] does not have an extension, and its content-type is not declared. Defaulting to application/octet-stream.'"
I'm trying to create a CI/CD pipeline for my vsts extensions, but I'm having a problem when trying to do npm installs. The install itself will work fine, but when the Package Extension task runs, I get a lot of warnings like:

`File d:\a\1\s\DevOpsScriptsAndTools\VSTSExtensions\DevOpsKatanas\device-connect-upload-app\node_modules\.bin\semver does not have an extension, and its content-type is not

[2017-08-28 20:41] bryanmacfarlane commented on #283
Which task in this repo are you having an issue with?  It seems like you are struggling with npm and tfx and not a specific task in this repo

[2017-08-28 21:20] Aedalus commented on #283
Thanks for the response!

Perhaps this was the wrong place to post my issue then. I was just following the guide in this repo for getting a node task deployed, and trying to set up a CI/CD pipeline for it. If the Publish Extension VSTS task is failing, I'll try to find the appropriate forum for it.

Thank you,
Alex

[2017-08-29 01:15] bryanmacfarlane commented on #283
look here: https://github.com/Microsoft/tfs-cli

[2017-08-29 01:15] #283 closed

[2017-08-29 13:12] rosieks opened #284 "Including external tool"
Hi,
I would like to create task that will run some node tool using ToolRunner, but first I want to install that tool. Is there any way to run `npm install -g mytool` as part of the extension installation or is there any guideline how to deal with installing/shipping 3rd party tools with VSTS extension?

[2017-08-30 12:50] bishal-pdMSFT opened #285 "Running vsts-tasks task test fails if task is referencing lib version 2.1.0"
STDERR
STDOUT ##vso[task.debug]agent.TempDirectory=C:\agent\_temp
##vso[task.debug]task result: Failed
##vso[task.issue type=error;]Unhandled: ENOENT: no such file or directory, open 'C:\agent\_temp\.taskkey'
##vso[task.complete result=Failed;]Unhandled: ENOENT: no such file or directory, open 'C:\agent\_temp\.taskkey'

[2017-09-06 09:20] sandorfr commented on #124
@ericsciple not sure to understand `allowing functions to be inlined in the task inputs` what it means, but if it means that the extensions could provide a function to process variables which  would be executed by the agent it would be great. This is why I was suggesting something like this:

On a broader point of view, I think we shouldn't  need this extension for basic variable operation https:/

[2017-10-05 07:23] gigeld commented on #48
If the secret value has an '&' character inside, the task will fail.

[2017-10-10 07:32] TechnologyAnimal commented on #280
I am interested in this too.

[2017-10-10 07:37] TechnologyAnimal commented on #270
Im looking for this too.

[2017-10-11 09:01] alexiffland opened #286 "Question: Which "VSTS Task SDK" version is correct for our BuildTasks?"
Hello, i have a few questions regarding the custom buildsteps of our company:

- What is the correct procedure of adding the SDK to our buildsteps?
- How can we ensure that BuildTasks using a specific version of the SDK are still working with future Build Agents?
- Is the SDK backwards-compatible, so we can create our tasks and always add the newest version of the SDK?

Thanks.

[2017-10-11 11:51] ericsciple commented on #286
Yes, use the latested lib.

The agent is backward compatible. Builds that are working should not suddenly stop working due to an agent update.

Note, [some features](https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/minagent.md) are not available in older agents.

[2017-10-25 00:05] ppejovic opened #287 "Is there a way to define custom properties in task.json and consume those in the build task?"
Is there a way to define a static custom property in `task.json` and consume that in the associated (PowerShell) build task? This would not be a user editable input.

We have multiple TFS environments and the property of the task only needs to vary between environments. My thought is that at the point the task is uploaded, our deployment process could set the property in `task.json` to the value s

[2017-10-30 14:18] Bogatinov opened #288 "Search folder parameter overrides Test Assemblies parameter"
### Problem
We have been using VsTest v2 for a while now, and [only recently did **Search folder** became required](https://developercommunity.visualstudio.com/storage/temp/15512-91a9490cafcd8da13dd53191bb01652f.png). We only used **Test assemblies** to find the test projects.

So we added the **Search folder**, but somehow it overrides the **Test assemblies** parameter.

### Steps to reproduce
I

[2017-10-31 03:50] nigurr commented on #288
@ericsciple Any thoughts on this? :)

[2017-10-31 09:27] #288 closed

[2017-10-31 09:27] Bogatinov commented on #288
Weird, by adding "$(System.DefaultWorkingDirectory)" it does not work. But by removing the VsTest v2 task, re-adding it with "$(System.DefaultWorkingDirectory)", it finds the tests correctly in a Boundary context defined solution structure.

I fixed the problem, it works as it should. Maybe caching was the problem?

Thanks @nigurr for sticking around and being helpful :)

[2017-10-31 14:58] alexdegroot opened #289 "Updating a ReleaseName"
I'm trying to update my Release-name based on a version I read from my artifact folder. In this way I can visually relate the artifact number to the release.
When I on incident used the Build-update step, it did update the associated build:
Write-Host "##vso[build.updatebuildnumber]$($Env:BUILD_BUILDNUMBER)-($version)"
Is this expected behavior?

Most important, how do I update my Releasename, as

[2017-11-01 14:53] ericsciple commented on #242
@stephenmichaelf this would be a good one to knock out. [This PR](https://github.com/Microsoft/vsts-task-lib/pull/252) was never finished but has context about the change.

[2017-11-03 14:57] damadei opened #291 "How to mock tl.getEndpointDataParameter and getEndpointAuthorizationParameter?"
Hi guys,

How can I mock in a test a call to tl.getEndpointDataParameter or getEndpointAuthorizationParameter?

Thanks,
Daniel

[2017-11-09 08:16] soulxy opened #292 "For toolrunner.ToolRunner.arg, whether nested quotes are supported or not"
e.g. [commend] cmd.exe " "a b" && " c d " && e && "f g" "

[2017-11-09 13:43] bryanmacfarlane commented on #292
It's the same thing you would do from the command line - you need to escape with back slash

https://github.com/Microsoft/vsts-task-lib/blob/master/node/test/toolrunnertests.ts#L707

user would enter a single backslash to escape (double is for escaping in javascript.

[2017-11-09 13:43] #292 closed

[2017-11-09 13:43] bryanmacfarlane commented on #292
What that means as a task author if you're taking a command line string is just take the string and pass it on.  we will parse it into an argv array correctly.

[2017-11-10 09:05] nil4 opened #293 "Document agent version for TFS 2017 Update 3"
TFS 2017 Update 3 is [now available](https://blogs.msdn.microsoft.com/bharry/2017/11/06/team-foundation-server-2017-update-3-available/).

Please update the [minimum agent versions table](https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/minagent.md#agent-version-to-tfs-mapping) to include information about this update.

[2017-11-10 10:31] alexiffland opened #294 "Question: How can i debug my vsts-task with predefined arguments"
I want to debug my task with predefined arguments. In the task I use the "Get-VststInput"-cmdlet to get the parameters set from our build definition.
Now, for testing/debugging i call "Invoke-VstsTaskScript -ScriptBlock { [...] }" from the SDK in a Debug.ps1-script but i don't know how to pass arguments to the script block, so the "Get-VstsInput" of the task provides the set values from my Debug.p

[2017-11-10 16:06] ericsciple commented on #294
you can have your script set the env vars that you would normally [set interactively](https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/Docs/TestingAndDebugging.md#interactive-testing)

[2017-11-10 16:06] #294 closed

[2017-11-14 09:25] soulxy commented on #292
@bryanmacfarlane
Really, it is no work in this way (`//"`) .  I need to combine multiple commands into one command,  _the reason for existence of quotation marks is one of commands is directory_.
`cmd.exe \k ""C:\Program Files (x86)\Microsoft Visual Studio 12.0\Common7\Tools\VsDevCmd.bat" && manager -o /outPath  devenv  msvc10.sln /rebuild " `.This is real command.

[2017-11-14 12:23] bryanmacfarlane commented on #292
backslash not forward.

Try
[code]

which correctly parses:

[code]

Or if you need the double quotes, escape with backslash

[code]

which outputs:
[code]

[2017-11-14 12:26] bryanmacfarlane commented on #292
Also make sure you're on the latest task lib (2.1)

[2017-11-17 09:27] jessehouwing opened #296 "tl.command("build.updatebuildnumber") yields an error on latest Windows Agent"
Reported here: https://github.com/jessehouwing/vsts-variable-tasks/issues/28

[2017-11-17 11:34] bryanmacfarlane commented on #296
Can you report in vsts-agent repo?  The can't process output is from the agent.

[2017-11-17 11:39] #296 closed

[2017-11-17 11:39] jessehouwing commented on #296
Done

[2017-11-17 11:52] sujitks opened #297 "Custom tasks does not appear"
Hi,

I have installed the extension in a VSO account, I can see the extension there but none of the tasks (there are multiple tasks in the extension) are available in the build and release editor to select.

Could you please help?

[2017-11-20 04:25] ericsciple commented on #297
Not enough info to investigate. Need account name and details about extension and task.

[2017-11-20 11:56] bryanmacfarlane commented on #297
Also not a lib issue.  Create a report at developer community

[2017-11-20 11:56] #297 closed

[2017-11-20 11:56] #286 closed

[2017-11-20 12:00] bryanmacfarlane commented on #284
npm install is a build time action for the developer.  The produced task package should carry everything it needs (including packages and tools).  For example in our [tasks](https://github.com/Microsoft/vsts-tasks) we pull tools from blob storage during build and run npm install during the build.

Be careful of OS dependencies in tools you carry.  For example, a task that calls a tool in java or n

[2017-11-20 12:00] #284 closed

[2017-11-20 12:01] bryanmacfarlane commented on #269
Proxy support is complete.  As mentioned above, it's an agent config option.  If you use the task lib, there's methods to get the configured proxy info if you need to pass it on to other tools

[2017-11-20 12:01] #269 closed

[2017-11-20 12:02] bryanmacfarlane commented on #208
We don't use shell.exec (the reported vulnerability).

[2017-11-20 12:02] #208 closed

[2017-11-20 12:09] bryanmacfarlane commented on #220
This is no longer in the docs.  We can re-open if I missed something ...

[2017-11-20 12:09] #220 closed

[2017-11-20 12:10] bryanmacfarlane commented on #289
Can you create an issue in the vsts-agent repo?  It handles ## commands

[2017-11-20 12:10] #289 closed

[2017-11-23 15:29] rvf148 commented on #280
Yes please!

[2017-11-23 16:48] TsuyoshiUshio opened #298 "Mock response execute execute task"
I wrote a test code for a task. I mocked the execSync() / exec() command. According to the log, the mock process is works. however, it seems actually execute the command.

[code]

Do I have any reason that mock response works but actually it was executed?
Am I missing something?

Since the MockTestRunner spawn a new process, debugger can't trace the code which reside on the process.

What I wrote

[2017-11-24 16:25] BiribiriJaNai opened #299 "using task.assertAgent in a custom build task fails when unit testing"
## **Description**
Using the latest version of vsts-task-lib (2.1.0), whenever I call the task.assertAgent function in a custom task, I get the following error while unit testing: tl.assertAgent is not a function.

![image](https://user-images.githubusercontent.com/29836717/33218240-2000c276-d13c-11e7-8789-ea87ca24a4f2.png)

![image](https://user-images.githubusercontent.com/29836717/33218273-4817

[2017-11-27 08:39] TsuyoshiUshio commented on #298
I investigate the code.

This is the call graph of exec.

[code]

TaskMockRunner Mock `vsts-task-lib/task` in here.
* https://github.com/Microsoft/vsts-task-lib/blob/master/node/mock-run.ts#L83

`vsts-task-lib` is mocked by `vsts-task-lib/mock-task` ( mock-task.ts )

However, exec/execSync function of the mock-task didn't mock it at all.

https://github.com/Microsoft/vsts-task-lib/blob/master/node

[2017-11-27 08:51] TsuyoshiUshio commented on #298
Sorry, it is wrong. the ToolRunner is mocked tool runner.

https://github.com/Microsoft/vsts-task-lib/blob/master/node/mock-toolrunner.ts#L178

Then mock-answer: getResponse

https://github.com/Microsoft/vsts-task-lib/blob/master/node/mock-answer.ts#L30

Hmm. No place to execute the exec command. :( According to the log, the getResponse of mock-answer.ts works.)

[2017-11-27 09:23] TsuyoshiUshio commented on #298
I may understand the reason. mockery mocks at the "require". However, this code use ToolRunner it is not mocked.  I'll try to experiment it.

[code]
This place.

[code]

[2017-11-27 09:30] TsuyoshiUshio commented on #298
This is it!

I change this section. It stop executing the actual code. :)  We need to use exactly the same require statement as `import tl = require('vsts-task-lib/task');` according to the mockery specification if we write a test.

[code]

[code]

[2017-11-27 14:26] stephenmichaelf commented on #299
@BiribiriJaNai I haven't tested this but I think you need to modify your mock answers. e.g. - In L0AndroidSkipSignAlign.ts you create TaskLibAnswers and setup responses for the function calls. You will need to add a configuration option for assertAgent to return true. You will have to do this for each mock setup.

[2017-11-27 18:37] #298 closed

[2017-11-27 20:03] stephenmichaelf commented on #285
@bishal-pdMSFT Are you still having this issue?

[2017-11-28 07:03] bishal-pdMSFT commented on #285
@stephenmichaelf I haven't tried this recently and most probably won't be trying for next few weeks.

[2017-11-28 12:46] stephenmichaelf commented on #285
@bishal-pdMSFT Thanks for the heads up. I am going to close, can you reopen if you still have this issue when you try again? Thanks!

[2017-11-28 12:58] stephenmichaelf commented on #293
Completed by PR referenced above. Thanks!

[2017-11-28 12:58] #293 closed

[2017-11-28 16:25] BiribiriJaNai commented on #299
@stephenmichaelf I tried this but `assertAgent` is not considered a command like `which`, `exist`, `checkPath` or `exec`. Or maybe I didn't do it the right way...

So I've been digging a little bit and I wondered why for example, a call to `task.setResourcePath` didn't raise any error, although it's also a function exposed by `task`.
![image](https://user-images.githubusercontent.com/29836717/3332

[2017-12-08 15:04] omeshp opened #302 "Not able to get correct proxy details using getHttpProxyConfiguration"
The https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/proxy.md here doesn't return password for the proxy correctly, password is always returned as undefined, I tried it with version 2.1.0

We instead had to fallback to the logic used by vso-node-api (https://github.com/Microsoft/vsts-node-api/blob/master/api/WebApi.ts#L96)

[2017-12-08 15:07] henryju opened #303 "Having a dot in a task variable name is not supported"
In a task, if you save a variable with a dot in its name, it will be replaced by a '_'.
`tl.setTaskVariable('foo.bar', 'value');`
https://github.com/Microsoft/vsts-task-lib/blob/a4be3729c2416c90fc6876902eb60e5e062d7c63/node/internal.ts#L260

But when trying to read this variable back, the dot is not replaced, so the value is not found.
`tl.getTaskVariable('foo.bar');`
https://github.com/Microsoft/

[2017-12-08 15:20] stephenmichaelf commented on #303
Thanks for letting us know @henryju ! I will take a look.

[2017-12-15 04:52] fszlin commented on #291
Try setting the env variables:
[code]

[2017-12-17 21:18] digitalmedia34 commented on #205
Any ideas? I am getting issues in windows with EXPORT command since it doesnt exists. What would be equivalent be? I tried environment variables but that did not work.

[2017-12-19 07:15] omeshp commented on #285
@stephenmichaelf We noticed that below two releases failed because of this issue, hence reopening.
https://microsoftit.visualstudio.com/3d1a556d-2042-4a45-9dae-61808ff33d3b/_release?definitionId=2028&releaseId=291270&_a=release-logs
https://microsoftit.visualstudio.com/3d1a556d-2042-4a45-9dae-61808ff33d3b/_release?definitionId=2028&releaseId=288685&_a=release-logs

[2017-12-19 12:46] stephenmichaelf commented on #285
Thanks @omeshp I will take a look!

[2017-12-29 12:55] bryanmacfarlane opened #304 "deprecation warnings"
npm install reports:
npm WARN deprecated jade@0.26.3: Jade has been renamed to pug, please install the latest version of pug instead of jade
npm WARN deprecated to-iso-string@0.0.2: to-iso-string has been deprecated, use @segment/to-iso-string instead.
npm WARN deprecated minimatch@0.3.0: Please update to minimatch 3.0.2 or higher to avoid a RegExp DoS issue
npm notice created a lockfile as packag

[2018-01-02 13:52] ZelphirKaltstahl commented on #220
(I vote for re-opening this issue.)

[2018-01-05 14:32] stephenmichaelf commented on #220
@ZelphirKaltstahl Can you help us understand the issue you are running in to?

[2018-01-05 20:51] ZelphirKaltstahl commented on #220
It seems there is not much context in the answer that closes the issue. The issue asked whether it is the case that one should install typescript with a changed command, but that question was not really answered. It is not an issue of functionality any more, but rather how clear the answer is.

This is confusing, because:

* Which docs? Where can I find them? When I wrote, I had no clue, that "doc

[2018-01-06 00:14] bryanmacfarlane commented on #220
@ZelphirKaltstahl - right on the front page there's documentation link for build node lib to this

https://github.com/Microsoft/vsts-task-lib/blob/master/node/README.md

It used to have instructions to install tsc globally (tsc -g referenced above).  It was changed awhile ago to do an `npm install` with typescript as a dependency.  As I stated when closing the issue, the step he was having an issu

[2018-01-08 13:31] stephenmichaelf commented on #220
To add one small note, I think Bryan is saying that because it's not in the docs any more, it should never be an issue as it wont be a step people try to follow in the first place.

[2018-01-10 12:13] evolcode opened #305 "Cannot import VstsTaskSdk from ad hoc script"
Hello,

Im running a VSTS task "Azure PowerShell" with the lastest version of PowerShell Running.

Here is the snippet of my code:Import-Module -Name VstsTaskSdk
Trace-VstsEnteringInvocation $MyInvocation

Write-Output "Importing AzureHelpers"
Import-Module $PSScriptRoot\ps_modules\VstsAzureHelpers_
Write-Output  "Initializing Azure Connection"
Initialize-Azure

$billing = Get-VstsInput -Name Bill

[2018-01-10 13:38] stephenmichaelf commented on #305
@evolcode could you report this issue to the [vsts-tasks](https://github.com/Microsoft/vsts-tasks/) repo? That is the correct one. I know it can be confusing to know where to report :) Someone there should be able to help you out.

[2018-01-10 15:07] ericsciple commented on #305
VstsTaskSdk is for custom task authors, not ad hoc scripts. Which one are you trying to write?

[2018-01-11 02:15] #305 closed

[2018-01-13 01:33] williambernardet opened #306 "VSTS linux build agent does not terminate child commands on cancel"
## Environment
Currently using TFS2017.2 with agent 2.117.2 on Linux Ubuntu

## Issue Description

When executing a command on a Linux VSTS agent, tasks do not handle properly signal propagation. So when cancelling a build, the agent sends a SIGINT to the NodeJS process executing the task (https://github.com/Microsoft/vsts-agent/blob/v2.117.1/src/Microsoft.VisualStudio.Services.Agent/ProcessInvoke

[2018-01-23 00:19] scott-lin commented on #274
I'm encountering this as well.

@Aedalus Do you mind sharing how you fixed this? I'm not sure how to "publish a self contained task folder" as suggested by @ericsciple. It would help if the step-by-step instructions addressed this recurring issue.

[2018-01-23 19:18] scott-lin opened #307 "toolrunner.exec does not return proper code with PowerShell invocation"
The following code should result in a console log with return code 2 instead of 0 if I'm not mistaken. How does tool runner get its return code for PowerShell invokes?

[code]

[2018-01-23 19:30] stephenmichaelf commented on #307
@scott-lin thanks for letting us know, I will take a look. May be a couple days.

[2018-01-30 19:32] chrisrpatterson commented on #262
@calebcartwright you can find details on getting started https://github.com/Microsoft/vsts-agent/blob/master/docs/preview/yamlgettingstarted.md

[2018-01-30 19:32] #262 closed

[2018-02-01 20:29] rglos commented on #205
@digitalmedia34 environment variables is the fix.

instead of

[code]

use

[code]

This allowed me to successfully [run the task](https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/stepbystep.md#run-the-task).

@ericsciple I've not used Mac before, but using VSCode on Windows, to set environment variables in the `Terminal` window, which uses PowerShell, the above example gets it wor

[2018-02-01 20:32] digitalmedia34 commented on #205
Many thanks @rglos. I'll give that a try

[2018-02-02 16:16] Thilas opened #310 "Missing Write-UploadFile method in VstsTaskSdk"
`##vso[task.uploadfile]local file path` is not available in VstsTaskSdk powershell module. Could you please add it?

[2018-02-08 21:58] scott-lin commented on #307
@stephenmichaelf, any updated eta regarding this issue? Thanks.

[2018-02-08 22:14] ericsciple commented on #307
try this from command prompt:
[code]

[2018-02-08 22:19] ericsciple commented on #307
`${ }` is the value-of operator. Here is an example of it's use in powershell:

[code]

[2018-02-08 22:19] #307 closed

[2018-02-08 22:29] scott-lin commented on #307
Thanks for the learning, Eric. I am new to PowerShell, so I undoubtedly reported this issue with errors. Let me try again.

My typescript is ultimately executing the below. The command within the braces is referencing a script (ps1) with some arguments.

[code]

Based on the script's application logic, it will exit with a 0 for success, 1 for error, and 2 for warning. I would like to capture the e

[2018-02-08 22:31] ericsciple commented on #307
the step by step docs have an example https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/stepbystep.md#task-implementation

[2018-02-08 22:34] scott-lin commented on #307
Yes, that is the exact guide I followed initially. I'm reporting that the library does not function correctly for the situation laid out above. Can you repro?

[2018-02-08 22:43] ericsciple commented on #307
if we take your custom script out of the picture, and try with a simple case, are you able to repro? for example something like this:
[code]

unit tests for this are passing: https://github.com/Microsoft/vsts-task-lib/blob/master/node/test/toolrunnertests.ts#L118

[2018-02-08 23:13] scott-lin commented on #307
I tried your repro, and it works as intended by vsts-task-lib.

Is there a unit test for my scenario? In other words, invoking a script file with a similar "-command" and returning an exit code.

[2018-02-08 23:17] ericsciple commented on #307
There is a unit test for validating the return code of a process. We don't have powershell specific unit tests, because as far as the tool runner is concerned, it's just a process like any other.

It feels like your question is about how to make your desired exit code bubble from a powershell script. And that is a generic powershell question, but this repo is about the task lib.

[2018-02-08 23:18] scott-lin commented on #307
Fair point. I'll move my inquiry over to StackOverflow. Thanks for the help.

[2018-02-12 14:05] stephenmichaelf commented on #242
Resolved with PR #295.

[2018-02-12 14:05] #242 closed

[2018-02-13 02:41] scott-lin opened #312 "toolrunner.arg adds unwanted quotes around value"
**tldr**
From what I can tell, when an argument value contains a space, [toolrunner.arg](https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/vsts-task-lib.md#toolrunnerToolRunnerarg) adds double-quotes around the value automatically. In my situation, I cannot have these quotes present as my command is not valid with them.

**Full details**
If there's a workaround to my situation below

[2018-02-13 02:49] scott-lin commented on #307
I've found the [solution to my PowerShell problem](https://stackoverflow.com/a/28722559/3897362), but encountered an [issue](https://github.com/Microsoft/vsts-task-lib/issues/312) in vsts-task-lib preventing me from using it. Hope this helps future readers.

[2018-02-13 02:52] ericsciple commented on #312
Use the `windowsVerbatimArguments` option https://github.com/Microsoft/vsts-task-lib/blob/master/node/toolrunner.ts#L40

[2018-02-13 20:16] scott-lin commented on #312
Thank you, works well. Would love to see this added to the [TypeScript API reference](https://github.com/Microsoft/vsts-task-lib/blob/master/node/docs/vsts-task-lib.md).

[2018-02-15 18:48] xdie opened #313 "Need help with IBM, Websphere integratation"
I have used this extension https://github.com/Microsoft/vsts-ibm-websphere-extension and update vsts-task-lib to the last commit thinking that fixes resolve all problems but is not.
I think arguments with quotes it's broken

Use Windows 2012
WebSphere 8.5

Any can help me to fix them?
function from vsts.ibm.websphere-extenbsion

LOG
`exec tool: C:\IBM\WebSphere\AppServer\profiles\AppSrv03\bin\wsad

[2018-02-16 08:22] jsalado opened #314 "Add the ability to author cross platform tasks in powershell core"
Hi there,

@bryanmacfarlane to open this possible enhancement.

Now PS based task won't even try to run on Linux/MacOS agent because of the missing handler. However, PowerShell is installed on those agents and you have the PowerShell task available for them and works...

As Bryan pointed out, custom PS task may have windows assumptions, but that's okay, developers will just have to make those scri

[2018-02-16 14:31] stephenmichaelf commented on #313
@xdie Are you sure this is an issue with the vsts-task-lib? Since this is an issue with that specific extension can you open the issue there until it's investigated and narrowed to this lib? Thanks!

[2018-02-16 15:37] #313 closed

[2018-02-17 20:58] johndowns commented on #291
@fszlin Thanks for your help here. I'm also trying to mock the responses to these calls. I've tried using the environment variable names you suggested but I'm still getting an `Endpoint auth data not present` error. Do you have any examples of how you've used this in the past?

In my case I'm trying to test an Azure RM service connection, but I don't know what @damadei is trying to test.

[2018-02-17 23:48] bryanmacfarlane commented on #291
@fszlin is correct.  that does mock it including the response.  When you call the tl.getEndpointXXX methods, it reads those environment variables.  So you're injecting data by setting the envvars.

What happens in the non mock real world case is the user selects the endpoint instance.  When the server sends the job to the agent, it includes the end point data.  The task worker process sets those e

[2018-02-18 01:30] johndowns commented on #291
@bryanmacfarlane thanks for your help. I've now managed to get this working with the `TaskMockRunner`. Here's the sample code I've used in case anyone else has the same issue in future:

[code]

[2018-02-19 08:37] melborp commented on #270
Hi,
I am also looking into ways to access securefiles from powershell. Any update on this?

[2018-02-19 14:05] xdie commented on #313
Sorry Guys, thanks!

[2018-02-19 20:30] ericsciple commented on #270
@madhurig

[2018-02-19 20:32] ericsciple commented on #270
otherwise I would welcome a PR if it follows the patterns set forth in the ps lib, and unit tests. The lib written in node has the details about the env vars.

[2018-02-26 14:37] navin22 opened #317 "findMatch API throws exception, if the pattern matches the broken symlink file"
### Repro Steps

Call findMatch API with the pattern that matches the broken symlink file.

#### Actual :
As the follow symlinks option is true by default, it tries to find and it then end up throwing exception to the caller.

#### Expected :
The API should return the matching files at least. Without throwing the exception.
And conveying the caller the error message, by callback or some other mech

[2018-02-26 14:48] stephenmichaelf commented on #317
@navin22 Can you give a more detailed example to reproduce? Including method params and folder/file structure?

Also, follow sym links defaults to true but you can override to false.

[2018-02-26 17:06] henryju opened #318 "Non editable endpoint URL should not be cached per endpoint"
In our extension we are defining a endpoint where URL is hardcoded and not configurable (isVisible = false). We are only interested by letting the user configure the credentials.

The problem seems to be that the hardcoded URL is attached to endpoint attributes when the endpoint is first created. Later publishing an update of the extension, with the endpoint URL changed, is not propagated to previ

[2018-02-26 17:24] navin22 commented on #317
@stephenmichaelf We call this API from `PublishTestResults` task. Where we use this to get matching TRX or XML test result files.

1. Create a symlink for XML file in folder A in folder B.
2. Then delete the file in folder A.
3. then call the `findMatch` API with pattern `B\*.xml`. This will throw an exception.

We want to follow the symlink paths. Hence I am not passing `FindOptions` with false.

[2018-02-28 18:58] marceloavf opened #319 "Error trying to run git command inside powershell"
Powershell version: 1.2.3
Agent: Windows 10 pro
Agent version: 2.129.1
Account: precisaosistemas - VSTS
Project: InovaFarma Monitor - Release

Git is installed at the machine, 64bit and 32bit version, also included everything in the path.
The git works fine when I get into the machine and run in powershell, but using VSTS release task it doesn't work.

Error:
[code]

Inline script:
[code]

[2018-03-05 14:12] stephenmichaelf commented on #319
@marceloavf Which task is this? The issue should probably be created in v[sts-tasks](https://github.com/Microsoft/vsts-tasks/).

[2018-03-05 14:18] marceloavf commented on #319
@stephenmichaelf It's [powershell task](https://docs.microsoft.com/pt-br/vsts/build-release/tasks/utility/powershell), should I migrate this issue to vsts-tasks ?

[2018-03-05 15:01] bryanmacfarlane commented on #319
The powershell task ran your script.  Is it a problem with the custom script?  Do you believe the powershell task incorrectly ran powershell or are you having problems with your custom script in release.

[2018-03-05 15:38] marceloavf commented on #319
@bryanmacfarlane I'm having a problem with powershell running git in this release, I have anothers repositories that run this same script, but in this specific repository this scripts show an output error.

What I remember for doing diferent from the others is that I imported .json release definition from the other repo, but I already tried to erase this release definition and create from scratch,

[2018-03-05 15:42] bryanmacfarlane commented on #319
Looks like an issue with the custom script, not powershell or git.

[2018-03-05 15:47] marceloavf commented on #319
Strange that it's the same custom scripts in those repositories, but it don't run release in one of them.

[2018-03-05 15:49] ericsciple commented on #319
my guess is, you are running the agent as a service account, and git is not in the PATH for that service account

you can confirm by dumping the environment variables

[2018-03-05 15:53] bryanmacfarlane commented on #319
In your custom script you can also do a where or which ahead of the command to confirm whether it can be found

[2018-03-05 16:04] marceloavf commented on #319
@bryanmacfarlane This `where` or `which` I should use to specify the location of the git command line or bash?

@ericsciple Yes, I'm using agent as a service, also added git in the path and it runs powershell commands, but if that was the problem he would not run others powershell with git command in another repository

[2018-03-05 16:08] bryanmacfarlane commented on #319
where (windows) or which (linux or osx) will return where a tool is located according to what's in PATH.

https://stackoverflow.com/questions/304319/is-there-an-equivalent-of-which-on-the-windows-command-line

If it returns empty, then it can't be found in the PATH.  That way you can guard in your script and output it's not in the PATH, please fix.  It also narrows troubleshooting.

[2018-03-05 16:33] marceloavf commented on #319
Tried the where command and give this error:
[code]

[2018-03-05 16:39] stephenmichaelf commented on #319
No .exe

[2018-03-05 16:42] marceloavf commented on #319
Empty return, in both agents

[2018-03-06 17:59] #304 closed

[2018-03-06 18:03] stephenmichaelf commented on #282
@CoolDadTx Could you use an empty string like [this](https://github.com/Microsoft/vsts-task-lib/blob/4dd8ef3a52cd3e25fab3fbb8d9cb20728fd191ba/node/test/findmatchtests.ts#L42)?

[2018-03-06 18:19] CoolDadTx commented on #282
I moved on from this project so I cannot answer whether it would resolve my issue or not.

[2018-03-06 18:21] bryanmacfarlane commented on #282
OK.  Closing.

[2018-03-06 18:21] #282 closed

[2018-03-06 18:27] stephenmichaelf opened #326 "Update shelljs dependency"
When updating to latest it causes a test that uses shell.mv to fail, need to investigate before we can update.

[2018-03-12 18:12] #319 closed

[2018-03-13 13:38] stephenmichaelf commented on #287
Not sure I entirely understand what you're trying to do. The task is uploaded as an internal process to VSTS. If something needs to vary by environment can you use the build variables? Which task are you looking at? Some more context/details would help. Thanks!

[2018-03-13 13:40] stephenmichaelf commented on #318
@GitHubSriramB Were you able to route this request? Please close once that is done.

[2018-03-13 13:41] stephenmichaelf commented on #306
@TingluoHuang

[2018-03-13 13:46] bryanmacfarlane commented on #306
Pick up the 129.1 agent from github releases.  It now terminates child processes on job end

[2018-03-13 13:47] bryanmacfarlane commented on #306
That's also fine to use with TFS2017.x

[2018-03-13 13:50] stephenmichaelf commented on #55
Looks like this is resolved? Please reopen if you are still having issues.

[2018-03-13 13:50] #55 closed

[2018-03-13 13:52] stephenmichaelf commented on #182
Is this still something we need to do? Trying to clean up old issues :)

[2018-03-13 14:02] bryanmacfarlane commented on #55
@jessehouwing - yeah, you're last example is the way to do it.  There's also a convenient lib execSync method which returns output.  But the downside of that method is you don't get live output streaming to the console.  But if it's a real short run command line that returns json, that may be appropriate.  hth

[2018-03-13 14:36] jessehouwing commented on #55
The issue I have with it still is that debug output and console output are all streamed to a single stream. So when calling `tfx --json` combined with more verbose logging it sends out everything in a single stream. I suppose  the vsts-task-lib can't distinguish debug from stdout, and thus I end up searching for something that looks like json.

[2018-03-13 14:54] bryanmacfarlane commented on #55
Are you referring to verbose logging from the task (.debug) or are you saying that tfx is outputting verbose logging intermixed with --json?  (that would be a bug, --json is intended as a programmatic data interface).

[2018-03-13 15:08] jessehouwing commented on #55
Example:

[code]

or:
[code]

a number of users of the CI/CD tasks for Extensions have asked us to enable trace logging when they enable `system.debug=true` in order to debug issues caused by TFX. And TFX has been a bit naughty lately.

As far as I can tell vsts-task-lib captures all data logged by tfx to the output stream. I can't find a way to capture debug logging independently of the output.

[2018-03-13 16:00] bryanmacfarlane commented on #55
That output is coming from tfx.  The intent of --json in tfx was for it to be a programmatic interface ( I created it :) ).  So if verbose is going to output verbose debug info, it needs to not disable the primary function of --json - getting the programmatic data out.  that could mean it demarkates the json, writes debug to a file, or writes debug to the error stream.  You should log an issue in

[2018-03-13 16:24] trevorsg commented on #55
@jessehouwing What change to TFX would you prefer? Here are some things we could do:

1. Write logs/messages to stderr instead of stdout
2. Prepend some marker to every log output. This may not be the friendliest for human readers, so we'd want to perhaps only do this when --json is being used.
3. Print a line that delineates the separation between logs and output, such as `==End of log==`

[2018-03-13 16:27] jessehouwing commented on #55
That was my thinking. Reality doesn't agree with me though ;). Now I look
for only { or [ on a single line to begin parsing input and the opposite to
detect end of data. It works most of the times.

Redirecting debug data to the error stream probably won't help either. It's
irritating that you can't capture the debug trace independently when
invoking executables.

On 13 Mar 2018 17:00, "Bryan MacF

[2018-03-13 17:23] bryanmacfarlane commented on #55
When you run an executable, there are two streams, stdout and stderr.  that is why many tools like git write things like progress to the "other" stream (stderr).  The tool runner runs a tool and hands you back the output via two streams.

[2018-03-14 04:53] GitHubSriramB commented on #318
@henryju - Apologies for the delay. We will track this issue & address this limitation in near future.

[2018-03-15 14:19] stephenmichaelf opened #330 "Remove shelljs dependency"

[2018-03-16 12:26] jessehouwing commented on #55
@trevorsg I don't really mind which solution we end up with. By default the vsts-task-lib will probably dislike log messages logged to the err stream and will require me to handle error logging manually. I'd love to be able to redirect debug logs to a fil, I can cat them to the log later.Or to output the json to disk so I can load it after the command has succeded.

A json marker would also help,

[2018-03-16 12:51] bryanmacfarlane commented on #55
@jessehouwing - tool lib tool runner options let's you pass in the stdout or stderr stream: https://github.com/Microsoft/vsts-task-lib/blob/master/node/toolrunner.ts#L37

[2018-03-16 19:54] bryanmacfarlane commented on #55
@jessehouwing - no need to go against the wishes of your users.  This is very doable.  The agent listens to what the task outputs which is independent of the task implementation output it's receiving from the tools it's running.  For example, I can call git.exe, listen to output on stdout and *choose* in the task to write that the stdout to the agent.  But I could listen to stderr for progress and

[2018-03-16 20:06] jessehouwing commented on #55
Doable, yes. But I'm liking none of it ;).

it feels a lot like we should have had a 3rd stream. That 3rd stream exists
in reality, the debug trace...

On Fri, Mar 16, 2018 at 8:54 PM, Bryan MacFarlane <notifications@github.com>
wrote:

[2018-03-19 18:03] henryju opened #333 "stderr output of ToolRunner is not displayed as error in VSTS console"
Hi,

Running an external tool using the node library, I was expecting stderr of the tool to be displayed as error in VSTS console. But in the end it seems everything is logged as "info". Only the final exit code is logged as error.
[code]

When using the powershell task to run:
`Write-Error 'oups'`
it is correctly displayed as error:
[code]

[2018-03-20 06:20] navin22 commented on #317
@stephenmichaelf Any update on this?

[2018-03-20 11:11] bryanmacfarlane commented on #317
@navin22 - we accept PRs if you want to try and fix ahead of @stephenmichaelf getting to this.  He's on some other higher priority release and OSS tasks.

[2018-03-20 11:12] bryanmacfarlane commented on #330
Specifically the cp class of functions are blocking us from moving forward on a newer version since it changed behavior between 0.3 and 0.7

[2018-03-20 19:41] trevorsg commented on #55
I have published an update to tfx-cli that adds an option to move debug logs to stderr.

`tfx extension create --trace-level debug --debug-log-stream stderr`

[2018-03-20 21:43] jessehouwing commented on #55
Thanks. I'll experiment with that!

On Tue, 20 Mar 2018, 20:41 Trevor Gau, <notifications@github.com> wrote:

[2018-03-28 06:43] rokeno commented on #228
Odd enough as i have multiple agents, one uses 2.122.1 and the task goes well (delete a folder), using the same package, same version and 2.129.1 and 2.131.0 i have the same error on this second agent. Dunno what's causing this...

Log:
[code]

[2018-03-28 14:17] stephenmichaelf commented on #228
Are they all running on the same machine?

[2018-03-29 05:35] rokeno commented on #228
i have two machines, one with 122.1 and the other has 3 agents/services - one agent 130.0 and the other two with 129.1 version.

[2018-03-29 12:41] stephenmichaelf commented on #228
So it seems like the common factor in the failing is the machine they are running on? Can you run

`Get-ChildItem Env:`

In Powershell and do a rough comparison of differences? I wonder if you have a ton of env vars on the failing machine? The build/tasks are the same that are running on both?

[2018-03-29 13:42] rokeno commented on #228
37 env variables on the working machine, the same on the failing machine.
the release definition is the same, yes.

[2018-04-04 13:22] lettucemode opened #337 "$distributedTaskContext is null in custom task after importing DitributedTask.Common and .Internal"
## Environment
- Server - VSTS or TFS on-premises?

    - If using TFS on-premises, provide the version:  **TFS 2017 Version 15.117.26714.0**

- Agent - Hosted or Private:

    - If using private agent, provide the OS of the machine running the agent and the agent version:
[code]

## Issue Description

Hello, first off thanks so much for maintaining this project. It's pretty cool!

I am trying to

[2018-04-04 13:33] stephenmichaelf commented on #337
@lettucemode Thanks for reaching out! Glad you are finding the lib useful.

I want to make sure I understand the request, is it possible the CopyFiles task ([source](https://github.com/Microsoft/vsts-tasks/tree/master/Tasks/CopyFiles), [overview](https://docs.microsoft.com/en-us/vsts/build-release/tasks/utility/copy-files?view=vsts)) would work for this? Is there something specific you need that C

[2018-04-04 13:41] lettucemode commented on #337
Hey Stephen,

The specific thing I was looking for was associating the build artifacts to the build, for which I found the command `Add-BuildArtifactLink`. I am calling `Copy-BuildArtifact` beforehand because that is what the example code does. I assumed there was some important side effect of that command that I didn't want to miss. If that's not the case, I can replace it with PowerShell's `Copy

[2018-04-04 15:42] lettucemode commented on #337
Ah, it's deprecated. I'll avoid using it then.

I did get this custom task to work using the agent command, thanks for the tip. I'll move forward with that. Thanks for the help!

[2018-04-04 15:42] #337 closed

[2018-04-04 18:15] #326 closed

[2018-04-11 06:18] gregpakes opened #340 "400 error when calling setResult"
I am writing a task and when I install that task in my local TFS the following line fails with a 400 error:

[code]

The error is:

Details:

- TFS 2018 Update 2 RC1
- Agent Version: 2.131.0

[2018-04-11 06:51] gregpakes commented on #340
Ignore me!

[2018-04-11 06:51] #340 closed

[2018-04-11 16:29] ericsciple commented on #228
the fix is in the task lib, the task carries the lib and the task needs to be updated

[2018-04-11 16:29] ericsciple commented on #228
if it's an in-the-box task, open an issue on the tasks repo. https://github.com/microsoft/vsts-tasks

[2018-04-11 16:32] ericsciple commented on #228
https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/Docs/ReleaseNotes.md#082

[2018-04-15 20:27] atlastodor opened #342 "Referencing Assemblies from PowerShell and Binding Redirects"
I am writing a custom build task, where the PowerShell script will need to access additional .Net assemblies. I am having problems referencing those, especially the binding redirects that are normally given in the .config file.

What is the proper way to handle this? I've seen examples using the ResolveAssembly event, but this to me sounds as a work around. Also, there may be other settings in the

[2018-04-15 20:46] ericsciple commented on #342
.config is for the entry assembly. In this case, powershell.exe is the entry assembly.

Here is [an example](https://github.com/Microsoft/vsts-task-lib/blob/929bc803dc60bd4e56fd83109303e5697d5affee/powershell/VstsTaskSdk/ServerOMFunctions.ps1#L614) where the task lib calls Add-Type to load a DLL.

Here is [an example](https://github.com/Microsoft/vsts-task-lib/blob/929bc803dc60bd4e56fd83109303e569

[2018-04-16 05:25] javeriaanwer opened #343 "VSTS modal dialog close event"
Hi,

I am using microsoft VSTS modal [dialog ](https://docs.microsoft.com/en-us/vsts/extend/reference/client/controls/modaldialog?view=vsts)and I want a confirmation message when modal dialog is closed from 'x' (closed button of modal dialog), I get close event which fired after event dialog is closed.

I want an event before closing the dialog. How can I do that?

here is the code:
[code]

like i

[2018-04-16 06:01] atlastodor commented on #342
Thanks Eric. I was aware that .config affects the whole assembly, in this case PowerShell, which if modified will have influence on the whole machine. I was secretly hoping that there was a way to dynamically load a .config file so that only the current process would be affected.

I will look at the resolve assembly examples. This is also what I concluded was probably the way to go. Just a stupid

[2018-04-16 08:12] nigurr commented on #342
@atlastodor may be this can help you? https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/DeployVisualStudioTestAgent/DeployTestAgent.ps1#L59

[2018-04-16 08:54] atlastodor commented on #342
Hi. This is basically what I do. Except, in the example, I don't see where the on-resolve-assembly handler is hooked.

My code (see below) calls the handler, but only once and only for the Newtonsoft.Json. Not for any other assemblies.

[appdomain]::currentdomain.getassemblies() | sort -property fullname | format-table fullname | Out-String|% {Write-Host $_}

$currentScriptDirectory = Get-Location

[2018-04-16 10:00] nigurr commented on #342
@atlastodor it's handled in the same line as pointed.

All you need to do is, instead of `Newtonsoft`, you can change it to `System.Net.Http` assembly properties

[2018-04-16 10:03] atlastodor commented on #342
I already have the System.Net.Http in my handler. Only that it is not called. Probably something with the load context for the assembly. I am investigating.

I was asking where the $onAssemblyResolve variable is used. I can't see that this handler is used anywhere.

[2018-04-16 12:40] stephenmichaelf commented on #343
This is the task lib repo, nothing to do with UI controls. Please check repo summaries to find the best place to ask this question.

[2018-04-16 12:40] #343 closed

[2018-04-16 15:47] bryanmacfarlane commented on #343
developer community is a good place

[2018-04-16 20:18] atlastodor commented on #342
After reading the .Net documentation, I came to the conclusion that the AssemblyResolve event is only raised when .Net cannot find the assembly in question.

The problem is that .Net loads the assemblies in the appdomain's default context, and if it can find any assembly that matches the requested assembly, it will be loaded. In my case System.Net.Http, Version=4.1.1.2 is requested but for some re

[2018-04-16 20:18] #342 closed

[2018-04-17 05:34] javeriaanwer commented on #343
thanks for suggesting, posted this on developer community as well.

[2018-04-23 18:30] sidheshenator opened #347 "IExecSyncResult.stdout and IExecSyncResult.stderr is set incorrectly"
Here's my simple code that check for python installation version -
[code]

Here's the output -
[code]

As seen above, the exit code is 0. However, stderr contains the output.
**Expected behavior: stdout contains the output string when code is zero. stderr is empty when code is zero.**

[2018-04-23 18:30] sidheshenator commented on #333
Possibly related to this - https://github.com/Microsoft/vsts-task-lib/issues/347?

[2018-04-25 03:27] bryanmacfarlane commented on #347
toolrunner exec takes an option on whether to fail if output to stderr.  You're not setting that option so it's not failing.  Right?

[2018-04-25 03:30] bryanmacfarlane commented on #317
The api is behaving correctly here.  If you want another option, create a PR.  It shouldn't warn as the task author needs to decide whether the option.  Don't pass the warning to the consumer of the task

[2018-04-25 03:30] #317 closed

[2018-04-25 03:30] bryanmacfarlane commented on #347
let us know if that doesn't answer.  We can reactive.  But see the options.

[2018-04-25 03:30] #347 closed

[2018-04-25 03:37] bryanmacfarlane commented on #285
The links above are not available anymore.  Let us know if you can repro with 2.5

[2018-04-25 03:40] #312 closed

[2018-04-25 03:43] bryanmacfarlane commented on #216
Closing since the agent does this per above.

[2018-04-25 03:43] #216 closed

[2018-04-25 03:48] bryanmacfarlane commented on #302
Can't repro with password envvar set: https://github.com/Microsoft/vsts-agent/blob/master/docs/start/proxyconfig.md

Missing something?

[2018-04-25 03:48] #302 closed

[2018-04-25 03:48] bryanmacfarlane commented on #330
Closing since we're just going to freeze the shelljs version instead

[2018-04-25 03:48] #330 closed

[2018-04-25 03:49] bryanmacfarlane commented on #202
This doesn't seem to be a task lib question or issue.

[2018-04-25 03:49] #202 closed

[2018-04-25 03:51] bryanmacfarlane commented on #210
The task should not do npm install at runtime.   it needs to carry whatever it needs to run.

[2018-04-25 03:51] #210 closed

[2018-04-25 04:31] omeshp commented on #302
@bryanmacfarlane I am also not able to reproduce now, we can close this. I will reopen if I get additional details.

[2018-04-25 08:30] DerGary commented on #314
Is something done in this field? We would like to run powershell tasks on Linux as well because a lot of the VSTS Extensions are Powershell based.

[2018-04-25 11:37] bryanmacfarlane commented on #314
We have an item on the backlog to support writing tasks in powershell core.  The powershell handlers ( and the tasks written using that ) is for full windows powershell.  We can’t just redirect all the existing windows powershell tasks to Linux - beyond catching all those existing tasks by surprise, the task authors that intentionally wrote windows specific tasks would start routing to Linux boxes

[2018-04-25 11:37] bryanmacfarlane commented on #314
Opening as enhancement

[2018-04-25 13:09] stephenmichaelf commented on #264
I will take a look, thanks!

[2018-04-25 17:30] nathansantanna opened #348 "2"

[2018-04-25 17:30] #348 closed

[2018-04-25 18:01] DerGary commented on #314
I don't really know how this works in the background but a powershell task that does not use the vsts-tasks-lib should be executable or? because it does not depend on anything OS Specific? I wrote some tasks that do not use vsts-tasks-lib they are just pure powershell script and they also don't run on Linux by the agent. I haven't tried running them natively without vsts on the linux machine.

[2018-04-25 19:44] bryanmacfarlane commented on #314
@DerGary - the agent has a handler in it that basically knows how to run the script that's in the task.  So the node handler runs node against the script that's declared in the execution section of the task.json.  The task is run out of proc and communication and status is communicated via an RPC stdout protocol (hash hash vso statements in output).  The task lib is simply libraries with functions

[2018-04-28 01:08] gregpakes opened #349 "VSTS not picking up task update"
I'm not sure if this is the correct repo to ask this question.

I have a few extensions (build/release tasks) on github: https://github.com/gregpakes/vsts.extensions/tree/master/Extensions/CampaignMonitor.  One of my extensions contains two tasks.

One of my tasks will not update despite bumping the version in accordance with the guidelines.  The other task updates fine.

For example:

If I make a

[2018-04-28 01:17] ericsciple commented on #349
[code]

[2018-04-28 02:35] ericsciple commented on #349
1. yes
2. unfortunately it was only in the server errors logs. The error was when the update was attempted on your account. The marketplace is global (it doesnt know about accounts).

[2018-05-03 13:48] alexkokkinos commented on #280
+1 to this, I also think there's no way to upload secure files programmatically to VSTS. That's definitely needed for anyone trying to fully automate secrets rotation relying on the secret file functionality.

[2018-05-04 00:37] sandorfr opened #351 "Demands : ask for Node || Node.js"
Currently, the Node tool installers satisfies the `Node` demand. The vsts hosted agent provide the `Node.Js` Capability.

I have  task (`Yarn`) which requires node js to run. Both are acceptable to run the task. How can I specify that.

I'm afraid that at the moment the only thing I can do is remove the demands entirely and rely on the user to do the right thing.

[2018-05-07 12:51] mmajcica opened #352 "Is there a getSecureFileTicket PS equivalent?"
As in the title, I'm looking for an equivalent method in PS version of the SDK.

Thanks

[2018-05-08 08:18] jsalado opened #353 "Use defined endpoint data sources from tasks"
## Question
Is there a way to use the defined endpoint data sources in the extension manifest from task's TypeScript code? does the task library support this?

My case is that I need to call the rest service defined in the endpoint from the task. What I've seen so far is that the data sources are mainly used to populate pick lists in the task definition screens.

Since the endpoints of the rest se

[2018-05-09 05:08] omeshp commented on #353
@jsalado Task lib currently doesn't have any such functionality though i agree it will be good to have. Currently the two options are to use [Execute Service Endpoint Request](https://docs.microsoft.com/en-us/rest/api/vsts/serviceendpoint/endpointproxy/execute%20service%20endpoint%20request?view=vsts-rest-5.0) rest API or to call the external rest API directly in task as you mentioned.

[2018-05-10 10:48] kiuwan commented on #353
@omeshp Thank you for your answer. I'll try to do everything in the task code then as you suggest.

Do you think the task lib will support using the endpoint datasource definitions any time soon. How can I open a feature request fo it?

Best,
J.

[2018-05-10 10:54] jsalado commented on #353
@omeshp Thanks for your answer.
I'll implement the call in the task code as you say.
Is the enhancement going to be developed any time soon? How can I open a feature request for it?
Best,
J.

[2018-05-11 02:45] damienpontifex opened #355 "'runsOn: Server' task never completes"
I'm writing a task that has `"runsOn": ["Server"]` and modelling my task.json off the [AzureFunction task.json](https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/AzureFunction/task.json).

I have the `execution.HttpRequest.Execute" properties setup in task.json as:
[code]

and it calls my endpoint and logs the result of that in the build logs succesfully. The log from build is

[code]

The

[2018-05-11 05:56] omeshp commented on #355
@damienpontifex Have a look at https://github.com/Microsoft/vsts-tasks/blob/8027c121c20250d35bd16218dc930b16033fb54e/docs/authoring/servertaskauthoring.md , if WaitForCompletion is true it will wait for the event from your service. Is your service reporting back task completed event?

[2018-05-12 14:56] mmajcica commented on #352
Duplicate https://github.com/Microsoft/vsts-task-lib/issues/270

[2018-05-12 14:56] #352 closed

[2018-05-12 19:19] mmajcica opened #357 "Problem with $env:TMP in PS Tests"
Several PS tests refer to temp folders in the following way:

`$tempDirectory = [System.IO.Path]::Combine($env:TMP, [System.IO.Path]::GetRandomFileName())`

In certain cases, this can result in a failed test as the $env:TMP is expressed in a short file name format, e.g.  'C:\Users\MARIOM~1\AppData\Local\Temp'

As all of the PowerShell cmdlets are returning long file names, a.g. 'C:\Users\Mario Maj

[2018-05-12 19:43] mmajcica commented on #280
In order to download a secure file you first need the secure file token. The linked PR will bring this into the PS SDK.
Once you have that something like the following will download your file:
[code]

[2018-05-12 19:53] mmajcica opened #359 "Running PS tests issue"
In case your ${testPath} contains a space, running tests with the attached script, will fail.
Fix is quite trivial and save some annoiances.

I'll submit a PR that fixes this.

[2018-05-14 17:26] #357 closed

[2018-05-19 07:00] mmajcica commented on #256
@ericsciple would this be interestingly implementing for both PS an JS SDK? I find way more expressive at example calling a self-describing cmdlet instead of checking the content on a "cryptic" variable then acting based on the result.
I'll be happy to give it a try for both PS and JS and write the necessary tests. However the most difficult part, one or two cmdlets and naming of those, e.g. Test-

[2018-05-21 03:34] ericsciple commented on #256
I would rather eliminate the need for task authors to take a different code path. What's the scenario?

[2018-05-21 05:32] mmajcica commented on #256
One simple example, I wrote a task that can add tags to build and release.  My code path then needs to differentiate in between the two.
Considering different paths and variables available, sometimes in my tasks, I need to calculate values or initialize defaults that are different in between for build or release.

[2018-05-21 06:10] mmajcica commented on #310
@ericsciple this can be closed now

[2018-05-21 06:13] #310 closed

[2018-05-21 10:38] AbinsC commented on #222
Is there any way to call service endpoint to get some data into Powershell(Build Task)?

[2018-05-21 14:39] russellseymour opened #364 "getInput on a picklist does not return the name of the option"
During development of a new VSTS task  using Node I created a `task.json` file with an input of a `picklist` for the task parameters.

[code]

The dropdown displays correctly in the task parameters when the task is selected in the build tasks.

However when using `getInput` within the task the value returned is the friendly description and not the name of the option.

The following code:

[code]

[2018-05-21 21:11] williambernardet commented on #306
Was there any fix made on vsts-task-lib lib side or did you just tried with newer agent?

[2018-05-22 05:06] bryanmacfarlane commented on #364
should the defaultValue be "create"?

[2018-05-23 13:43] AceHack opened #366 "Issue with git tagging"
I'm running into the same issue as posted here

https://developercommunity.visualstudio.com/content/problem/91058/tag-sources-not-working-with-custom-variable.html

I've tried using the workaround described using the Git Tag task from here
https://github.com/ReneSorensen/VSTSTools

But that freezes and never completes on the git push.

I've also tried using a yaml build and just running the git ta

[2018-05-23 13:54] AceHack commented on #366
FYI I also tried updating the $(build.buildNumber) in a script and while that worked it caused other issues like VSTS starts forgetting the revision number of builds and you have build number conflicts because the same revision number is used more than once

[2018-05-23 19:02] bryanmacfarlane commented on #366
here's the docs on how to run git scripts (that make changes) as part of your build

https://docs.microsoft.com/en-us/vsts/build-release/actions/scripts/git-commands?view=vsts

It's hanging because git is prompting for credentials.

Specifically, if you check this option we will give your scripts access to the bearer token and git commands that need security will just work.  That bearer token is p

[2018-05-24 21:03] vitru commented on #306
I am seeing the same issue and running agent 2.131.0 on a mac. Process tree doesn't get killed when i cancel the job.
In the log i see it's doing process inspection at the end of the job but decides NOT to kill this Python process, which is a child process started with CmdLine task:
[2018-05-24 20:32:56Z INFO JobRunner] Inspecting process environment variables. PID: 842 (Python)
<-- it should be k

[2018-06-05 04:38] alexiffland opened #367 "Self-associated build artifacts not getting deleted when deleting build"
I'm using the PowerShell-API with version 0.11.0 of the sdk.

When associating a filepath as a build-artifact via
` Write-VstsAssociateArtifact -Name $buildNumber -Path $destination -Type "filepath"`
, the created folder ($destination) does not get deleted when deleting the build which belongs to the artifact.

I also tried running
`Write-Host "##vso[artifact.associate type=filepath;artifactname=$

[2018-06-07 15:13] henryju commented on #333
I don't know if it is related, but there are a few strange things. First, options.errStream is only used if you set options.failOnStdErr to true. See: https://github.com/Microsoft/vsts-task-lib/blob/7dca1fc53e9886ac719a98e811b28339de108de0/node/toolrunner.ts#L727

I tried to add:
[code]
in my extension code, but then I end up having every message on stderr logged twice (once on stdout, and once as

[2018-06-07 18:40] myermian commented on #59
I realize that this issue is closed, but I have a related question. My extension works when I include node_modules/* in the same folder as my task.

My question is if there is a way for typescript to drop in only those modules which are required for that task. It seems a bit overkill to include all the JS, TS, and readme files. Do I only need the *.js files to be packaged up or the *.ts files or b

[2018-06-08 19:11] myermian opened #368 "Is there any way to avoid having to copy the entire node_modules directory?"
I am working on an extension which contains lots of contributions, including custom tasks for private usage. My tasks kept failing due to not finding the module 'vsts-tasks-lib/task'.

According to https://github.com/Microsoft/vsts-task-lib/issues/274, I copied the entire node_modules directory into my tasks' directories during the packaging process (this works). This is not ideal because the node

[2018-06-11 22:08] ChrisLGardner commented on #314
Is it possible to update the current PowerShell handler to work similarly to the v2 task? Use pwsh if it's there and fall back to Windows PowerShell if it's not? Or add a an extra property to the handler definition in the task.json file to say if it should try pwsh at all, defaulting to false to maintain legacy support?

Hopefully the task authors will know if their task will run in pwsh and by no

[2018-06-11 22:12] bryanmacfarlane commented on #314
It's possible but it's going to be explicit.  Yes, authors will know whether their task will run on powershell core and more importantly, not windows only and they should mark the task.json appropriately.  That marking will be "powershellcore".  Existing powershell3 tasks were written and distributed with an assumption of windows only so it needs to be explicit.

[2018-06-11 22:25] ChrisLGardner commented on #314
So is the intention that a task marked as requiring the powershellcore handler will fall back to Windows PowerShell if pwsh isn't available? Or do we have to maintain two versions with the same functionality?

I've got at least one task I'd love to make available on nix and Mac but don't want to maintain multiple versions or have some funky build process to copy the files around and then package i

[2018-06-11 22:34] bryanmacfarlane commented on #314
powershellcore handler should be able to handle all platforms and all scenarios.  The powershell3 implementation has it's current restrictions.  You will be able to write one.  It's not documented on how they differ because it's not designed/implemented yet.  It's an outstanding enhancement request.

[2018-06-11 22:43] ChrisLGardner commented on #314
I might have a look at implementing a powershellcore handler then.

I'm the powershell3 question, I work on this pester task and it uses the powershell handler, that's what I was curious about the differences between it and the powershell3 one. If there are no real differences then I'll leave it as it is, everything seems to work fine so I assume it's not a problem.

https://github.com/rfennell/vN

[2018-06-12 00:28] bryanmacfarlane commented on #314
If you take a stab at it, make sure you write up a proposal / design in the vsts-agent repo in the form of a forked branch in the docs / preview folder as markdown.  We want to avoid a large PR only to be rejected.

TL;DR;
As an FYI, here's what we're struggling with internally (and the concepts get confusing so I'll try my best to be concise :) )

We have a major shift and feature set around yaml

[2018-06-12 13:09] ChrisLGardner commented on #314
Is the PowerShell Core prereq something that can be presented to the user in a similar way to Demands/Requirements for normal agents? That will need to be used anyway for users not using containers as part of their build process. I'm not sure how well those requirements are currently presented to a user when using YAML definitions but I assume it is still done in some way since those requirements

[2018-06-12 14:47] bryanmacfarlane commented on #314
No, generic tasks from the market place don't have pre-reqs.  The requirement is you install the task from the marketplace and it works.

Even if you entertained communicating pre-reqs, the problem is shifting pre-reqs.  If you pre-req 1.0 and everyone puts that in their container, when can your task start using capabilities of 1.1?  never.  If they heeded your pre-req at install time and their bu

[2018-06-12 15:36] ChrisLGardner commented on #314
That's a fair point about separating dependencies for the task from the tool, I always think of Java as a dependency for the SonarQube task but it's actually a dependency for the SonarQube tool that is presented to the user as requirement for the build agent to have installed.

The only clean way of handling making use of new functionality in newer versions of a dependency that I can see is to inc

[2018-06-12 16:03] bryanmacfarlane commented on #314
@ChrisLGardner - Cool.  Thanks for listening :)

[2018-06-13 14:15] grayjeremy commented on #278
I'm getting this error in mock-task.d.ts as well, seems to have been introducted in the node typings https://github.com/DefinitelyTyped/DefinitelyTyped/commit/e792d401de807aacdedb14fbc06677347c903602  / https://github.com/DefinitelyTyped/DefinitelyTyped/pull/18917

The typescript error I get from vsts-task-lib is

Class 'FsStats' incorrectly implements class 'Stats'. Did you mean to extend 'Stats'

[2018-06-13 20:27] mrichins opened #369 "[Feature Request] Release Definition"
Being able to define builds in yml files is a huge improvement for defining the process for the company I am working with now. It lets us version control and standardize (maybe someday generate!) build definition configurations for multiple teams. Also keeping the version within a team's repository encourages collaborative ownership of the build process. However, the benefits dry up as soon as we

[2018-06-13 21:01] ericsciple commented on #369
yep this is on the roadmap

[2018-06-14 19:47] mmajcica commented on #280
Since the SDK version 0.11 you have the necessary to retrieve the secure file also from PS.

here an example

[code]

@stephenmichaelf  or @ericsciple this can be closed

[2018-06-14 19:49] mmajcica commented on #270
In the version 0.11 of the SDK this was added. @ericsciple  or @madhurig you can close this.

[2018-06-18 11:03] iashishmittal commented on #318
@henryju :
I agree that if users have to drop and define again their endpoints, it is a tedious process.
But changing URL for existing endpoints directly can have issues.
As each service endpoint stores their own url information, there can be data inconsistency issue if we start reading URL from extension but remaining data from service endpoint.

We are planning to support updating hidden urls wh

[2018-06-18 15:32] henryju commented on #318
A manual action is still required, but at least users will have a way to do it easily. So this is a good enough solution IMO. Thanks for the update.

[2018-06-18 17:23] stephenmichaelf commented on #280
Thanks @mmajcica !

[2018-06-18 17:23] #280 closed

[2018-06-18 17:50] nehaagrawal opened #370 "vsts-task-lib/task getVariable returns null"
My goal is to access VSTS Variable(env variable) in my javascript code.  I am using 'vsts-task-lib/task' library and getVariables() is returning null. This is what I have tried.

In package.json
` "vsts-task-lib": "^2.4.0",`

in javascript code
[code]

[2018-06-18 17:58] bryanmacfarlane commented on #370
If you just want to access an environment variable then just use `process.env["MY_KEY"]`

getTaskVariable is used for reading variables set on the definition variables tab or set via output variables ot the setTaskVariable method.

What is setting what you're trying to read?

[2018-06-19 13:46] iashishmittal commented on #318
Fix is done in product.
Fix will be deployed in next release cycle which is expected to be in around 5-6 weeks from now.

[2018-06-19 18:58] brcrista opened #372 "mock-task can't load task inputs and variables when AGENT_TEMPDIRECTORY is set"
Apparently from this change: https://github.com/Microsoft/vsts-task-lib/blame/master/node/internal.ts#L692

When tasks have tests that set a value for AGENT_TEMPDIRECTORY, the `getInput` function on mock-task (which is the same as the production version and calls into that _loadData function) is unable to load any of the task inputs.

**Repro**
install version >= 2.1 of task-lib to one of the foll

[2018-06-27 04:13] AhmedAbdohOrtiga opened #376 "Task hangs in case of creating new process inside the power-shell script!"
My custom build task hangs only in VSTS build
in my power-shell script I create a new process that executes some .exe file
but once I start the process it hangs and never ends (only in VSTS, locally in windows it works fine)

I tried to change the .exe to .dll and it works fine in both VSTS and windows

Here is sample for the code
1- In case of exe (**which hangs**)

[code]

2- In case of changing

[2018-06-28 14:13] somefella123 commented on #280
What value do I use for $secFileId?

I've tried using the guid identifier and just a simple "1". In both cases I don't get a value back from Get-VstsSecureFileTicket or Get-VstsSecureFileName.

Are there other steps I should be doing prior to using the code sample above?

[2018-06-28 15:29] somefella123 commented on #280
OK - that's moved me forward a little, thank you, but I still see something odd blocking my desired outcome. Do you have any suggestions?

The UI Control (type: secureFile) sends in a Guid - this is, as expected, the Id of the file.

If I use your code with the Id passed in from the UI control, then I can download the file.
If I use your code with a hardcoded Id that happens to match the Id that t

[2018-06-28 15:42] mmajcica commented on #280
Good to hear that. I'm not sure about the internals, however if you take
look at the agent sources, you should be able to find about the 'magic'.

Let us now if you discover more about this argument.

On Thu, 28 Jun 2018, 17:29 Duncan Millard, <notifications@github.com> wrote:

[2018-06-29 15:31] pinkfloydx33 commented on #280
@mmajcica I'm trying to do similar to the extension you linked. However whenever I download the secure file, the content is ALWAYS in the following format:
{"id":"guid","name":"my.file"}

Any thoughts on what I might be doing incorrectly? I'm literally using the code you provided (copy/paste). I'm wondering if I need to add a scope to my manifest file to be able to access secure files.

[2018-07-02 07:39] DuncanMillard commented on #280
Just to close the loop on this one - I experimented a fair bit with getting access to secure files, including looking at the Agent source. In short... you can't do it, you have to pre-select the file to download using the out of the box task (or your own task with an input parameter of type secureFiles).

This appears to add the Secure File to the agent's execution context, which then makes it ava

[2018-07-09 18:49] lkillgore opened #380 "Include support for Node 8.7+"
Using Node ~8.7+ prints warnings like: `(node:37380) Warning: Use Cipheriv for counter mode of aes-256-ctr`

Because the cipher is hardcoded [here](https://github.com/Microsoft/vsts-task-lib/blob/1195328c3ab17a17a75360015e230193177c4981/node/vault.ts#L8) to an algorithm that later versions of Node warn against.

[2018-07-24 01:20] calebcartwright commented on #368
Hi @myermian - thought I'd chime in with some of the various solutions we've used for packaging up node_modules with the tasks. Each has pros & cons, but we've found them all to be better than copying the entire node_modules directory on each publish.

- We've used modules like [copy-node-modules](https://www.npmjs.com/package/copy-node-modules) which you can use to copy only the dependencies your

[2018-07-24 17:16] marceloavf opened #381 "Create tests for Endpoint"
I'm trying to write some tests for a task that use some endpoint, but `vsts-task-lib/mock-run` is returning some errors and I can't know why this exactly happening.

file.test.ts
[code]

the part where the error stack:
[code]

Log error:
[code]

[2018-07-26 13:38] vithati opened #383 "Command arguments Quotations not visible in Linux agent logs"
I am using docker run task to execute a one liner script in a container just build in the pipeline. The idea is to execute:

docker run -t my-container sh -c "ls *.Test/*.csproj | xargs -L1 dotnet test -c Release --logger:trx -r ../../test_out"

So I set up a docker run task and pass sh -c "ls *.Test/*.csproj | xargs -L1 dotnet test -c Release --logger:trx -r ../../test_out" in the field Command.

[2018-07-26 13:40] vithati commented on #383
I looked at code  https://github.com/Microsoft/vsts-task-lib/blob/f22b24bd393becbb370b95f394e3f2cdcc823964/node/toolrunner.ts , looks like for linux, quotations not handled like windows.

[2018-07-31 20:42] jareddjenkins commented on #381
Just an FYI, I just spent quite a lot of time troubleshooting an issue with Endpoint_ in the name. It seems to be somehow reserved, I'll submit a separate bug for the issue, but this may help.

[2018-07-31 20:44] jareddjenkins opened #385 "Variable with Endpoint_ in the name return empty."
When using Get-VstsTaskVariableInfo, if your TFS variable name contains Endpoint_ , the value returned will be empty.

[2018-07-31 21:56] scott-lin opened #386 "GetInput results in error "Cannot read property 'retrieveSecret' of undefined""
### Issue Description

I'm developing a custom build task using `"vsts-task-lib": "^2.6.0"` dependency. The first action my task performs is to fetch inputs (see line 97 below). When doing so, it fails with error, "Cannot read property 'retrieveSecret' of undefined".

``
Line 97:     let openApiDocumentVersion = tl.getInput('openApiDocumentVersion', true);
``

It seems "_vault" is undefined when c

[2018-08-01 18:41] scott-lin commented on #386
I found the root cause. My task's directory structure looks like this:

[code]

Since there are two copies of vsts-task-lib, I suspect the copy which was not initialized was being used. I do not know of a way to confirm this, but I collapsed the node_modules folders into a single folder (at the root), and I no longer repro the issue.

[2018-08-01 18:41] #386 closed

[2018-08-02 13:47] programmeratheart opened #387 "Get-VstsInput is not recognized as the name of a cmdlet"
I am new to VSTS and powershell. Try to use Get-VstsInput as part of powershell. BUt getting an error I did install the vsts-task-lib on my agent. BUt still getting error.

Get-VstsInput : The term 'Get-VstsInput' is not recognized as the name of a cmdlet, function, script file, or operable program.                                 Check the spelling of the name, or if a path was included, verify t

[2018-08-02 18:47] MouthOfMadness opened #388 "Example URLs are broken"
Click the example urls and you get page not found.

[2018-08-03 02:59] bryanmacfarlane commented on #388
Can you clarify which urls and which pages?

[2018-08-03 03:00] bryanmacfarlane commented on #385
Endpoint_ and Input_ are reserved for marshalling endpoint and input data

[2018-08-03 13:01] ericsciple commented on #387
It sounds like may be trying to call the task lib functions from an ad hoc script. Unfortunately the task lib isn't for ad-hoc scripts, it is for custom tasks. It needs to be packaged [with your custom task](https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/Docs/Consuming.md). Does that help?

[2018-08-06 15:43] MouthOfMadness commented on #388
The MSBuild Task: https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/MSBuild/MSBuild.ps1

The VSBuild Task: https://github.com/Microsoft/vsts-tasks/blob/master/Tasks/VSBuild/VSBuild.ps1

Under the Reference Example: https://github.com/Microsoft/vsts-task-lib/tree/master/powershell

From: Bryan MacFarlane <notifications@github.com>
Sent: Thursday, August 2, 2018 9:59 PM
To: Microsoft/vsts-ta

[2018-08-07 16:15] stephenmichaelf commented on #388
Thanks I will fix this.

[2018-08-09 19:55] vtbassmatt opened #389 "Background process can hold onto streams, causing jobs to not finish"
On Linux, the test agents hang indefinitely under the following conditions:

* A main process is launched by the agent
* Main process launches a new process which inherits the handles of the main process
* Main process exits before the child process

See https://github.com/natemcmaster/repro-vsts-stdout-blocking

We talked about addressing this by watching a couple of Node events and, if some thre

[2018-08-10 05:17] nigurr commented on #389
@ericsciple We are also facing the same issue in test execution task. If test code leaves any stale process (typically chrome driver), we end up hitting task timeout in the end even though test execution is completed.

[2018-08-14 13:58] mmajcica opened #391 "mockery as dev dependency"
Shouldn't the mockery package be a dev dependency?

[2018-08-15 07:11] alexmbaker opened #392 "tasks.schema.json - Is it complete?"
Looking at the [VSTS Tasks](https://github.com/Microsoft/vsts-tasks) repository I can see that task.json file for many tasks contains something like

[code]
This property is not listed in the tasks.schema.json is this correct?

I have also encountered an additional version property `isTest`, I think it was in the [VSTS REST API](https://docs.microsoft.com/en-us/rest/api/vsts/distributedtask/taskgr

[2018-08-15 11:35] bryanmacfarlane commented on #392
They were intentionally left out because they are not supported / honored completely.  There's a task to go remove it from our tasks.  Sorry for the confusion.

[2018-08-15 11:38] bryanmacfarlane commented on #391
The task lib ships with mockery so task authors can use the testrunner classes per the step by step.  It's used by code that ships in the lib: https://github.com/Microsoft/vsts-task-lib/blob/master/node/mock-run.ts#L2

[2018-08-15 11:38] #391 closed

[2018-08-21 14:36] xdaDaveShaw opened #394 "findMatch pattern with ? doesn't match zero occurences"
**Version**: Latest master

**Repro:**

The following files on Disk:
\File1.txt
\File2.txt

Run `findMatch` with the pattern `File?.txt`

**Expected:**

\File1.txt
\File2.txt

**Actual**:

No Files Found

**Additional:**

I've change the findmatchtests.ts for [`supports matchBase include patterns with glob`](https://github.com/Microsoft/vsts-task-lib/blob/f6ac00662f9156fe826da9495d2cddf77caaa6a8/n

[2018-08-21 14:40] ericsciple commented on #394
The is the [match pattern reference doc](https://docs.microsoft.com/en-us/vsts/pipelines/tasks/file-matching-patterns?view=vsts)

[2018-08-21 14:42] ericsciple commented on #394
It sounds like `*.Test?(s).dll` is what you want

[2018-08-21 14:43] xdaDaveShaw commented on #394
Silly me, I don't know why I didn't think to just write a new Pattern that would work.

I've kicked off another build with that pattern.

[2018-08-21 14:47] ericsciple commented on #394
Was there a regression in a task? Which task? At one point went through and standardized the match pattern implementation across most tasks. We generally waited for a clean break (like when we needed to rev the task major-version). Did you choose a different major version of a task? I'm wondering if the markdown on the major-version upgrade for a particular task is missing information about the pa

[2018-08-21 14:55] xdaDaveShaw commented on #394
Let me check, I was comparing against the pattern from our XAML Builds. I've queued a vNext build on TFS with the old pattern to see what results I get.

[2018-08-27 05:56] KennyTangHK opened #395 "Export "Write-LoggingCommand" for Powershell lib"
Currently, the Powershell lib doesn't export the `Write-LoggingCommand` which Node.js lib does.

[code]

It seems the only way to achieve functions like the following is to write the `##vso[]` string manually.
[code]

The `Write-LoggingCommand` should be exported so that the same functions can be achieved.

[2018-08-27 13:57] stephenmichaelf commented on #395
@ericsciple

[2018-09-03 09:08] omeshp commented on #353
@GitHubSriramB Can you add this request to backlog, if not already present?

[2018-09-04 08:47] prawalagarwal opened #396 "Moving tasks to use latest @types/node throws for mock-task.ts"
As per the requirements on the task owners on Microsoft/vsts-task to move to using [definitely typed type definitions](https://github.com/DefinitelyTyped/DefinitelyTyped), we are moving VsTestPlatformToolInstallerV1 task to use @types/node (v 9.6.31).

Post this the task build fails with:

  Property 'atimeMs' is missing in type 'FsStats'.

Looks like the mock-task.ts implementation of FsStats nee

[2018-09-04 12:59] stephenmichaelf commented on #396
We don't support Node 9 right now, can you lower the version for types to 8?

[2018-09-04 13:04] bryanmacfarlane commented on #396
tasks are also run with node 6

atimeMs was added in 8.10

stats.atimeMs#
Added in: v8.1.0

Did you try it at runtime?  Seems dangerous

[2018-09-05 06:04] prawalagarwal commented on #396
Using 6.0.101 now. The task build fine.

[2018-09-05 06:04] #396 closed

[2018-09-07 19:36] ChrisLGardner opened #398 "Custom Task hangs on completion"
## Agent Version and Platform
Version of your agent? 2.139.1

OS of the machine running the agent? Windows 10 Ent

## VSTS Type and Version
blackmarble-source.visualstudio.com

## What's not working?
I have a custom task which runs PowerShell ScriptAnalyzer and generates an XML file for SonarQube. In one of our builds the task has stopped exiting, it does everything necessary and reaches the end o

[2018-09-07 19:43] ChrisLGardner commented on #398
I've narrowed it down to a specific line in the code I'm testing against but I don't know what that would be causing my custom task to hang while the PowerShell task is not.

[2018-09-08 18:47] ChrisLGardner commented on #398
I've solved the issue, it was due to a runspace being started up and not closing. Though why the runspace even started in the first place is unknown as none of the code in use should have triggered that.

[2018-09-08 18:47] #398 closed

[2018-09-13 18:44] marceloavf opened #400 "Azure pipelines github app endpoint connection"
Hi everyone,

I'm having some troubling with the new Azure Pipelines app for GitHub while trying to get the Endpoint.

It returns a new type of parameters as you can see here https://github.com/marceloavf/github-tools-vsts/issues/29. I tried to check for some documentation but didn't find anything. IIs there somewhere to ask about this problem or get some information?

Here is a piece of the code

[2018-09-28 13:28] Liero opened #403 "How to locate tool referenced in .csproj using DotNetCliToolReference?"
Let's say I want to invoke some CLI command that is defined in .csproj like this:

[code]

Now, I would like to invoke the tool.

[code]

[2018-10-04 07:32] henryju opened #408 "Failed find: Maximum call stack size exceeded"
vsts-task-lib 2.4.0
My task is looking for a file produced during the build. I know the name of the file (report-task.txt), but not its location. So I'm using:
[code]
Unfortunately, when there are too many files in the build directory, it fails with:
[code]

Would it be possible to fix the behavior?

[2018-10-06 18:01] MSP-Greg opened #410 "powershell/VstsTaskSdk/ToolFunctions.ps1:113 - error with Pipelines"
Getting an error when running in a Pipelines script at [`powershell/VstsTaskSdk/ToolFunctions.ps1:113`](https://github.com/Microsoft/vsts-task-lib/blob/0b96551bd24bc693cdf57552d01742f52ce972a5/powershell/VstsTaskSdk/ToolFunctions.ps1#L113)

[code]

[2018-10-06 18:33] ericsciple commented on #410
Can you provide more details? It looks like you are using the Command Line task. What is your batch script doing? If you have a small repro to share, that would help.

[2018-10-06 19:45] MSP-Greg commented on #410
Sorry.  A little frustrated.

The project is [here](https://dev.azure.com/MSP-Greg/ruby/_build/results?buildId=178&view=logs), in the make test-spec` step.  the yml is [here](https://github.com/MSP-Greg/ruby/blob/fce968451928aa81e7b8b1904b348e2ad2e6e866/azure-pipelines.yml#L114-L122) & [here](https://github.com/MSP-Greg/ruby/blob/fce968451928aa81e7b8b1904b348e2ad2e6e866/azure-pipelines.yml#L216-L2

[2018-10-07 15:18] ericsciple commented on #410
If you know the variables you want to export, you can `echo ##vso[task.setvariable variable=<NAME>]<VALUE>`. An example is [here](https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=vsts&tabs=yaml%2Cbatch#set-a-job-scoped-variable-from-a-script). The value will be propagated to downstream tasks as environment variables.

[2018-10-07 15:30] MSP-Greg commented on #410
@ericsciple

Thanks.  I'm using that, but not for the env set up with `vcvarsall.bat`.   I guess I haven't felt like digging thru a file that I feel MFST should have provided a long time ago.

Regardless, what I've had running on Appveyor for quite a while will not run consistently in pipelines.  Hopefully I'll discover why...

[2018-10-07 15:32] ericsciple commented on #410
I just forked your repo. I've never seen an issue with that particular line in the SDK so i'm interested to see what is going on.

[2018-10-07 15:58] MSP-Greg commented on #410
Thanks.

You've probably noticed already, but it's the `azure-pipelines` branch, yml is in the root, and there are two ps1 files for setup in the tool folder, `azure_pipeline_prereqs_vc.ps1` & `azure_pipeline_prereqs_mingw.ps1`.

I'm working in it, and since things aren't working, it's kind of a mess.  When I get things stable, I'll be squashing and re-organizing the commits...

The error seems to

[2018-10-07 18:03] ericsciple commented on #410
@MSP-Greg I'm honestly a little confused by the error. I think the error coming from the line in the task sdk `if ($originalEncoding) {` is because the timeout is firing, and the task process is getting the CTRL+C signal.

However, I haven't found how to reproduce the issue outside of your build. For example I tried a few different things, like:
[code]

I think the timeout is the real issue, and t

[2018-10-08 05:01] ericsciple commented on #410
I got the same result even after redirecting the streams.

[code]

And still got:

[code]

The `if ($originalEncoding)` line is in the [finally block](https://github.com/Microsoft/vsts-task-lib/blob/master/powershell/VstsTaskSdk/ToolFunctions.ps1#L113). The task calls cmd.exe (that is why Invoke-Tool from the task SDK is being called). The timeout fires (and CTRL+C signal is sent) first, and then

[2018-10-08 12:52] henryju commented on #408
Yep.

[2018-10-08 14:19] vtbassmatt commented on #410
@vijayma: Eric is going to keep helping with the specific issue here. There's broader feedback for the C/C++ ecosystem, though -- see https://github.com/Microsoft/vsts-task-lib/issues/410#issuecomment-427601267 where it's challenging to find vcvarsall.bat (which, I believe, is required to make the C/C++ toolchain work properly).

[2018-10-08 15:15] MSP-Greg commented on #410
Not quite.  The state it creates may need to be maintained across multiple steps, and it can't be easily used with a PowerShell step.  Working mostly with software that is more rooted In GNU/*nix than Windows, I prefer to work with PowerShell, as it (generally) works with both slashes and backslashes.

Maybe have a task that loads env variables needed for the C/C++ toolchain into build/job variabl

[2018-10-08 17:00] MSP-Greg commented on #410
Matt,

I email latter, thanks.

I was going to say that's someone else's problem, but I recall time limits are much greater with pipelines that other services.  Also, in my Ruby master/trunk/head cron job, I had a bit of ps1 code to time limit the test suites in case any of them froze...

[2018-10-08 18:59] ericsciple commented on #410
I modified the step to verify CTRL+C is fired before the ruby process finishes. So I think this proves the `$originalEncoding` error is a red herring and the real issue is why is the command timing out.

[code]

[2018-10-08 19:10] ericsciple commented on #410
Is it always a specific test that is hanging? Another option is to try commenting out the hanging test - may help distinguish a bug in the test versus elsewhere

[2018-10-08 19:49] MSP-Greg commented on #410
@ericsciple

I messed up my code refactoring, and I've been trying to get the previous test suite (test-all) stable first.

The test suite with the timeout issue is the test-spec suite, and the problems seemed to be with the OLE tests.  One of the Ruby maintainers is trying to fix the VC builds on Appveyor, and he had issues with the test-all OLE tests, but not the test-spec OLE tests.

Also, I pa

[2018-10-10 12:51] damccorm commented on #191
I'm going to close here since it looks like this is already fixed - https://github.com/Microsoft/vsts-task-lib/blob/9cedd04cc64c6b899b8b7826c54ec67c4682aa28/node/docs/stepbystep.md#add-typings-for-externals

[2018-10-10 12:51] #191 closed

[2018-10-10 13:59] #205 closed

[2018-10-10 13:59] #388 closed

[2018-10-11 13:39] damccorm commented on #366
@AceHack looks like this has been resolved so I'm going to close. Feel free to reopen if appropriate.

[2018-10-11 13:39] #366 closed

[2018-10-11 15:18] damccorm commented on #318
@henryju I'm going to close since the fix was deployed. Please feel free to reopen if appropriate.

[2018-10-11 15:18] #318 closed